[2022-09-15 10:15] chapuisk commented on #3486
Here is the ``execution`` parameters of Gama for the git version; while for the RC2 version there are at default values (nothing has been changed, I even rebuild and redownload everything to do the tests)

<img width="1048" alt="Screen Shot 2022-09-15 at 12 14 31" src="https://user-images.githubusercontent.com/13599506/190378577-8dc5655b-d2a7-4ff5-933d-4026dc588e56.png">

[2022-09-16 02:04] AlexisDrogoul commented on #3486
Hum. I can't reproduce the error event after adopting your preferences (not too different from mine btw). Anything else you might have changed in your own installation of GAMA ? Do all the batch models produce the same errors ?

[2022-09-19 07:41] ptaillandier opened #3488 "Warnings with the thread skill and other agents"
**Describe the bug**
When the thread skill is used when there are agents (a grid for example), a warning appear sometimes during the execution of the model:  'at cycle 1724: Agents stack is empty, in write 'current time: ' + #now ;'

**To Reproduce**
Run the following model:
[code]

**Desktop (please complete the following information):**
 - OS: Windows
 - GAMA version: 1.8.2 git

[2022-09-19 07:46] AlexisDrogoul commented on #3488
It happens when a scope is considered as "closed" (ie. the stack of agents to run is empty). I havent looked at the implementation, but maybe it is necessary to create a new scope per thread created -- or more probably each time the runnable_action is executed ? Otherwise, if all threads use the same scope, this kind of behaviour is unavoidable.

[2022-09-19 07:52] #3488 closed, assigned to nobody

[2022-09-19 08:28] AlexisDrogoul commented on #3486
@ptaillandier do you observe the same behaviour ?

[2022-09-19 11:45] Quittqick commented on #3482
Hello,

It seems like headless operation do not release the memory. I found a way to reproduce the issue with prey predator model of gama library.

## To reproduce:
1. Download : [Memory_issue.zip](https://github.com/gama-platform/gama/files/9597950/Memory_issue.zip)
2. Unzip **Memory_issue.zip**
3. Clone corresponding gama version inside **Memory_issue** : `git clone https://github.com/gama-platf

[2022-09-23 01:47] AlexisDrogoul opened #3489 "GAMA Git Version under Eclipse 2022-09 (4.25) on macOS cannot read existing workspaces"
**Describe the bug**
When compiling and launching GAMA git version (i.e. developer version) using Eclipse 2022-09 (aka 4.25), opening an existing GAMA workspace generates lots of errors (esp. "Operation not permitted" errors on metadata Eclipse files) and ends up in a non-functional GAMA instance.

**To Reproduce**
Steps to reproduce the behavior:
1. Download Eclipse 2022-09 (https://www.eclipse.o

[2022-09-23 16:54] AlexisDrogoul commented on #3482
@Quittqick since you used YourKit, have you been able to take a snapshot, so as to have a complete map of the instances present in memory ?

[2022-09-25 09:21] Quittqick commented on #3482
@AlexisDrogoul You can find the snapshot inside Memory_issue > tmp > profiling of the previous post.

[2022-09-26 00:58] AlexisDrogoul opened #3490 "Popup documentation in editor do not show up for action arguments"
**Describe the bug**
In the GAML editor, no documentation show up when moving the mouse over action arguments.

**To Reproduce**
Steps to reproduce the behavior:
1. Open (for instance) `GAML Syntax > System > RunThread.gaml`
2. Move the mouse over `interval: `
![RunThread gaml - Gama (runtime) 2022-09-26 07-54-46](https://user-images.githubusercontent.com/579256/192174430-6aadec2e-76b0-42fb-9f4e-c

[2022-09-26 01:04] AlexisDrogoul opened #3491 "The popup documentation of actions does not mention their arguments"
**Describe the bug**
When hovering in the editor over an action name used in `do`, the list of possible arguments does not appear (while it does for statements).

**To Reproduce**
Like in #3490, steps to reproduce the behavior:
1. Open (for instance) `GAML Syntax > System > RunThread.gaml`
2. Move the mouse over `run_thread `
![Monosnap 2022-09-26 08-02-29](https://user-images.githubusercontent.co

[2022-09-26 01:13] AlexisDrogoul opened #3492 "Primitives marked as virtual and not redefined in global do not show as compilation errors but prevent model from running"
**Describe the bug**
If a model (`global`) is marked as implementing a skill that defines a `virtual` action (i.e. that should be redefined) without redefining it, it compiles correctly but generates an error when trying to run it.

**To Reproduce**
Steps to reproduce the behavior:
1. Open (for instance) `GAML Syntax > System > RunThread.gaml`
2. remove the definition of `thread_action` in `global

[2022-09-26 08:58] AlexisDrogoul commented on #3486
Any hint on how to reproduce this bug ? I can't do it and I really dont see where it comes from...

[2022-09-29 08:31] chapuisk commented on #3486
@AlexisDrogoul I'll try few things today to reproduce more consistently, but the fact that it happened using batch makes it quite hard to fix all conditions... if I fail, I'll close the issue

[2022-09-29 09:42] phiola opened #3493 "Value of parameter not displayed correctly in GUI simulation"
**Describe the bug**
When the initial value of a parameter is set by a user defined function/action, it is not displayed in the list of parameters of the simulation, even though it has the correct value.
**To Reproduce**
Steps to reproduce the behavior:
1. Run this code:
[code]
2. Look at the parameters.
3. Parameter "Test" should show value `3`, but shows `0`.
4. In the interactive console you ca

[2022-09-29 10:05] phiola opened #3494 "Initial value of parameter not set when using facet "among""
**Describe the bug**
Setting the initial value of a parameter that uses the `among`-facet with a user-defined action/function results in the function not being called. Instead, the parameter is assigned the first value in the list of possible values. Using an internal function (for example `rnd`) works without an issue.
**To Reproduce**
Steps to reproduce the behavior:
1. Run this code:
[code]
2.

[2022-09-29 11:33] AlexisDrogoul commented on #3482
@Quittqick the snapshot is only a simple one. It does not contain any information about the object allocations, for instance.

[2022-09-30 02:10] AlexisDrogoul opened #3495 "Inconsistency and incoherences in the editor's popup documentation of actions arguments in GAML"
(this issue subsumes #3490).
There are many ways to call an action (or a primitive) in GAML. See for instance the below syntaxes (where `run_thread` is a primitive declared in the `thread` skill):

[code]

Besides the inconvenience of having so many different syntaxes where we probably only need one or two (but it is another issue), there are also inconsistencies with the popup documentation in th

[2022-09-30 02:17] AlexisDrogoul commented on #3490
Subsumed by #3495

[2022-09-30 02:17] #3490 closed, assigned to AlexisDrogoul

[2022-09-30 02:56] AlexisDrogoul commented on #3495
See https://github.com/gama-platform/gama/commit/70b20d87a517657301ffd99f1b7ec4d4086fe713, which solves the inconsistency of hovering on action names.

[2022-10-02 16:11] #3495 closed, assigned to AlexisDrogoul

[2022-10-02 16:11] #3491 closed, assigned to AlexisDrogoul

[2022-10-05 08:07] hu1909 opened #3496 "The latest version of GAMA have some trouble with the display"
**Describe the bug**
Hi everyone, I have some trouble when I change the display of the model that I run.  As you know HoanKiem Air project can switch between 2 kinds of display: Traffic mode and Pollution mode. In this case, I have trouble changing the display into Pollution mode. To remind you guys, Pollution mode which is visualized based on the calculation of how much the emissions emitted from

[2022-10-05 15:44] agrignard opened #3497 "Potential issue using Headless mode with Socket on Windows"
**Describe the bug**
I am not sure if this is the right place to post this issue (and if it's an issue) but I find a problem using the client (javascript client) / server (Gama Headless) architecture on Windows.

The architecture work well with Ubuntu/Mac OS but I have the following error thrown by GAMA when I "plug" my JS client to Gama headless Server using windows

[code]

**To Reproduce**
The

[2022-10-05 16:59] agrignard opened #3498 "Trace triggering from a key doesn't have the same behavior depending on the initial value of the facet trace"
**Describe the bug**
I want to press a key ('t') to trigger or not the trace facet on a specific layer (e.g people)

I wanted to use something like this

[code]
So far so good when you initialize show_trace to true (if you press the key 't' the trace will be on and off)
[code]

now if you initialize  show_trace to false (ones might not want to see the trace at the beginning of the simualton especi

[2022-10-06 04:25] hu1909 commented on #3496
We just figure out that the issue is not from the display, it's from the "break" statement I use. I will open a new issue about the "break" statement

[2022-10-06 04:25] #3496 closed, assigned to nobody

[2022-10-06 04:38] hu1909 opened #3499 "Trouble with a "break" statement in the last "match" of a "switch""
**Describe the bug**
Hi, everyone. Last time, I opened an issue about the bug related to the GAMA display but my boss figured out that the problem did not come from the display. He reviewed my code and found that the "break" statement that I used in some blocks of my code not only escaped my code but also broke my model. So that is why my model froze after I changed into the Pollution mode.

**To

[2022-10-06 04:49] hu1909 opened #3500 "Problems for launching GAMA under some installations of Windows 11"
**Describe the bug**
It's me again. Today, I try to run GAMA on another computer that has Windows 11, and it seems GAMA crashed in the very beginning steps. For the GAMA only (the latest version, GAMA 1.8.2 Release Candidate 2, GAMA LFAY), when I click it, I still jump into an initial step but when the workspace pops up, it closes immediately.
And for the git version that I use eclipse to run, it

[2022-10-06 08:40] AlexisDrogoul commented on #3494
This issue, as well as #3493 , is now fixed in my opinion. The problem was that the initial value of the parameter was determined by calling a function which was defined only in the model (i.e. the simulation), not accessible by the experiment. So it means that the initialisation should only use general operators/actions, constants, or functions declared in the experiments. The compiler now correc

[2022-10-06 08:42] AlexisDrogoul commented on #3493
This issue, as well as #3494 , is now fixed in my opinion. The problem was that the initial value of the parameter was determined by calling a function which was defined only in the model (i.e. the simulation), not accessible by the experiment. So it means that the initialisation should only use general operators/actions, constants, or functions declared in the experiments. The compiler now correc

[2022-10-06 10:41] agrignard opened #3501 "Mesh doesn't show up when coupling with a Keystone"
**Describe the bug**
I discover today that coupling a mesh layer with a keystone imply a non visible mesh

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ```models/Visualization and User Interaction/Visualization/Building Heatmap.gaml```
2. Add any keystone on the display
e.g ```display HeatmapPalette type: opengl axes: false background: #black keystone: [{-0.13461307306143822,-0.27263

[2022-10-07 13:23] agrignard opened #3502 "Potential problem with mac mini M1 and overlay"
**Describe the bug**
A very weird bug (pretty fun to discover it the day before a demo ;-))

Pretty difficult to reproduce as it seems to be due to 2 different hardware settings but from what I understand can be potentially because of the M1 or the Mac Mini M1.

So let me try to explain how to reproduce it

**To Reproduce**
1. Clone this repo https://github.com/VCityTeam/UD_ReAgent_ABM
2. Run mode

[2022-10-07 16:03] AlexisDrogoul commented on #3500
Seems that GAMA is working quite well on similar configurations. Is there anything else we can determine that would explain this error ?

[2022-10-07 17:52] hqnghi88 commented on #3500
Hi,
I accidentally got the same error message with you when tested with an old workspace (git version). I found that i did not add the new plugins (xxx_branding), So please verify that you have checkout the newest code base, and import well all the plugins into eclipse workspace.

[2022-10-08 03:40] RoiArthurB commented on #3500
Update from recent tests :

First, I did test the latest alpha build w/ JDK on a VM (QEMU techno if matter), on a Win 11 on AMD and a Win 11 on Intel with absolutely no problem.

Second, with this precise version on the fault computer, I got some new crash error :
[code]
I did check, and the package `org.apache.felix.scr_2.1.24.v20200924-1939.jar` is present in the `plugins` folder :/

Finally, on

[2022-10-08 07:49] agrignard opened #3503 "Gama RC2 with a JDK needs a JDK on Mac OS"
**Describe the bug**
I have to install GAMA on a new Mac from Scracth. When downloading the GAMA_with_JDK I don't know why when I launch GAMA  it's asking me to install a JDK...

With a pop up window saying "To use Java command-line tools you need to install a JDK"

Is it possible that the last release have a problem or is it only me? Did someone try to install the last RC2 on a new Mac without a

[2022-10-08 09:29] agrignard commented on #3502
My Bad I was using an old version...

[2022-10-08 09:29] #3502 closed, assigned to nobody

[2022-10-08 14:38] AlexisDrogoul commented on #3500
Looks like a read/write permission problem to me. Does the account (and GAMA) have all the authorisations for writing in the workspace ?

[2022-10-09 03:38] #3501 closed, assigned to nobody

[2022-10-09 04:14] AlexisDrogoul commented on #3499
This bug report is not understandable.

Fortunately, I could reproduce it with a small model.

[code]

Running it makes the models stop working after the first time it matches `11`.

[2022-10-09 04:26] #3499 closed, assigned to AlexisDrogoul

[2022-10-09 04:26] AlexisDrogoul commented on #3492
Problem has been fixed and tested

[2022-10-09 04:26] #3492 closed, assigned to AlexisDrogoul

[2022-10-09 12:30] hqnghi88 commented on #3500
So it means release version on a specific machine only (and the git version have no problem at all).
@RoiArthurB dont know how can you passed the splash screen, and how gama crased the first time (which produce the log with felix....)??
Is this an old gama workspace or new one? Can it be releated with #3489 ?

[2022-10-10 03:34] RoiArthurB commented on #3500
Some quick more tests seems to point out that it's a problem related to latest versions of Windows more internal GAMA problem. I want as a proof that some older installed version which were working fine before (used for an exposition) are not working anymore. The only difference is some updates done on Windows 11...

The last clue I have to explain that is that the computers running W11 are a bit

[2022-10-10 03:53] hqnghi88 commented on #3500
Ok , it is not so strange to have an error when combine a Dev version and also a bypass trick on an OS. Do you have some memory security (search for Memory security in Settings page of OS)?

[2022-10-10 04:00] benoitgaudou opened #3504 "Plots : style facet of data : some possible documented values have errors"
**Describe the bug**
Exploring the possibilities of the style facet of the data statement, I add a look at the documentation:
_"style, optional, expects an identifier, takes values in [line, whisker, area, bar, dot, step, spline, stack, 3d, ring, exploded]. - Style for the serie (if not the default one sepecified on chart statement)"_
I notice 2 issues:
* when I use style: whisker : I get a full b

[2022-10-10 07:26] RoiArthurB commented on #3503
@agrignard Very strange behavior that you're describing there... From what we did test (including the RC2 since its release), we never had any similar problem :/

Can you try to double-check that you downloaded the good file.dmg? 🤷 Without any extra information, I'll have to close it as not reproducible...

[2022-10-10 10:38] RoiArthurB commented on #3500
## Last update
Good and bad news at the same time: The problem was the TPM 2 bypass...

I did digged in the bios and see that our computers where compatible, but the option wasn't checked in. So I did activate it, fully reinstall W11 and now GAMA latest works perfectly.

I won't dig in what Windows did update nor try to understand why it matters (feel free to do it if you'd like), but it solved th

[2022-10-10 10:38] #3500 closed, assigned to hqnghi88, RoiArthurB

[2022-10-11 07:02] ptaillandier commented on #3486
I tested once and I had no errors.

Le lun. 19 sept. 2022 à 15:28, Alexis Drogoul ***@***.***> a
écrit :

[2022-10-11 07:41] ptaillandier commented on #3304
It seems to be linked to the prj of the geotiff. For a reason that I don't
understand, GAMA is not able to find the good CRS.
Two workarounds:
 - reexport the geotiff from QGIS
 - add the good prj file (in this case EPSG: 2154) in the same folder as
the gif file and with the same name as the file (see attached prj file).

Le jeu. 10 mars 2022 à 11:09, benoitgaudou ***@***.***> a
écrit :

[2022-10-11 08:16] ttrungtin2910 opened #3505 "Cannot install Plugin in GAMA"
### Steps to reproduce
Following the documentation of GAMA version 1.8.1, I cannot install plugin:

1/ Quickimage: http://manu26.manufrog.com/~psnetnu/eclipse/updates/

2/ RSS/Atom Feed View:
http://www.junginger.biz/eclipse/

3/CKEditor
https://kosz.bitbucket.io/eclipse-ckeditor/update-site

4/Startexplorer
http://basti1302.github.com/startexplorer/update/

5/Pathtools
http://cdn.rawgit.com/sandi

[2022-10-11 08:29] lesquoyb opened #3506 "When an error happen in GamaServer, the simulation keeps trying to run steps"
**Describe the bug**
When running an experiment in gama-server and an error occurs, gama-server does not destroy the experiment and keeps trying to run the next step of the experiment.

**To Reproduce**
Steps to reproduce the behavior:
1. run gama-server
2. ask for this model to be run:
[code]
3. the server keeps printing the exception:
[code]
4. As a side effect, the client too gets spammed by er

[2022-10-11 08:40] ptaillandier commented on #3330
Hi,

The model was written in a rather old style :) . I have fixed this. In
particular:
- I typed all the lists/matrices/maps
- you can't do an ask on a null value anymore (before it did nothing, now
it returns an error).

It seems to work now (you can test it).

Cheers,

Patrick

Le sam. 19 mars 2022 à 04:32, lwinkeler ***@***.***> a écrit :

[2022-10-11 08:54] agrignard commented on #3503
Yep very strange indeed and it was also the first time for me that it happened. (but it did)

The only thing I know is that it was on a mac mini and the first file I downloaded was the without JDK (that's why it was asking me to download the JDK) and then when i redownloaded the one with JDK I kept having the message saying that I need to install a JDK (which I did) when launching GAMA.

I guess w

[2022-10-11 08:54] #3503 closed, assigned to RoiArthurB

[2022-10-11 08:59] RoiArthurB commented on #3505
Hello @tintranrynan ,

Unfortunately, most of those plugins are abandoned by their developers (most of them are not updated for at least 5 years), and this part of the documentation was not updated for a while neither. I changed it for next versions documentation, thanks for pointing it out.

However, if you want to install plugins in the GAMA Platform, this procedure of using `updates` URL is sti

[2022-10-11 08:59] #3505 closed, assigned to nobody

[2022-10-11 09:31] ttrungtin2910 commented on #3505
Thank you for your help

[2022-10-11 09:54] AlexisDrogoul commented on #3506
You should probably look into the preferences: one is explicitly instructing GAMA to stop at first error or not, and maybe its value under GamaServer is not correct ?

[2022-10-11 10:53] hqnghi88 commented on #3506
Yes we should check that pref and i need to verify if headless mode take it into account.

[2022-10-11 15:40] AlexisDrogoul commented on #3498
This issue is normally fixed. Please check the latest commit ! https://github.com/gama-platform/gama/commit/381a0b870551317f2279bca59212d0ce4fc792d2

[2022-10-12 08:41] agrignard commented on #3498
Great! Sorry for this tricky bug not easy to track and also not easy to get either (who on earth want to trigger a trace by pressing a key !)

I'll try the last commit and try to check as much as possible if it has other effect and other layers

[2022-10-12 08:53] #3504 closed, assigned to nobody

[2022-10-12 13:40] lesquoyb commented on #3506
There is a parameter "Stop simulation at first error" set to true in my Gama settings, so I guess it's just not taken into account in server mode

[2022-10-12 15:30] #3506 closed, assigned to nobody

[2022-10-13 06:40] hqnghi88 commented on #3489
Hi, It occurs also on Macos Ventura 13 beta 11 (m1).

[2022-10-14 16:50] AlexisDrogoul commented on #3467
I tested it and it seems to be correct. Maybe we should include it in the tests on graphs ?

[2022-10-17 03:20] lesquoyb opened #3507 "GamaRuntimeException are thrown multiple times"
**Is your request related to a problem? Please describe.**
When a runtime exception happens in a running experiment, the exception thrown multiple times instead of once.
This seems like nothing, but in server mode it leads to as many error messages sent for the same experiment which in my point of view is all but clean for the client.

**To Reproduce**
Steps to reproduce the behavior:
1. From ecli

[2022-10-17 03:52] lesquoyb commented on #3425
Tried on another computer with the same issue, installing `AMD Software: Adrenalin edition` version 22.10.1 solved it. I thus consider the problem solved and added a few lines about it in the `Troubleshooting` page of the wiki.

[2022-10-17 03:52] #3425 closed, assigned to nobody

[2022-10-17 03:58] lesquoyb commented on #3433
Closing as it seems that no other related problems have been found since the fix. Feel free to reopen if it's not the case

[2022-10-17 03:58] #3433 closed, assigned to AlexisDrogoul, ptaillandier, hqnghi88

[2022-10-17 03:59] #3478 closed, assigned to hqnghi88, lesquoyb

[2022-10-17 06:09] lesquoyb opened #3508 "The "reload" experiment from "Create Simulation from file.gaml" library model file raises ConversionException"
**Describe the bug**
When trying to load the `saveSimu.gsim` file in the `reload` experiment from `Create Simulation from file.gaml`, a ConversionException is raised.

**To Reproduce**
Steps to reproduce the behavior:
1.  Open `Create Simulation from file.gaml` in gama
2. run the `saveSimu` experiment until it reaches 5 steps and saves the simulation
3. run the `reloadSimu` experiment
4. See error

[2022-10-17 08:09] lesquoyb opened #3509 "The step back function is not working on some models from the library"
**Describe the bug**
The step back function is failing silently on the models from `Library Models` using the `Memorize Experiment.gaml`. Nothing happens when clicking the button, we can continue with a next step or play, and no exception is written in eclipse console. The button is working correctly on other experiments like `Test - Memorize Experiment - keep_seed.gaml`

**To Reproduce**
Steps to

[2022-10-17 09:16] lesquoyb opened #3510 "In memorize experiments, charts start at the wrong x coordinate when going back to init step"
**Describe the bug**
If you run an experiment of type memorize with one of the display being a chart where the x axis represents the time (cycle) and y any data, going back to the initial step breaks the chart: a first data point is inserted at a time (cycle) of 1, then the data point that is supposed to represent the initial state will be appended  at time 2 while it should be at time 0. this res

[2022-10-17 09:30] lesquoyb opened #3511 "Cycles in status are confusing in memorize experiments"
**Is your request related to a problem? Please describe.**
When running an experiment, the status bar on the top left side of the screen prints "Experiment: X cycles elapsed". While in the general case it's fine, with experiments of type memorize it would be more helpful to give the current cycle instead of the total of cycles elapsed.

[2022-10-17 09:57] AlexisDrogoul commented on #3507
I have pushed a possible solution (it was actually very simple).

[2022-10-17 13:11] lesquoyb commented on #3507
Tested, it works

[2022-10-17 13:11] #3507 closed, assigned to AlexisDrogoul

[2022-10-17 13:59] #3498 closed, assigned to AlexisDrogoul

[2022-10-17 13:59] agrignard commented on #3498
Just tested on GAMA_1.8.2_MacOS_M1_with_JDK_10.13.22_f53a785c and it works

[2022-10-18 12:40] chapuisk opened #3512 "[BATCH] "Exploration method" panel describing batch experiment does not display reliable information"
**Describe the bug**
The panel display (left side) that launches when starting batch experiment does not display reliable information. It should be specified according to the method used.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Library models / Model Exploration / Batch Simulation / Exploration.gaml
2. Click on any experiments (except exhaustive)
4. See the lack of accurate inf

[2022-10-18 12:42] #3486 closed, assigned to AlexisDrogoul, ptaillandier, chapuisk, Quittqick

[2022-10-19 04:21] lesquoyb opened #3513 "[GamaServer] do pause() in a simulation stops all running simulations"
**Describe the bug**
When connecting multiple clients to one gama server, I noticed that once one of the simulation reached the `do pause` line, all the currently running simulations stoped, not just the one where the line was written.

**To Reproduce**
Steps to reproduce the behavior:
1. Run gama server
2. Connect two clients
3. with both clients, run `samples/predatorPrey/predatorPrey.gaml` in t

[2022-10-19 21:12] benoitgaudou opened #3514 "Creating agents from shapefiles with invalid geometries does not raise any error"
**Describe the bug**
When I want to create agents from a shapefile with invalid geometries, no agents are created. But the main issue that GAMA remains silent: no warning or error message appears.

**To Reproduce**
Steps to reproduce the behavior:
1. As an example of model:
[code]
3. As an example of dataset:
[ZF.zip](https://github.com/gama-platform/gama/files/9824401/ZF.zip)

5. Scroll down to '

[2022-10-20 01:30] AlexisDrogoul commented on #3514
Hum... I can't reproduce it with the dataset you are providing.

<img width="717" alt="Newt Window 2022-10-20 08-28-12" src="https://user-images.githubusercontent.com/579256/196834701-253c0378-05d8-4d3f-8467-8ba43cafbade.png">

All the agents seem to be created without problems. Are you sure it is the correct dataset (the filenames do not match with your example model).

[2022-10-20 01:40] codorized opened #3515 "Agent Browser Bug - GAMA 1.8.2"
**Describe the bug**
Whenever agents of a certain species died during simulation and I'm viewing the Agent Browser of that species afterwards, an error is prompting (See 1st Screenshot - My Model). To verify if this is a generic bug, I run the Predator and Prey model and checked the Prey's Agent Browser and found out that it's having the same problem (See 2nd Screenshot - Predator and Prey). Furth

[2022-10-20 04:36] lesquoyb commented on #3513
Tested: it works, thank you 👍

[2022-10-20 04:36] #3513 closed, assigned to nobody

[2022-10-20 04:49] benoitgaudou commented on #3514
Thanks for testing it... and I admit that I am not able to reproduce it either after a good night ...
The only thing I was able to get my issue is when (i) the file extension is .SHP (and not .shp) and that (ii) I drag and drop the file in my model, I get this line:
[code]
in this case no zf agent is created.

If I change manually the type of file reading operator, agents are correctly created:
[c

[2022-10-20 06:59] AlexisDrogoul commented on #3515
Sorry, I can't reproduce this. I have launched the Prey Predator model found in the library, let it run for a few cycles to have some preys killed and opened the browser but everything is fine (i.e. the agents are displayed, and no error is launched).

![screencast 2022-10-20 13-57-11](https://user-images.githubusercontent.com/579256/196877983-f16d81ea-4c1c-4173-85a0-c3f136b1a806.gif)

[2022-10-20 07:36] codorized commented on #3515
Hi Alex,

Here's a video showing how I reproduced the bug. Sorry if it's a bit blurry.
The model file is: Tutorials -> Predator Prey -> models -> Model 13.gaml

![Bug3](https://user-images.githubusercontent.com/44542858/196885426-0972d0ba-81b3-4658-a95b-cd9be99e9c5f.gif)

[2022-10-20 08:28] AlexisDrogoul commented on #3515
Hi. I've done exactly the same steps and I can't reproduce the bug. Can you send us more information on your configuration ("About GAMA..." then "Installation Details" then "Configuration" then "Copy to Clipboard" and paste here) + ("Preferences..." then "Export to Preferences" and you can copy and paste here the contents of the text file produced) ? Thanks.

[2022-10-20 08:33] lesquoyb commented on #3515
I managed to reproduce the bug, you have to do exactly what @codorized did and open the view with the button on the display's toolbar
![image](https://user-images.githubusercontent.com/6374469/196898430-4d9b459a-fb18-4262-8664-5d70e9f5a4ae.png)
If you open it with the menus on the top of gama everything works as expected.

[2022-10-20 09:48] AlexisDrogoul commented on #3515
This misbehaviour is actually due to a wrong "fix" for #3053 (the fix is not wrong, but the initial request was not correct). I will revert it and hopefully be able to close this one !

[2022-10-20 10:05] AlexisDrogoul commented on #3053
I will revert this one, sorry ! Actually, `home(79)` and `home[79]` have different meanings and the former is correct for serialisation:
- `home(79)` means the `home` agent with index 79 (indices are unique, and this is a casting operation)
- `home[79]` means the `home` agent situated at the 79th position in the population

When no agents die, the two are equivalent (i.e. the agent of index `i` is

[2022-10-20 10:16] hqnghi88 commented on #3053
Well, it's ok for me to change the line in model to ( ), to be consistency with what written in the console, it means the issue is still fixed.  Thanks for the explanation. But i still dont know if there is someone like me , who used the [ ] for accessing elements in containers??

[2022-10-20 10:41] AlexisDrogoul commented on #3053
Of course, a lot of people do it, and populations (and species) have to remain coherent with this. When you write `home[79]`, it will correctly try to get the 79th agent in the population (exactly like the 79th element in a list), and return an error if there is less agents.
The rollback I will introduce is that when the agent of species `home` with index `79` will serialise itself, it will use `h

[2022-10-21 09:20] chapuisk opened #3516 "[GRAPH] generating a complete graph with 1000 nodes crushes default memory usage in Gama"
**Describe the bug**
Generating even small graph in Gama takes a tremendous amount of computational power. Tested with Library model that features graph, default setup and 1000 nodes makes Gama crash after having used more than 4Go of RAM

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Library Model > Data Type and Structure > Graph.gaml
2. increase number of node (line 12) to 1000 for

[2022-10-21 10:17] AlexisDrogoul commented on #3516
You are generating a complete graph: actually, in addition to the 1000 `builtin_node` agents you are creating, you actually generate 1 000 000 (1000 x 1000) more `builtin_edge` agents, since the action `related_to` in `builtin_node` always returns true. This probably explains the memory usage.

[2022-10-22 15:15] chapuisk opened #3517 "[GRAPH] shortest path operators raise exceptions when feed with non spatial graph"
**Describe the bug**
``load_shortest_paths`` and ``path_between`` operators cannot be fed with non spatial graph; the first one rais a NPE, while the other one try to access to a nul agent (non spatial graph have null node and edge,  which explains the error)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Library models > Data Types And Structures > Graph.gaml
2. Remove the as_spatial

[2022-10-22 15:19] chapuisk opened #3518 "[GRAPH] shortest path operators raise error with non spatial graph"
**Describe the bug**
``load_shortest_paths`` and ``path_between`` operators cannot be fed with non spatial graph; the first one rais a NPE, while the other one try to access to a nul agent (non spatial graph have null node and edge,  which explains the error)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Library models > Data Types And Structures > Graph.gaml
2. Remove the as_spatial

[2022-10-23 21:36] benoitgaudou commented on #3518
@chapuisk I attempt to solve this issue. Please test and and confirm it works as you expected, and whether it covers all the cases.

[2022-10-23 21:54] benoitgaudou commented on #3516
Just tested an aspatial (without any species for edge and nodes) complete graph with 1000 nodes:
Nodes = 1000
Edges = 999000
Time to generate it = 1378.0

Nevertheless when I moved to complete graph of 10 000 nodes, it gets above the 4BG of memory.

In addition, I have the feeling that the graph objects are still in memory even after I close the simulation... To be tested...

[2022-10-24 08:35] chapuisk commented on #3518
hey @benoitgaudou, Thx having a look (I'll try too sometime soon). I tried with the model library Graph.gaml, choose Random generator, with ``bool no_species <- true``, 1000 nodes and removing the ``as_spatial_graph`` operator (line 60).   I have an error when launching "Path with graph":

<img width="757" alt="Screen Shot 2022-10-24 at 10 13 44" src="https://user-images.githubusercontent.com/1359

[2022-10-24 09:07] chapuisk commented on #3518
I tried to sum up what I want to do in a very synthetic model:

[code]

Basically, I want to use the generator to have the network and transfer everything I need as agent attributes (simpler to manipulate, no need to use operators to query the network): i.e. the neighbors at degree 1 and the matrix of shortest path distance between all agent.

[EDIT] => the path_between operator works with non spa

[2022-10-24 20:53] benoitgaudou commented on #3518
Hi @chapuisk ,
Sorry but I am a little bit lost in your issue (as you seemed to edit it :-) ).
Is there still an issue and what is it ?

[2022-10-26 04:59] RoiArthurB commented on #3474
Update: it can't be done on MacOS as we choose to use dmg installer instead of pkg (source: https://stackoverflow.com/questions/6756756/set-directory-path-to-files-for-installation-on-mac )

Left to check for Windows (even if I'm really not convinced by the interest of it for this OS...)

[2022-10-26 15:54] benoitgaudou opened #3519 "Error message in case of a multi-simulations experiment"
**Describe the improvement you'd like**
Currently, when an error occures, information are provided about the agent and the cycle (and the number of occurences).
I am running simulations with multiple simulations, as a consequence it would be useful to have an information about the simulation in which the error has been triggered.
By the way, I do not if the number of occurence provides an informat

[2022-10-30 09:43] fredmcelwee opened #3520 "Would like to better specify graphical outputs layout"
I would like to have more flexibility in the layout of my graphical outputs to be able to have an option in between #split and #stack. For example, suppose I want to display 6 outputs (numbered 0,1,2,3,4,5) such that, by default, displays 0 and 1 appear on the left half of the screen, display 2 appears on the top-tight corner, and displays 3-5 appear as (stacked) tabs on the bottom-right side of t

[2022-10-31 02:41] ttrungtin2910 opened #3521 "Do action in Interaction"
I'm a newbie in GAMA
I write some examples with GAMA
I can do action in species self, but I can't do that in species myself. please help me. Some code right here

[code]

Please help me, thanks

[2022-10-31 06:40] benoitgaudou commented on #3521
Dear

Basically, if your are not in the execution context of a species, but you
want that the agents of this species execute one of their actions, you need
to ask them to do it : ask species { do an_action;}

So in you example, you will need to right another ask speciesA in your ask
speciesB.

Note that in your case, the ask speciesA could be reviewed : perhaps you do
not need it.

Cheers

Benoît

[2022-10-31 11:14] cvaraujo opened #3522 "[Enhancement] Interface to change agents with extern algorithms"
I'm starting to use GAMA to model a virus spread in OSM maps. This model generates, in each cycle, input data to an algorithm that defines control actions and could remove a subset of agents for the next cycle.

I'm currently saving the state and position of the individuals in CSV files at cycle end, executing my algorithm, rewriting the CSVs, and by command line calling GAMA headless to run again

[2022-11-01 02:26] ttrungtin2910 commented on #3521
Thanks your answer

[2022-11-01 02:27] #3521 closed, assigned to nobody

[2022-11-01 07:10] benoitgaudou opened #3523 "Error when reading a tif file"
**Describe the bug**
The following attempts to read a tif file and to define the envelope of the world with it.
I get an error at execution.
This code with these data was working fine a few months ago.

I get the following error in GAMA:
[code]

Note that in Eclipse, I get the following one:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Import the following model and launch it.
[Tes

[2022-11-01 07:39] benoitgaudou commented on #3523
Thx that seems to work !

[2022-11-01 07:39] #3523 closed, assigned to nobody

[2022-11-01 07:58] benoitgaudou opened #3524 "Error due to the console when relaunching a simulation"
**Describe the bug**
I run a model that write in the console some messagaes.
When I relaunch it (click on the button in the Simulation perspective), I sometimes get the following error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. I get it with some "big" models, as an example the one provided with message  #10519 of the diffusion list.
2. I run the debug experiment
3. relaunch it

[2022-11-01 11:29] benoitgaudou commented on #3524
To complete the previous issue, here is a simpler model on which I have this issue:
[TestConsole.zip](https://github.com/gama-platform/gama/files/9909352/TestConsole.zip)

**To Reproduce**
1. Launch the model
2. Relaunch the model (with the button from the simulation perspective).
3. Often the previous issue occurs.

Note that, when I relaunch the model several times after the error, it sometimes

[2022-11-02 05:39] AlexisDrogoul commented on #3524
Ive pushed a commit which should fix the issue. Please test !

[2022-11-02 11:43] benoitgaudou opened #3525 "IndexOutOfBoundsException when creating agents from a shapefile"
**Describe the bug**
I get a shapefile and simply want to create agents from it: `create ecole from: ecoles;`

I get the following error:
[code]

Basically my shapefiles contains 449 objects, but GAMA seems to be able to load only 448 (seems that one of them has a null geometry).

**To Reproduce**
Steps to reproduce the behavior:
1. Import the following project: [TestShapefiles.zip](https://github

[2022-11-04 08:20] lesquoyb opened #3526 "Reproductibility: rnd function doesn't always give the same output for a fixed seed"
**Describe the bug**
Investigating a bug reported on the mailinglist, I managed to reduce the model producing the bug to this:
[code]
the include folder is [here includes.zip](https://github.com/gama-platform/gama/files/9936218/includes.zip)
Running that model multiple times results in different values printed by the last `write rnd(1.0)` at the end of the `init`. But it shouldn't as the seed is s

[2022-11-04 08:31] lesquoyb opened #3527 "Clearer message in gama-headless when the experiment is not found"
**Is your request related to a problem? Please describe.**
Currently, when running gama-headless and asking to execute an experiment that is not found, gama crash with a NPE, it would be more helpful for the user if Gama printed clearly that it was unable to find the experiment before closing.

**Describe the improvement you'd like**
When trying to run gama-headless (batch or xml) with wrong exper

[2022-11-04 09:01] lesquoyb opened #3528 "On windows in the latest release gama opens along a console"
**Describe the bug**
After installing the latest gama release, when I run the program from the shortcut, a console is visible (with the DEBUG.OUT printed).
If I close the console gama closes too.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the latest (alpha) release's installer for windows
2. install it
3. run gama from the created shortcut
4. See error

**Expected behavior**
Ga

[2022-11-04 10:07] AlexisDrogoul commented on #3526
Do not forget that there are at least 2 seeds with which modellers have to deal in GAMA. The `seed` of the experiment (the one you are defining) and the `seed` of each simulation. If you move `float seed <- 5.0;` to the init of the model (and not the experiment), you will get the same results over and over as it will represent the seed with which the random number generator of the simulation will

[2022-11-04 10:20] lesquoyb commented on #3526
To me there's still something unclear about it because:
1. The first random number of the init is always the same, why would only the last one be affected by the location of the setting of seed?
2. If you run it multiple times you'll notice that the last rnd is not the same every time, but is not purely random either and alternates between two/three different values, why and how is it related to s

[2022-11-04 10:22] benoitgaudou commented on #3526
Hi,
A point that is confusing is that, when you try to display the seed of the simulation, e.g.:
[code]
you get the value 5.0 (the value given in the experiment).
So modelers see the same seed in the simulation, but different values in the rnd.

Is ther an issue on the accessed `seed`?

[2022-11-04 10:48] hqnghi88 commented on #3528
See #2499

[2022-11-04 15:07] AlexisDrogoul commented on #3526
You're right. There is something fishy here. I cant precisely point at the faulty behaviour (in experiment, in simulation ?), but something is not right.

EDIT: my bad. We reuse the seed of the experiment if no seed is explicitly defined in a simulation (I remember this behaviour was introduced after a related issue had been raised). So it is normal to have the same seeds in all simulations. Howev

[2022-11-04 16:45] chapuisk commented on #3518
Hey @benoitgaudou,
I close the issue, as non spatial graph now can be input in shortest path operator. However, there is still question on the usability of such operator. Here is some benchmark on distance matrix (the length of the shortest path between all pairs of nodes):

On average tooks 0.1993s to build a distance matrix from graph
Nodes = 100 | Edges = 200 | Degree = 4.0 | Connected componen

[2022-11-04 16:45] #3518 closed, assigned to ptaillandier, benoitgaudou, chapuisk

[2022-11-05 01:47] AlexisDrogoul commented on #3526
OK. I think I have isolated the faulty operator. Just needs now to chase the bug in Java.

If you replace :

[code]

by

[code]

The reproducibility problem is gone.

[2022-11-05 15:54] AlexisDrogoul commented on #3526
Actually, the problem is a bit more complex: it seems that `any_location_in` can return a point which, in some circumstances, will make the `closest_to` operator return a different result or do more operations with random number generation involved. Problem is that these circumstances are obscure for the moment !

[2022-11-07 15:05] benoitgaudou commented on #3522
Dear,

You could think about several other ways to do what you need:
- you can, from GAMA, call some external application (execute action)
- you can communicate with some external applications (through network
features of GAMA), e.g. using MQTT or web service.

Cheers

Benoit

Le lun. 31 oct. 2022 à 12:14, Carlos Araújo ***@***.***> a
écrit :

[2022-11-07 15:21] benoitgaudou commented on #3518
Perhaps you can add an enhancement on this point, so we can keep track on
it.

cheers

Benoit

Le ven. 4 nov. 2022 à 17:45, Kevin Chapuis ***@***.***> a
écrit :

[2022-11-08 01:59] AlexisDrogoul opened #3529 "Monitors not displayed when "Display monitors in parameters view" preference is set and no parameters are defined"
**Describe the bug**
Self explanatory title !

**To Reproduce**
Define a model with monitors, but where no parameters are defined (and where random number generation parameters are not included by default).

<img width="629" alt="Monosnap 2022-11-08 09-58-24" src="https://user-images.githubusercontent.com/579256/200455279-fd9b6727-a0e3-468e-82fc-4cd4cba76910.png">

**Expected behavior**
That the m

[2022-11-08 02:05] AlexisDrogoul opened #3530 "Cannot call a function defined in a model from a monitor directly"
**Describe the bug**
Given the following model :

[code]

We have a compilation error (`my_function` not found). However, writing `simulation.my_function` compiles and works correctly.
Same problem arises with the definition of chart data.

**Expected behavior**
The function defined in the model should be correctly recognised without having the need to prefix them with `simulation` or `world`.

[2022-11-08 06:47] AlexisDrogoul opened #3531 "Console is displayed when something is written to it even when the layout doesn't allow it"
**Describe the bug**
Even if a layout of displays is defined using:

[code]

the usage of `write ...` in the model will force the console to open.

**Expected behavior**
The console is expected to remain closed.

GAMA version: git

[2022-11-09 16:17] benoitgaudou opened #3533 "Doc : improve the presentation of multi simulation"
**Describe the improvement you'd like**
The way to manipulate experiments, in particular how to display information on the same graph needs to be improved, in particular in the page : https://gama-platform.org/wiki/RunSeveralSimulations

Add a mention to permanent in this page.

[2022-11-10 11:01] #3530 closed, assigned to AlexisDrogoul

[2022-11-10 11:02] #3531 closed, assigned to AlexisDrogoul

[2022-11-11 03:47] #3529 closed, assigned to nobody

[2022-11-11 19:03] #3524 closed, assigned to nobody

[2022-11-11 19:04] #3515 closed, assigned to AlexisDrogoul

[2022-11-11 19:04] #3493 closed, assigned to AlexisDrogoul

[2022-11-11 19:04] #3494 closed, assigned to AlexisDrogoul

[2022-11-14 10:39] erralb opened #3534 "Gama fails to start on MacOS Ventura with an "old" workspace"
### Steps to reproduce
1. update MacOS Ventura 13.0.1

2. start Gama -> crash

3. Tried with and without JDK versions, RC and Alpha versions

### System and version
Error log :
[code]

[2022-11-14 10:57] hqnghi88 commented on #3534
Could you please try to delete the old gama workspace in finder and relaunch your gama?

[2022-11-14 11:23] AlexisDrogoul commented on #3534
I confirm I have the bug on 10.13.0 as well, not with the Git version, only with the downloaded alpha version. However, launching GAMA a second time after renaming the workspace allows to proceed in my case.

[2022-11-14 12:06] erralb commented on #3534
Thanks for the replies, renaming or deleting the old workspace solves it, thanks !

[2022-11-14 12:10] AlexisDrogoul commented on #3534
I'm looking into the possibility to create the `Display` before checking the workspace sanity, etc. Not completely sure it is possible with the current architecture, but it would allow to run all dialogs openings, etc. in the correct thread (although I'm sure the problem is not here but in the fact that reading the metadata of eclipse plugins in the old workspace creates the bug).

[2022-11-14 12:16] AlexisDrogoul commented on #3534
I reopen the issue as it is not "solved" per se 😉 . We still need to understand why we have this issue. @hqnghi88 and I will investigate. In any case, thanks for reporting it.

[2022-11-14 12:31] AlexisDrogoul commented on #3534
I think it is probably related to #3489 -- permissions changes in macOS + metadata changes in Eclipse plugins. Hopefully we can workaround these !

[2022-11-15 01:35] hqnghi88 commented on #3534
It seems that the workaround is good. I dont have the crash with old workspace on  13.1 beta 2 (with local build)

[2022-11-24 13:57] hqnghi88 commented on #3425
In https://github.com/gama-platform/gama/wiki/Troubleshooting/b4b827633ef4aa7567d94442fbd0b3e5dc24a1ca "solved the problem but at the cost of very slower rendering". If it is slow rendering, it is not using 3D card or even the installation is not right.

[2022-11-25 04:23] lesquoyb commented on #3425
Yes, it is slow precisely because it is not using a proper gpu but an integrated chipset. Basically that's a last resort solution

[2022-11-25 04:43] lesquoyb commented on #3308
Reopening because it actually is still present for java2D displays. In my case it appears only with values of scaling of 175%, 225%, 250% and 300%

[2022-11-25 09:17] hqnghi88 commented on #3425
Yes, that's what i want to say: installing the Adrenalin supposed to fix the GPU driver, not to prevent OS to use properly the GPU.

[2022-11-26 17:15] #3534 closed, assigned to AlexisDrogoul, hqnghi88

[2022-11-28 04:34] tnguyenh opened #3536 "Loop statement with negative step and same values for boundaries to: and from: produces an infinite loop"
**Describe the bug**
a loop statement such as

loop i from: 1 to: 1 step: -1{}

enters an infinite loop, with i decreasing from 1 towards -infinity.

**To Reproduce**

Use the following model:

[code]

The first four loops work correctly, not the last one.

**Expected behavior**
The loop should only do one iteration.

**Desktop (please complete the following information):**
 - OS: windows 10
 - GA

[2022-11-28 10:17] bscoder9595 commented on #2507
I have question , can we add new agent to gama platform during simulation execution ? or we can say :  is gama platform open environment?

[2022-11-28 10:30] tnguyenh opened #3537 "depth facet for lines does not work as intended"
**Describe the bug**
draw a line, add a depth facet. It draws a cylinder instead of a plan (as indicated in the help).

**To Reproduce**

![image](https://user-images.githubusercontent.com/18676913/204255215-fde4308b-136d-43af-9b24-0f8f3c475a0b.png)

[code]

**Expected behavior**
the red objet should be a vertical plan.

 - OS: Windows 10
 - GAMA version: 1.8.2

[2022-11-28 11:08] tnguyenh opened #3538 "lines and rectangle height is not consistent with grid and 3D objects height"
**Describe the bug**

When specifying height for a line (or a rectangle), the height is not consistent with other objects. For example, when drawing a grid (which I assume is at height 0), a line or a rectangle at height 0 seems to be hovering over the grid. When drawing a box with height z, a line at height z is hovering over the box.

However the box position seems to be consistent with the grid

[2022-11-28 13:25] benoitgaudou commented on #2507
Dear,
First, please ask your question on the mailing and not in an issue thread.
Second, yes it is possible to create agents at anytime during the
simulation.

Le lun. 28 nov. 2022 à 11:18, bscoder9595 ***@***.***> a
écrit :

[2022-11-28 16:30] AlexisDrogoul commented on #3537
Should we draw a plan or a cylinder ? 🤔

[2022-11-30 04:58] RoiArthurB opened #3540 "No GUI when building GAMA with Maven with Eclipse above 2022-03"
**Describe the bug**
When building GAMA with Maven using Eclipse 2022-09 or 2022-12, no graphical interface fills the IDE in old and new workspace even with all lib loaded

![Screenshot from 2022-11-30 11-36-29](https://user-images.githubusercontent.com/16764085/204708859-cd30a739-6b9b-4140-a41d-d49f32fc2f17.png)

![Screenshot from 2022-11-30 11-36-07](https://user-images.githubusercontent.com/167

[2022-11-30 05:53] AlexisDrogoul commented on #3540
Can you compile a version with 2022-12 and post it somewhere ? Seems that the navigator is not loaded (and does not create the resourceManager), which might indicate other errors upstream in SWT...

[2022-11-30 08:15] #3519 closed, assigned to nobody

[2022-11-30 08:23] RoiArthurB commented on #3540
Hi, here's a fresh built on the latest commit. Only modifications are : Eclipse bumped from 2022-03 to 2022-12 (allowing snapshot version) and removed [2 libraries](https://github.com/gama-platform/gama/blob/GAMA_1.8.2/ummisco.gama.feature.dependencies/feature.xml#L894-L906) creating some compilation troubles
-> https://e1.pcloud.link/publink/show?code=kZ8yLYZ1jjdhDVeRYVPWvd4U4I5Y81IsXoy

[2022-11-30 15:52] EricaDallatomasina opened #3541 "Problem in running python gama client"
**Describe the bug**
Hi, I am trying to use GAMA in headless mode (following this tutorial https://gama-platform.org/wiki/next/HeadlessServer). In particular, I successfully started the gama server but I have problems when connecting with the client (I am using the python wrapper).

**To Reproduce**
1. Firstly I start the server and the client
2. Then to let then communicate I am using the example