[2022-03-10 11:11] RoiArthurB commented on #3199
The default version already available in p2 repo... From my [latest log](https://pipelines.actions.githubusercontent.com/tXKIKirKEJ9PJ10mQE7h8UOnoAVfFoCz5DzKtTYZuKT9YbqQNs/_apis/pipelines/1/runs/40/signedlogcontent/10?urlExpires=2022-03-10T11%3A06%3A04.3974569Z&urlSigningMethod=HMACV1&urlSignature=eo3DJFoY7S7wHumNg28ZQjM6YmMlq8yqQSrb%2BpRJO1E%3D) it seems to be a built from 2022-03-04 at 10:00 🧐🧐🧐

[2022-03-10 12:45] Aya-Badawy89 commented on #3271
I was suggesting to let the action (end conversation) remove the conversation from the list of conversations.
This will be in-line with the documentation which defines:
"conversations (list): A list containing the current conversations of agent. Ended conversations are automatically removed from this list."

[2022-03-10 14:30] AlexisDrogoul commented on #3199
@RoiArthurB and this one does not work ?

[2022-03-10 14:37] RoiArthurB commented on #3199
Nop, as said there 😞

[2022-03-10 15:02] AlexisDrogoul commented on #3199
OK. This is a bit more complicated than what I hoped, actually. This fix : https://bugs.eclipse.org/bugs/show_bug.cgi?id=577874 does not solve our problem. But it allows for the resolution of this issue : https://forum.jogamp.org/JOGL-incompatible-with-SWT-4-21-td4041643.html . However: the patch that it is now possible to write must be somehow integrated with a release of JOGL... Which does not e

[2022-03-11 02:44] lesquoyb commented on #3312
I tried a few more comparisons between the script and the model and saw no difference, also the fix proposed by @hqnghi88 works so I consider this issue closed. Thanks everyone

[2022-03-11 02:44] #3312 closed

[2022-03-11 04:04] RoiArthurB commented on #3199
Default version re-build isn't working, I'll edit this post with different flags
[code]

[2022-03-11 05:16] benoitgaudou opened #3318 "macOS: OpenGL display "hide" other displays"
**Describe the bug**
I run an experiment with 1 opengl display and 1 chart display (without display layout).
The 2 panes appears, but when I click on  the name of the display to switch display, only the OpenGL one is displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Ant Foragin.gaml model, with the following experiment:
[code]
3. Try to switch between the opengl display  and

[2022-03-11 08:22] agrignard opened #3319 "Automatic 1.8.2 release production"
**Describe the bug**
Is seems that the automatic release production is broken. The last release available is from 25_021_22 and it now 42 commits ahead from the master

The travis workflow (https://github.com/gama-platform/gama/actions) seems to be called everyday and looks good (green) but the release is not pushed/produced here
https://github.com/gama-platform/gama/releases/tag/1.8.2

[2022-03-11 08:25] RoiArthurB commented on #3319
Hi,
We run a compilation check on each commit, but GAMA 1.8.2 Alpha Release are only deployed on command (with message command or with GitHub's UI) :)

I'll rebuild a fresh version for you ;)

[2022-03-11 08:43] agrignard commented on #3319
thank you @RoiArthurB but instead of having you doing it manually I though the idea was to have an automatic process (maybe not every commit but let's say every day)? Am i wrong? What is the process though github UI to do it so i don't have to bother you too much?

[2022-03-11 09:20] RoiArthurB commented on #3319
As it is a pretty unstable version, publishing a new version everyday may lead some people to download a broken version of GAMA. So I personally think that, as we use to recommend some people from the mailing-list for instance to try this version, it's better to make some manual release when we want to try a new thing. Also, as developers, the compiled version doesn't provide any advantage over th

[2022-03-11 09:20] #3319 closed

[2022-03-11 09:21] hqnghi88 commented on #3319
I agree with Arthur, exactly what i was writing

[2022-03-11 09:46] agrignard commented on #3319
Ok thank you Arthur for the release I'll test it. I also understantdnow how to generate one (I was indeed missing the point 4 and using the master)

I also agree with you if we have an instable version it's tricky to generate one everyday (unless we clearly specify it's the current version) but that's a long discussion.

After for me there is 3 kind of user:
1. the developper that have eclipse ins

[2022-03-11 09:57] hqnghi88 commented on #3319
for 2: yes, but this kind of user also should base on a more stable version than "alpha", otherwise there will be many new issue :)

[2022-03-11 14:24] AlexisDrogoul commented on #3199
Great news, I've been able to compile GAMA on a pre-version of Eclipse 4.23 (2022-03), install the patch described here: https://forum.jogamp.org/JOGL-incompatible-with-SWT-4-21-td4041643.html and ... JOGL works (again) on Ubuntu 20.04 !
![WhatsApp Image 2022-03-11 at 21 08 44](https://user-images.githubusercontent.com/579256/157886044-29c5bbce-7ed1-4b91-87dc-d1bc6e10a5e5.jpeg)

[2022-03-11 15:13] RoiArthurB commented on #3199
I just rebuild GAMA with several SWT version for JDK 17 with latest Alexis's commit. Feel free to test (from newest version to oldest if SWT doesn't work for you) 🙏🙏🙏
https://github.com/RoiArthurB/GAMA-182-test-builder/releases

[2022-03-11 15:14] RoiArthurB commented on #3219
Hey, rebuild again with Alexis's latest commit, please try it over each OS to verify that it doesn't break anything for anyone 🙏🙏🙏
https://github.com/RoiArthurB/GAMA-182-test-builder/releases

[2022-03-11 15:39] RoiArthurB commented on #3199
UPDATE : 2022-03 new build works perfectly on Manjaro with X.org 👌👌👌

Amazing works Wizard @AlexisDrogoul 🧙💪

[2022-03-12 03:35] AlexisDrogoul commented on #3318
Tested under Ubuntu 20.04 and Windows 11 and this issue doesn't manifest.

[2022-03-12 04:56] AlexisDrogoul opened #3321 "`refresh: true` in an `image` layer bypasses cache and consumes all memory"
**Describe the bug**
Asking an `image` layer to refresh itself every frame forces GAMA to reload the image file without using the image cache. Doing so seems to prevent the GC to correctly remove useless images.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'AntForaging.gaml' and the "Classic" experiment.
2. Change `image terrain refresh: false rotate: cycle;` by `image terrain refres

[2022-03-13 02:43] AlexisDrogoul opened #3322 "Warnings produced by GAMA on Ubuntu"
**Describe the bug**
This is an apparently harmless bug, but still.GAMA is producing a lot of warnings in its UI version when running on Ubuntu 20.04.

[code]

**To Reproduce**
Just launch GAMA from a console or from Eclipse

**Expected behavior**
No warnings produced

**Desktop (please complete the following information):**
 - OS: stock Ubuntu 20.04
 - PC Model: MacBookPro 2018 Intel
 - GAMA vers

[2022-03-13 05:44] AlexisDrogoul commented on #3318
It has been tested and fixed for macOS and Ubuntu. There is however one bug on Windows that I cannot really explain (when the Java2D display is under the OpenGL one, then it cannot be selected -- only briefly before going back to the OpenGL one -- until it is moved once, after what it is ok).

[2022-03-13 14:34] AlexisDrogoul commented on #3321
Fixed by the latest commit.

[2022-03-13 14:34] #3321 closed

[2022-03-13 15:15] benoitgaudou opened #3323 "Lists of 50 agents (in the menu agents) after some agents have been killed"
**Is your request related to a problem? Please describe.**
Consider the case  where an initial set of  agents is created initially,  but some are  killed during the simulation.
Now when wanting to inspect one agent through the menu `Agents` , `Simulation 0`, `Population of agents`.
Here you have the agents (e.g. road) oganisedd by  set of 50 agents (0-> 49, 50-> 99 ...).
This  works perfectly when

[2022-03-13 16:34] AlexisDrogoul commented on #3323
Hi,

I do not really see it as a problem. On one hand you have the number of agents, by chunks of 50, on the other their names (which contain their index). Of course the two can get desynchronised and it is "unintuitive", because I guess you expected the indices to be listed, right ? But it would be the same if, for instance, you'd gave them some random names, or numbers. The only improvement we m

[2022-03-14 00:17] hqnghi88 commented on #3323
Dear Alexis,
Can we add the order before the name? 56.road107,  57. road109

[2022-03-14 03:25] RoiArthurB commented on #3322
It's an Eclipse warning which doesn't create any error. It has been documented (at least) :
- [there on a directly related issue](https://github.com/dbeaver/dbeaver/issues/12360)
- [there in the full log (not focus on this point, but displaying that it comes front Eclipse)](https://github.com/dbeaver/dbeaver/issues/5845#issuecomment-725797547)
- [there in 2018 on another software (the variable exp

[2022-03-14 06:57] ptaillandier commented on #3304
It seems to be linked to the prj of the geotiff. For a reason that I don't understand, GAMA is not able to find the good CRS.
Two workarounds:
 - reexport the geotiff from QGIS
 - add the good prj file (in this case EPSG: 2154) in the same folder as the gif file and with the same name as the file (see attached prj file).

[2022-03-14 07:22] AlexisDrogoul opened #3324 "Test with M1 processors"
GAMA 1.8.2 needs to be tested with M1 processors (macOS) to understand what works and doesn't with Rosetta and to produce and test an M1.

If you have the chance to do it, please comment on this issue.

[2022-03-14 07:38] lesquoyb commented on #3269
closed for inactivity

[2022-03-14 07:38] #3269 closed

[2022-03-14 07:42] lesquoyb commented on #3010
Closed for inactivity

[2022-03-14 07:42] #3010 closed

[2022-03-14 07:47] AlexisDrogoul commented on #3271
I understand and it is actually already the case, but in your special case, `end_conversation` could not do it because it was not read at all. What I was saying is that the FIPA protocol works but only if the agents read the messages. If they do not, I do not see concretely how to do -- unless we break a bit the protocol and consider `end_conversation` to be interpreted directly by the conversatio

[2022-03-14 07:49] #3199 closed

[2022-03-14 07:51] AlexisDrogoul commented on #3219
Closing this issue : JDK 17 Temurin is the winner. Thanks to all who tested !

[2022-03-14 07:51] #3219 closed

[2022-03-14 08:39] lesquoyb commented on #3295
@agrignard Have you tested it yet ? It would be nice to know if there is a real bug or not as we are moving toward a stable 1.8.2

[2022-03-14 09:26] ptaillandier commented on #3304
Now, GAMA throws a warning when it cannot read the CRS of the grid file (better than nothing). We can try to find a better solution for GAMA 2.0, but it is enough for GAMA 1.8.2

[2022-03-14 10:42] AlexisDrogoul commented on #3317
I think it would make more sense to export to a truly "standard" 3D format like the one described in #2886 , with a lot of potential users (WebGL clients, desktop clients to "replay" simulations, Google Earth, etc) and then rely on external translators to STL, dont you think ?

[2022-03-14 15:24] AlexisDrogoul commented on #3323
@hqnghi88 I'm afraid it would add more confusion, no ? With two indexes ...

@benoitgaudou would something like this be ok ? (I killed and created many agents, hence the gaps):

![image](https://user-images.githubusercontent.com/579256/158203485-da7f7abb-30fb-4b88-b5a7-9f251e918c2f.png)

[2022-03-14 15:35] AlexisDrogoul commented on #3322
These are all due to the use of the "Separator" item in menus, and it has been reported abundantly in Eclipse issue trackers -- it doesn't seem to cause any harm however, so I guess we can just close the issue.

[2022-03-14 15:35] #3322 closed

[2022-03-14 15:40] hqnghi88 commented on #3323
Dear Alexis,
2 index, may be, but the information i see is different. If we keep the old : 0 to 50 , 50 to 57, we know directly the total number of agent (58).
Your new solution is good, but i wonder if we still divide the list by N or re-order by the name. I m afraid some case like: N=5 and it show From people0 to people50 because 45 agents have been killed between 0 - 50.

[2022-03-14 15:50] AlexisDrogoul opened #3325 "Windows: Unable to select a Java2D display hidden behind an OpenGL display."
**Describe the bug**
If a Java2D display is hidden behind a OpenGL display when opening an experiment, it is impossible to promote it to the front. It it briefly  visible and then immediately goes back behind the OpenGL display.

However, when it has been "shown" once (for instance by moving the OpenGL display aside), its behaviour is normal again when it is behind. See the video to understand:

!

[2022-03-14 15:57] AlexisDrogoul commented on #3323
@hqnghi88 the N you are talking about is something fixed that is defined in the Preferences. And, yes, your example is exactly what happens with the "fix".

[2022-03-14 16:07] Aya-Badawy89 commented on #3271
Mmm. I feel (end conversation) is not a type of message, not the same as (propose, inform, accept proposal...etc.). It looks more as an action. To the best of knowledge, I did not even find it as a locution in the official FIPA language. So, may be we can treat it differently.
At the same time, I don't want to complicate things or confuse a code that is already functioning well. It is not a major

[2022-03-14 16:11] benoitgaudou commented on #3323
Thanks, I think it is more intuitive to me like that.

[2022-03-14 16:15] AlexisDrogoul commented on #3271
Ok perfect ! Thanks a lot for your understanding -- and yes we are hard at work, with @lesquoyb taking the lead on the upcoming release... I have committed a "fix" in the documentation of `end_conversation`, I close this issue now.

[2022-03-14 16:15] #3271 closed

[2022-03-14 16:31] sriramab commented on #3058
When I think about it now, perhaps we could have a (on/off) switch to show/hide in built attributes of agents/ skills. My assumption is modelers are more interested to view/monitor their own create agent-attributes. For now I withdraw my request for group-by.

[2022-03-15 08:34] sriramab commented on #3323
I wonder if this is such a big issue that warrants a preference and that too with 3 preferences. I doubt if majority of modelers ever kill their agents!
My opinion is to have it in advanced preferences just not to clutter the standard preferences.
And if it is advanced, then may be it can go into GAML like the `browse` statement in 'experiment'.

[2022-03-15 09:10] benoitgaudou opened #3326 "Display java2D and mesh"
**Describe the bug**
When a field  is attempted to be display in a Java2D  display, the display remains white.

**To Reproduce**
In the model `Fields.gaml` (Data Types and Structure), change the type  of one of  the displays to java2D and observe the display.

**Expected behavior**
I  would expected either that something is displayed in Java 2D (a  projection in 2D), or simply a  warning (at compi

[2022-03-15 09:14] benoitgaudou opened #3327 "Graphical hints that a parameter category can be unfold"
**Is your request related to a problem? Please describe.**

When a parameter is set in a category, the category is displayed, and user needs to click on the category menu to let appear all the parameters.

The current visualization is  really "simple", without any hints that it is something  we can click on and  unfold (cf. picture).

<img width="1114" alt="Screenshot 2022-03-15 at 10 11 29" src="

[2022-03-15 09:19] benoitgaudou opened #3328 "Uninformative display in the model `Data Types And Structures` / `Field.gaml`"
**Describe the bug**
In the model `Data Types And Structures` / `Field.gaml`, when launched  with the Field_view button, 4 displays  appear.
One of them appears uniformly grey (Field through mesh), which does not  provide  much information.

<img width="707" alt="Screenshot 2022-03-15 at 10 16 42" src="https://user-images.githubusercontent.com/1555274/158345431-788981e8-48d2-4fac-b768-ee5800ed235e

[2022-03-15 09:29] AlexisDrogoul commented on #3324
For information :

- the execution of GAMA compiled for Intel processors on M1 Macs (using Rosetta) is confirmed. Absolutely no problem (so far) to report except a very minor one where the same color applied to the background of a display and to the toolbar would appear slightly different
- the execution of GAMA in a "native way" (Native JDK, native Eclipse w. native SWT libraries, native JOGL lib

[2022-03-15 17:52] benoitgaudou commented on #3327
yes it  is efinitely better
Thx  !

[2022-03-16 15:41] ptaillandier commented on #3267
Normally it is fixed (fixed also the "too many 5-years old" issue) .... but understanding how Genstar works is very complex, thus I am not sure of the quality of my fixes. I let you test it.

[2022-03-16 16:48] AlexisDrogoul commented on #3326
I have implemented a warning that also concerns `camera`, `light`, and also `rotation`. Note, however, that it is limited and might declare some false positive, for instance when a display inherits from a display declared in a parent experiment.

[2022-03-16 16:57] #3328 closed

[2022-03-16 16:57] #3327 closed

[2022-03-16 16:58] #2640 closed

[2022-03-16 16:58] #3285 closed

[2022-03-16 16:59] #3221 closed

[2022-03-16 17:00] #2757 closed

[2022-03-16 17:00] #2742 closed

[2022-03-16 17:02] AlexisDrogoul commented on #868
Please note that it has been decided not to port this functionality to Java2D. I therefore close this issue as it is implemented for OpenGL

[2022-03-16 17:02] #868 closed

[2022-03-16 17:03] #579 closed

[2022-03-18 21:32] lwinkeler opened #3330 "1.8.2: Wrong assignment of imported variables - model works in 1.8.1"
**Describe the bug**
Reference to [request on GoogleGroups](https://groups.google.com/g/gama-platform/c/Fgv-pY0ikTA/m/fX-OdFhRCQAJ):

We built a model, where different variables shall base on imported csv-files. As the csv-files are matrices, they are imported as a matrix with either integers or floats. The code for this is basically as following:
matrix network_employed <- matrix(csv_file("../inc

[2022-03-19 04:40] ptaillandier commented on #3330
Hi,

The model was written in a rather old style :) . I have fixed this. In particular:
- I typed all the lists/matrices/maps
- you can't do an ask on a null value anymore (before it did nothing, now it returns an error).

It seems to work now (you can test it - just change the extension of the file from .txt to .gaml).
[qscope_ABM.txt](https://github.com/gama-platform/gama/files/8308595/qscope_AB

[2022-03-20 04:47] AlexisDrogoul commented on #3324
I added the missing SWT component in the product.

@RoiArthurB now we just need tycho to pull the right JVM and to build the native components -- and this issue will be closable !

[2022-03-20 07:12] AlexisDrogoul commented on #3308
Since the recent commits made for #3239 and #3313, I cant reproduce this problem anymore. Is it still happening on your side ? (remember to test by relaunching the .product, to make sure you catch the latest default options)

[2022-03-20 15:51] hqnghi88 commented on #3325
It works on my machine (hope it 's fast enough).

[2022-03-20 16:02] hqnghi88 commented on #3239
The charts or display are not scaled anymore, they are in the original resolution even if system scaling are 200%. So , the text in chart  are very small, comparing with other element
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/6105384/159171243-563bb7a7-ea29-489f-82c0-23f26f975be8.png">

[2022-03-20 16:04] hqnghi88 commented on #3239
Sorry, it was 150% of system, if i increase to 200%, it is better
![image](https://user-images.githubusercontent.com/6105384/159171300-932cde67-4886-46cd-9a8f-9e5afc0b059c.png)

[2022-03-20 16:06] hqnghi88 commented on #3239
I close this issue, as it was fixed, there no wrong skew causing miss-presentation of charts.

[2022-03-20 16:06] #3239 closed

[2022-03-21 03:21] lesquoyb opened #3331 "Release Gama 1.8.2 for M1"
**Is your request related to a problem? Please describe.**
Currently there is no official release of Gama for M1 processors

**Describe the improvement you'd like**
Compile a version for M1 processors

[2022-03-21 03:36] lesquoyb commented on #3308
No more problem, the mentioned model from the library and the test model are both working like a charm

[2022-03-21 06:22] AlexisDrogoul opened #3332 "Preferences do not close when clicking "Save" on M1"
**Describe the bug**
Open the preferences view in GAMA. Change a few things and hit "Save". The view does not close. One has to hit "Cancel" to close it.

**Expected behavior**
That the view closes.

**Desktop (please complete the following information):**
 - OS: macOS Monterey 12.3
 - PC Model: MacMini M1
 - GAMA version: 1.8.2 / git
 - Java version: 17.0.2+8

[2022-03-21 09:10] RoiArthurB commented on #3324
GAMA is compiling for native M1 since 4822a6220f216a86a77e0162f9477da88d6ecec0 and since b90d5d4 Github Action should be able to make full release with M1 too 🥳

[2022-03-21 13:29] RoiArthurB commented on #3324
Please, try the new release with the brand new M1 native build, and if it works we can close this issue :)
https://github.com/gama-platform/gama/releases/tag/1.8.2

[2022-03-21 14:31] AlexisDrogoul commented on #3324
Closing #3331 in that case !

[2022-03-21 14:32] AlexisDrogoul commented on #2984
@hqnghi88 are you using as part of your recent development on Gama Server ? Does it work well ?

[2022-03-21 14:32] #3313 closed

[2022-03-21 14:33] #3318 closed

[2022-03-21 15:03] hqnghi88 commented on #2984
No for the current git. I used to push the experiment in this executor queue, but then i need to have different api of launch, play, pause, step, stop, So i manually create one thread per experiment. That what i need your review and possible refactoring.

[2022-03-22 08:35] hqnghi88 opened #3334 "TCP Server And Client Example model give ConcurrentModificationException"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Plugins models \Network\2 Available protocols\TCP protocol\TCP Server And Client Example .gaml
2. Launch experiment.
3. See error
2 occurrences in 2 agents at cycle 1: Java error: ConcurrentModificationException
in write (name + ' received : ') + mm.contents color: color ;
ConcurrentModificationException: null
java.base/java.util.TreeMap$P

[2022-03-22 08:36] hqnghi88 commented on #3332
"By chance", i test this issue on my win and i can reproduce it. So it seems not only m1?

[2022-03-23 11:37] lwinkeler commented on #3330
Hey Patrick,

I tested it and it works in both 1.8.1 & 1.8.2!
Good to know about the change of processing null values. Also good, that it's actually "not an issue" so the countdown for the release of 1.8.2 is not disturbed.

Thank you very much for your help!

Cheers
Lennart

[2022-03-23 11:44] #3330 closed

[2022-03-23 11:58] AlexisDrogoul commented on #3324
Seems that the previous solution was the good one. I now close this issue -- as we have a more specific one open on modal views (#3332 )

[2022-03-23 11:58] #3324 closed

[2022-03-23 16:05] AlexisDrogoul commented on #2761
This issue is solved and tested AFAIK -- please reopen in case something is missing.

[2022-03-23 16:10] #1159 closed

[2022-03-23 16:10] #3323 closed

[2022-03-23 16:13] #3326 closed

[2022-03-23 16:14] #3325 closed, assigned to AlexisDrogoul

[2022-03-23 16:49] AlexisDrogoul commented on #3305
Implemented: built-in attributes should now be signalled in red in the navigator.

[2022-03-23 16:49] #3305 closed

[2022-03-23 16:52] AlexisDrogoul commented on #3076
@hqnghi88 should we consider this issue as closed ?

[2022-03-24 00:41] hqnghi88 commented on #3076
Dear Alexis,
i would like to try it on gamar before close this issue (today, after the bug of tcp model).

[2022-03-24 01:51] hqnghi88 opened #3335 "connect with force_network_use false duplicate the message in mailbox"
**To Reproduce**
Steps to reproduce the behavior:
1. Use this simple network model
model Socket_TCP_HelloWorld_Server
global {
	init {
		do create_server;
		do create_client;
	}
	action create_server {
		create Server number: 1 {
			do connect protocol: "tcp_server" port: 3001 with_name: name force_network_use: false;
//			do join_group with_name: "server_group";
		}
	}
	action create_client {
		c

[2022-03-24 05:04] #3332 closed

[2022-03-24 11:13] agrignard commented on #2761
I am trying to test it. However I ma not sure about the syntax to specific the axis of rotation?

Right now ```species legend aspect:base rotate:90;```works but the rotation is around the center of gravity of the world (as described in the doc) however how can I ask to rotate around the centroid of the agent legend.

According to this commit https://github.com/gama-platform/gama/commit/a6d88bdfe0b

[2022-03-24 11:16] agrignard commented on #3324
I see in the release that we have one release for Mac and one specific for M1, is it temporary? On my case I was not using Rosetta but the classic mac with JDK and it was ok.

let me know how I can help. Testing the M1 release for instance?

[2022-03-24 11:23] AlexisDrogoul commented on #3324
It is not temporary at all. In your case, if you have an M1 processor, you have been using Rosetta -- but without knowing it.
The speed increase is impressive : running GAMA side by side on Rosetta or natively sees the latter run 2 to 3 times faster.

[2022-03-24 11:28] AlexisDrogoul commented on #3288
@benoitgaudou @lesquoyb @gnoubi can we have a clear view of what is working and not in the serialisation ? The problem with XStream seems to be solved, but you seem to imply that we have other issues ? If so, would it be possible to open specific issues and see if they can be solved ? Otherwise they will be buried here and we take the risk of releasing a version where it does not work...

[2022-03-24 11:38] hqnghi88 commented on #3288
Thanks, i did not follow this issue, but #3334 seems relate with this.

[2022-03-24 11:41] hqnghi88 commented on #3332
I dont know if it is a effect of this fix, but i cant open PreferenceView with this error in eclipse console.

java.lang.NullPointerException: Cannot read field "editors" because "ummisco.gama.ui.views.GamaPreferencesView.instance" is null
	at ummisco.gama.ui.views.GamaPreferencesView.lambda$0(GamaPreferencesView.java:122)
	at ummisco.gama.dev.utils.DEBUG.TIMER(DEBUG.java:165)
	at ummisco.gama.ui.

[2022-03-24 12:58] AlexisDrogoul commented on #3332
Can you try to debug to see if you have a prior exception when loading the Preferences ?

[2022-03-25 02:50] lesquoyb commented on #3288
It also seems that #2828 is related to xstream

[2022-03-25 09:15] agrignard commented on #2761
Ok I was maybe  not clear in the writing of the issue but I was describing the issue at the layer level/

It's good anyway to have it at the display level.

For me it makes sense also to have it at the layer level (as described in the exemple above)

Should I create another issue specific to the layer?

[2022-03-25 09:21] agrignard commented on #3324
Ok i might have miss something. I am running a "normal" (by normal I mean it doesn't contain the string M1 in the name of the release) GAMA version  as I was not able to install Rosetta (as described here https://github.com/gama-platform/gama/issues/3282)

I will try the new M1 on the M1 then. Looking forward to seeing the speed

[2022-03-25 16:24] agrignard commented on #2761
those rotation modification are always tricky...

So I tested this new version , however what about the overlay? I was using an overlay as a legend now if I rotate the scene using the rotation layer my overlay is also rotated...

For me it's one more reason that justify to be able to make a rotation as a facet of the layer ```species``` or ```overlay```in addition of the rotation statement.

[2022-03-26 16:25] AlexisDrogoul commented on #3335
When looking at the code of `ummisco.gama.network.common.Connector.send(IAgent, String, GamaMessage)`, it seems that the message is indeed sent twice when `force_network_use` is false and the receiver is local. I just made a simple change, tell me if it works !

[2022-03-26 18:56] hqnghi88 commented on #3335
Thank you, It is fixed.

[2022-03-26 18:56] #3335 closed

[2022-03-27 02:37] AlexisDrogoul commented on #3306
Bug has been fixed as far as I know. Please reopen if it still occurs.

[2022-03-27 02:37] #3306 closed

[2022-03-27 02:38] AlexisDrogoul commented on #3302
OK. Enhancement provided as far as I can test it (in Comokit, for instance).

[2022-03-27 02:38] #3302 closed

[2022-03-27 02:40] AlexisDrogoul commented on #3076
Any news ?

[2022-03-27 02:50] AlexisDrogoul commented on #2746
`focus` is now deprecated and will be removed soon. It has been replaced by the much more precise `camera` statement inside `display`. Also note it does not have any effect on Java2D anymore.

[2022-03-27 02:50] #2746 closed

[2022-03-27 03:20] AlexisDrogoul commented on #2761
Yep. Right. I have fixed this error on overlays (they won't rotate like all the other layers, obviously). For adding a 3D rotation to each layer, I'm more skeptical about the need. Right now, there is a rotation about the center of the world and the Z-axis, do you really need more ? If you wish you can try to implement it by adding the possibility to define `axis` and `center` at the layer level,

[2022-03-27 03:23] AlexisDrogoul commented on #807
Solved and fixed by the recent commits on camera issues (see #2746 or #2640 for instance).

[2022-03-27 03:23] #807 closed

[2022-03-27 03:25] AlexisDrogoul commented on #2190
Closing this issue on which no information has been provided for a long time !

[2022-03-27 03:25] #2190 closed

[2022-03-27 08:18] agrignard commented on #2761
Ok great for the overlay.

At the layer level the only interest I see to have a more complex rotation is for a text layer. (e.g text on the facade of a building in a XZ or YZ axis, if ones need to rotate is model because of a projection on a table like in this example:)

Here is an example.

So without rotation (north is facing up in the Y axis, I can display my text as a legend )

<img width="420

[2022-03-27 09:30] hqnghi88 commented on #3076
Sorry, i did not successfully make a conversation with R in mode listening because the current code base of rama is still base on the normal headless.
<img width="586" alt="image" src="https://user-images.githubusercontent.com/6105384/160275361-a34813cb-4808-4dfb-b17e-fe6690e2a4b8.png">

I am looking for small modif in rama then, i supposed that we can close this issue for now and i will come back

[2022-03-27 09:30] #3076 closed

[2022-03-27 10:38] AlexisDrogoul commented on #2761
So what happens when you rotate the layer by 90° ?

[2022-03-28 04:43] choisy commented on #3076
Great! @hqnghi88 any possibility we have a zoom call sometimes so that you show me through the new headless?

[2022-03-28 04:55] hqnghi88 commented on #3076
Dear Marc,
Yes of course, maybe next week, i need one more week to make this feature more friendly abd stable.

[2022-03-28 04:56] choisy commented on #3076
Wonderful, any time is convenient for you, just let me know when you're ready.
Thanks a lot.

[2022-03-29 09:34] lgten1 opened #3336 "A problem about #year"
**Describe the bug**
If i use "write 0.1#year", the result is 0.0. It looks like only integers are supported.Decimals are not supported.

![image](https://user-images.githubusercontent.com/91418750/160580857-8590b8d0-0a75-4f22-8d87-86ce5977bead.png)
A double to long, 0.1 will be 0. So, what about doing like this:
![image](https://user-images.githubusercontent.com/91418750/160581240-b7515ace-238d-4

[2022-03-29 10:28] agrignard opened #3337 "Problem with 2 OpenGL displays in fullscreen on one monitor"
**Describe the bug**
I know it doesn't make sense to run this experiment however I am wandering if GAMA can handle this configuration by itself instead of having to force quit the application. Mayve it can be at least a warning when the experiment is launch saying that there is only one screen etc

The settings is the following:
- A model with 2 display in fullscreen 0 and 1 (for instance just add

[2022-03-29 15:26] AlexisDrogoul commented on #3336
Thanks for your reporting of this error and the proposal of a solution. I've implemented a similar solution directly on `msi.gaml.operators.Dates.approximalQuery(IScope, IExpression, IExpression)` as changing the behaviour of `public GamaDate plus(final double duration, final TemporalUnit unit)` could be an issue with the other calls of the method. Please close this issue if your tests show it is

[2022-03-29 19:56] hqnghi88 commented on #3076
Hi,
I add here a draft tutorial that i just try on R. Assumed that we have a gama headless listener started (by out-of-R terminal or by call java in R): the different syntax with normal headless is -socket num_port, ie
gama-headless.bat -socket 6868
./gama-headless.sh -socket 6868
<img width="875" alt="image" src="https://user-images.githubusercontent.com/6105384/160694329-d51be22a-7b88-4c63-aa62-

[2022-03-30 00:39] #3336 closed

[2022-03-30 04:39] ptaillandier opened #3338 "Problem of visualization when many experiments are defined"
**Describe the bug**
When many experiments are defined, it is difficult to see the one on the second line.
![visu_xp](https://user-images.githubusercontent.com/1506077/160752318-688890b6-1ee2-40b0-a89c-1ba36baf2c86.PNG)

**To Reproduce**
Steps to reproduce the behavior:
Test the following model:
[code]

**Desktop (please complete the following information):**
 - OS: tested on windows 10 and Mac OS

[2022-03-30 07:42] benoitgaudou opened #3339 "Reproductibility : `overlapping` and `at_distance` operators do not provide always the same order in its result"
**Describe the bug**
Sometimes the results of the `overlapping` operator are not in the same order, even when the seed is set to ensure reproducibility.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the  following model:
[code]
2. You can observe different results in  the various simulations:
[code]

**Expected behavior**
A clear and concise description of what you expected to happe

[2022-03-30 11:44] benoitgaudou opened #3340 "Radar : no display when initial values are set to 0"
**Describe the bug**
In a radar chart, when the initial value of the values to display is set to 0.0,
values are not displayed over the simulation when it evolves.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the model below:
[code]
3. Run the simulation.
4. Observe the 2 displays: R0 remains empty whereas R1 shows the evolution of the values.
In R0, the background color changes.

**D

[2022-03-31 12:18] agrignard opened #3341 "Impossible to exit fullscreen with an external display"
**Describe the bug**
I create quickly this issue before to forget it. With the last version (GAMA_1.8.2_MacOS_with_JDK_03.23.22_00531c7f) I am running a model which is using 2 display, both of them are in fullscreen (fullscreen:0 and fullscreen:1).

With this version when the simulation is launched I cannot esc the fullscreen mode and need to force quit GAMA.

To reproduce it you might need two ex

[2022-04-01 07:05] agrignard opened #3342 "Position facet for chart out of the environment"
**Is your request related to a problem? Please describe.**
I am not sure if it's a bug or a feature.

I often mixed chart and species in the same display. However the postion of the chart seems limited to be placed inside the bounds of the environment.

**Describe the improvement you'd like**
I'd like to be able to place a chart anywhere on the screen and especially on the left side of the environ

[2022-04-01 07:10] agrignard opened #3343 "Pie chart label enhancement"
**Is your request related to a problem? Please describe.**
The request is related to pie chart graphism
Here is how a pie chart looks like so far in GAMA
<img width="637" alt="Screenshot 2022-04-01 at 09 05 54" src="https://user-images.githubusercontent.com/3928502/161212970-4ba790f6-7373-47df-835f-fef047b117c7.png">

**Describe the improvement you'd like**
it would be great for 'design' purpose t

[2022-04-05 15:58] hqnghi88 commented on #3334
@AlexisDrogoul @gnoubi @benoitgaudou i tried a solution that provide the xstream by class, for thread safe. It seems to work, but i tested only network model, not the serialized Experiment. So it require a clear review and reimplementation as Alexis said in #3288 " one instance per agent / model / message sending/receiving,"

[2022-04-06 15:38] hqnghi88 commented on #3295
I close this, as i tested (and i remember who implemented that facet). Feel free to reopen or create new issue related

[2022-04-06 15:38] #3295 closed

[2022-04-06 15:39] hqnghi88 commented on #3307
I dont have anymore this issue. It seem be safe to close.

[2022-04-06 15:39] #3307 closed

[2022-04-06 15:44] hqnghi88 commented on #3121
Tested!
<img width="987" alt="image" src="https://user-images.githubusercontent.com/6105384/162014509-c1bb6820-2f4f-4590-959f-98a98dd198d5.png">

[2022-04-06 15:44] #3121 closed

[2022-04-06 15:46] hqnghi88 commented on #995
@agrignard can you test this and report back?

[2022-04-06 15:49] hqnghi88 commented on #3267
@chapuisk can you please take a look or should we count on the black magic (seems ok i tested with data in the original post)?

[2022-04-06 16:04] chapuisk commented on #3267
@hqnghi88 Patrick told me he solved it with "black magic", so let it be ;)

[2022-04-06 16:33] hqnghi88 commented on #3267
Thanks, Yes, i am very and always faithful with black magic.

[2022-04-06 16:33] #3267 closed

[2022-04-07 16:14] hqnghi88 commented on #2984
However, if a grid is in parallel, it seems to consume all cores
<img width="738" alt="image" src="https://user-images.githubusercontent.com/6105384/162249425-96b45529-0527-4d31-8f8a-e99f0e222c94.png">

[2022-04-08 02:27] litingzhen opened #3345 "The grid cell does not match the real location when the ASC file coverage is large"
**Describe the bug**
In the attachment we provide the test. In which we have two ACS files (have Elevation data),  one is 992X1691, the other one is 49x41, a small part of the first one.  In the test model, we load the ASC and get the highest point‘s location of a small area which the both asc files cover.

**Expected behavior**
The output location is same and must be consistent with the location

[2022-04-08 04:21] benoitgaudou commented on #3339
I update this issue as I notice the same issue on  the `at_distance` operator.
I experience  the fact that with 4 simulations in parallel, starting with the same seed, after 30 simulations cycles, the result of `at_distance` is not the same (at least not in the same order) for the 4 simulations.

Launch the following model. At step 30, it will pause and display the agents  at_distance 10 of the fi

[2022-04-08 10:52] ptaillandier commented on #3339
see commit https://github.com/gama-platform/gama/commit/2bb1367b51bf55c63d38a5d153a6829b97d01335

[2022-04-10 09:15] benoitgaudou opened #3346 "Switch perspective button and displays"
**Describe the bug**
I run a simulation with at least 1 display openGL and 1 display with charts.
After switching perspective  (with the top-left  button) twice (simulation -> modeling and then modeling -> simulation), I noticed 2 issues:
- When the chart display was displayed, after switching back to the simulation perspective: (i) the chart display is still selected but the openGL map is display

[2022-04-11 11:06] ptaillandier commented on #3340
I committed a fix... Could you try it?

[2022-04-13 06:46] benoitgaudou opened #3347 "OSM filtering does not remove all the elements which do not fulfill the filter"
**Describe the bug**
I want to keep from an OSM file only the school buildings.
I thus filter my OSM file with the proper: `map(["amenity"::["school"]])`.
I appears that  this filter keeps the school but also some other amenities.

**To Reproduce**
Steps to reproduce the behavior:
1. Import and launch the following GAML project (containing an OSM file and a GAML model)

[TestOSMFilter.zip](https:/

[2022-04-15 06:41] lesquoyb commented on #2828
So far here is where I am with this one on the git version of gama :

- as mentioned by @benoitgaudou it appears only when we send an agent with a non-empty mailbox to another agent (an agent sending a message to himself seems to not go through the same process, also everything works well sending an agent with an empty mailbox)
- the serialization part works well, it fails at deserializing
- joini

[2022-04-15 09:06] hqnghi88 commented on #2828
Hi, I can try, still CC with the real experts. But why are you workaround "specific for a precise case"? what make this message deserialize different with a "general case"??

[2022-04-15 09:40] lesquoyb commented on #2828
Basically it works and doesn't break anything, but that's black magic to me.
It works by pre-feeding the xstream class that's in charge of deserializing with some reference to an agent.
I did it because I ran the code step by step in debug mode and understood what was lacking in this precise example, but I have no idea why it was the case as that same xstream class has no problem with other object

[2022-04-15 09:47] hqnghi88 commented on #2828
OK, for all that , with the black magic, i think you can push the workaround, there is not much sorcerer supreme out there.

[2022-04-15 15:37] hqnghi88 opened #3348 "Inline Documention and Auto complete dont work for same block scope"
**Is your request related to a problem? Please describe.**
For new comer, even with regular modeler/gamaer, the inline documentation and autocomplete are always helpful
**Describe the improvement you'd like**
But there is use case that i experienced in some other modern programming language, that is this feature will broken if there is an error in the current block scope.
For example, in init bloc

[2022-04-18 09:16] lesquoyb commented on #3338
If that can help : I noticed that the height of the toolbar is correctly defined once you resize the window, so maybe there is an easy fix to do by forcing the display to refresh after adding all the toolbar items

[2022-04-18 10:31] RoiArthurB opened #3349 "Error while generating documentation XML files from JAVA code"
**Describe the bug**
GAMA's source code fail to generate inbuild documentation XML file used to create online website documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Compile GAMA software
2. Move to `msi.gama.documentation` folder
3. Launch following java command `java -cp ".:libs/jdom-2.0.1.jar:target/classes:../ummisco.gama.annotations/target/classes"  msi.gama.doc.MainGenera

[2022-04-18 11:17] hqnghi88 commented on #3349
fixed! the rest is git commit and git push command to gama.wiki or githubio i think you can manage well.

[2022-04-19 03:31] RoiArthurB commented on #3349
Fixed https://github.com/gama-platform/gama/runs/6071759659?check_suite_focus=true thanks Sensei @hqnghi88 🙏💪

[2022-04-19 03:31] #3349 closed

[2022-04-19 03:44] lesquoyb opened #3350 "Improve the installation process"
**Is your request related to a problem? Please describe.**
While the gama installation process is quite simple, it could still be improved by following each platform's philosophy e.g: the user would just have to deal with a package for linux, an installer program for windows and a dmg for macos (which is already the case)

**Describe the improvement you'd like**

1. Adding github jobs to generate

[2022-04-19 03:48] RoiArthurB commented on #3350
Here's a list to keep track of each process :
- [x] MacOS
  - [x] DMG signed install archive
- [x] Linux @RoiArthurB
  - [ ] PPA done on #2767 but need to be updated and automated
  - ⛔ Snap for Ubuntu distro
    - `.deb` is enough
  - ⛔ Flatpak for any distro
  - [ ] (?) AUR for Arch based distro
    - Need to be done from Ubuntu (as Github Actions Runner), so may not be done
- [ ] Windows @lesqu

[2022-04-19 04:13] hqnghi88 commented on #3350
Just to recall there was too old win installer here , to be replaced https://github.com/gama-platform/gama.installer

[2022-04-20 09:26] tnguyenh opened #3352 "Glitch with the contextual help in editor"
**Describe the bug**

Text in the contextual help is covered with horizontal black lines or white dots after scrolling.

**To Reproduce**

- Hover on a piece of code to get the context help.
- Scroll down.
- Some parts of the text are difficult to read.

**Screenshots**

![image](https://user-images.githubusercontent.com/18676913/164196173-71c91eff-7b23-4998-886b-bd2461fffe18.png)

![image](https:

[2022-04-20 09:51] tnguyenh opened #3353 "Setting axes: false results in wrong centering/zoom of the image"
**Describe the bug**
When using axes: false on a display results in a wrong appearance of the image. It happens with the version Alpha Version 1.8.2 (00531c7f).

With the code:

		`display Soil  axes: false { [...] }`

![image](https://user-images.githubusercontent.com/18676913/164199759-09ff1139-4f2b-458b-9839-2ad75eb3b876.png)

It should appear like this:

`display Soil  { [...] }`

![image](htt

[2022-04-20 10:03] lesquoyb commented on #3352
In order to have a complete overview of your setup, do you have a windows scaling higher than 100% ?

[2022-04-20 10:18] tnguyenh opened #3354 "Glitch when switching display or with layout split"
This might be related to issue #3353.

When using several displays in Alpha Version 1.8.2 (00531c7f), a part of the graph of one display keep being shown when switching display.

**To Reproduce**
 First display "cumulative" is show, as this:

![image](https://user-images.githubusercontent.com/18676913/164202966-845a4003-5255-483b-ac4f-aa0010228c60.png)

Then switching to "Soil" brings this:

![ima

[2022-04-21 09:29] tnguyenh commented on #3352
Yes, 150%.

[2022-04-21 09:37] tnguyenh opened #3355 "Management of experiments buttons order"
I haven't understood the logic behind the way experiments buttons are ordered. For example, I see this in my editor;

![image](https://user-images.githubusercontent.com/18676913/164426027-7152854d-8198-4d37-a7f2-7ef400b78ad6.png)

The green buttons are not ordered according to the definition order of the experiments, which is "simulation", ""exploration (gamma=1, genetics)", "exploration (gamma=1,

[2022-04-22 09:54] agrignard commented on #2754
I took me a while to reunderstand my own issue too. I think it was related to the up vector feature (which is not here any more) so I think we can forget this issue as testing with the new camera statement  I am not able to reproduce it.

However I have discover another issue related to camera position mixed with an image raster.

In this model
[TestImage.zip](https://github.com/gama-platform/gama

[2022-04-25 05:07] benoitgaudou opened #3356 "Exception when 2 headless simulations send message to MQTT broker"
**Describe the bug**
Let's consider a model sending a message to an ActiveMQ broker.
When launched on GAMA GUI, it works (as expected).
When launched in headless, it works.
When 9 parallel simulations are launched in GAMA headless, it works.
But when  2 headless simulations are defined  in an XML file, it crashes with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[2022-04-25 08:34] tnguyenh opened #3357 "file copy and rename (move) operators"
Right now some basic file operators exist (delete, ...), but I didn't find "copy" and "move" operators. Of course there are workarounds t achieve such results, but it would be nice to have such operators.

[2022-04-26 09:35] agrignard opened #3358 "Problem when using display inheritance and fullScreen"
**Describe the bug**
I discover this bug by trying to rerun Bac Hung Hai model. The model used to work in November 2019. I don't think this code has been rerun ever since.

So at this time the idea was to use a Parent Experiment and then a ParentDisplay using this syntax

[code]

This syntax still work however if you want to define the childDisplay as a fullScreen experiment you get a white screen

[2022-04-26 09:59] agrignard opened #3359 "Unification of the network scanning agent"
**Describe the improvement you'd like**

We now have several model (e.g [Bac Hung Hai](https://github.com/CityScope/CSL_Hanoi), [ReAgent (ReUse and Urbam)](https://github.com/VCityTeam/UD_ReAgent_ABM)) using the scanning feature developed at [CityScience](https://github.com/CityScope/CS_CityScoPy)

Now each model is reimplementing its own scanning method in gaml  an agent inheriting from network.

[2022-04-26 13:04] benoitgaudou commented on #3347
Seems to work ! Thx !

[2022-04-26 13:04] #3347 closed

[2022-04-26 13:09] benoitgaudou commented on #3340
Thx!

[2022-04-26 13:12] benoitgaudou commented on #3339
Thx

[2022-04-27 10:08] DAM-Philippon opened #3360 "No info on system's memory through gama.max_memory"
**Describe the bug**
Hi everyone,
Facing a bug with the value of max_memory provided by the agent gama while doing some benchmark (equals to 0 byte). Not facing any memory problem while running a model though.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Library\GAML Syntax\System\System.gaml
2. Run the experiment
3. See that the gama.max_memory is equal to 0 byte (hence gama.free_m

[2022-04-27 15:26] hqnghi88 commented on #3360
There was a casting from long to int , i dont know why as all the computed value are long , so why we need to return int at last??
<img width="255" alt="image" src="https://user-images.githubusercontent.com/6105384/165554119-fc3687d9-933c-45a6-9c76-62c89c34e5c5.png">
Anyway, i change all to long.
( Btw, you have the same name with my dear-long-time-no-see friend )

[2022-04-29 09:55] benoitgaudou opened #3361 "OpenGL does not display emoji"
**Describe the bug**
In  a Java2D display, it is  possible  to  add emoji (as text) to display agents.
But with an OpenGL display, emoji are not  appearing.

**To Reproduce**
Steps to reproduce the behavior:
1. Test  the following model.
[code]
2. The java2D display displays the emoji whereas the OpenGL cannot

**Screenshots**
<img width="1178" alt="Screenshot 2022-04-29 at 16 54 43" src="https://

[2022-04-30 05:53] benoitgaudou opened #3362 "Generation of the processor makes many GAMA plugin errors"
**Describe the bug**
I  try to regenerate the processor ( `msi.gama.processor / processor / plugins / msi.gama.processor_1.4.0.jar `).
The documented process is to use the `Export plugin` link in the `plugin.xml`.

The generated processor seems to be correctly generated.
Nevertheless, after a compilation of the GAMA projects, most of the GAMA plugins have an error... that I am not able to identify

[2022-04-30 06:56] benoitgaudou commented on #3262
I ve  just  tested,  and no error so I close.

[2022-04-30 06:56] #3262 closed

[2022-04-30 07:27] benoitgaudou commented on #3263
@chapuisk
I just tested the `Batch.gaml` from the model library, with the `pref_parallel_simulations_all ` preference set to true.

Launching the `Exhaustive` experiment has 2  effects:
* A reflex in the experiment  is only executed when all the 27 simulations are finished.
* Ass  a consequence the display in the `permanent` block is updated only 1 time (when  all the simulations are  finished).
*

[2022-04-30 07:34] benoitgaudou commented on #2828
Just tested  and seems to work properly !

[2022-04-30 07:34] #2828 closed

[2022-04-30 07:37] benoitgaudou commented on #3334
tested and  seems to work. Thanks !

[2022-04-30 07:37] #3334 closed

[2022-04-30 08:03] AlexisDrogoul commented on #3362
Where is this procedure documented ? In the `msi.gama.processor` plugin, you can find `Generate Processor.jardesc` and run it: this is the only way to create a valid annotation processor (as it incorporates some other jars).

<img width="147" alt="Eclipse Workspace f… 2022-04-30 10-01-15" src="https://user-images.githubusercontent.com/579256/166097342-93a7dbbb-6aba-4046-81fd-191f58c0b669.png">

[2022-04-30 10:08] benoitgaudou commented on #3362
The documentation is here:
https://github.com/gama-platform/gama/wiki/Documentation#how-to-change-the-processor

Seems to need an update :-)

Thanks I will try.

[2022-04-30 12:11] #3263 closed

[2022-05-03 12:32] agrignard commented on #3337
Might be link with #3341

[2022-05-04 10:44] tnguyenh opened #3363 "Recover model tabs after Gama crashes"
When Gama crashes, it cleans the corrupted workspace after restart. However, model tabs are lost. Since I usually have many tabs opened at the same time, it is quite annoying to reopen them one by one (and sadly gama often crashes with me). Is it possible to save somehow the open tabs and reopen them after cleaning ?

This is what I get after crash, restart and cleaning:
![image](https://user-imag

[2022-05-04 11:12] LucasGrjs commented on #3288
Problèmes pour run les tests de network sur Gama 1.8.2 :
[code]

Le fichier MqttException semble manquer donc impossible de vérifier si le problème initiale est résolé

[2022-05-04 11:18] LucasGrjs commented on #3360
Just tested that and its working :

[code]

[2022-05-04 11:18] #3360 closed, assigned to nobody

[2022-05-04 11:35] tnguyenh opened #3364 "add the possibility to multiply/divide lists element by element"
list<float> list2 <- list1 * 0.3 should return a list which elements are the elements of list1 multiplied by 0.3

This already works with matrices.

[2022-05-04 11:37] LucasGrjs commented on #3111
Just tested this issue and it's working

[2022-05-04 11:37] #3111 closed

[2022-05-04 11:39] gnoubi commented on #3288
Bonjour
La bibliothèque était présente dans les lib de network. N’aurait elle pas été supprimée ?

Nico

Nicolas Marilleau
UMI 209 UMMISCO IRD/UPMC
Chercheur invité Femto-st

Institut de Recherche pour le Développement
32 avenue Henri Varagnat
93143 Bondy
Fixe : 0148027901
Mobile: 0688334906

[2022-05-04 11:41] AlexisDrogoul commented on #3363
The principle of "cleaning the workspace" precisely removes all the metadata that can be corrupted, which contains the one keeping track of the open tabs, selected files, etc... It is the same in Eclipse. Sorry !

[2022-05-04 11:41] #3363 closed, assigned to nobody

[2022-05-04 11:47] gnoubi commented on #3288
Ou peut être que la lib doit simplement être mise à jour

Nico

Nicolas Marilleau
UMI 209 UMMISCO IRD/UPMC
Chercheur invité Femto-st

Institut de Recherche pour le Développement
32 avenue Henri Varagnat
93143 Bondy
Fixe : 0148027901
Mobile: 0688334906

[2022-05-04 12:31] LucasGrjs commented on #3288
Mis à jour de la librarie org.eclipse.paho.client.mqttv3 de sa version 1.0.2-3 vers sa version 1.2.5.
Les 3 tests de network passent tous après cela.

[2022-05-04 12:31] #3288 closed

[2022-05-04 14:56] agrignard opened #3365 "Minimum duration slider wrong color in fullscreen"
**Describe the bug**
Run any model with a toolbar , press esc to put it in full screen

**Expected behavior**
The minimum duration slider color should be the same as the rest of the toolbar

**Screenshots**
<img width="1440" alt="Screenshot 2022-05-04 at 21 50 09" src="https://user-images.githubusercontent.com/3928502/166707993-b2ed1d83-862c-4a8d-bbaa-4abf636a40d2.png">

**Desktop (please complete

[2022-05-04 15:09] #3357 closed, assigned to tnguyenh

[2022-05-04 17:46] hqnghi88 opened #3366 "loop of data statements in permanent display does not return all series"
**Describe the bug**
Using this simple randomized data model
[code]
This return 2 different series in permanent display
<img width="1539" alt="Screen Shot 2022-05-05 at 00 42 07" src="https://user-images.githubusercontent.com/6105384/166747536-e9ef0a50-c2c5-4b06-8081-528b189ec47b.png">

When we uncomment the data statement above (the one use call) , it return only 1 serie (the first).
<img width="

[2022-05-04 17:59] RoiArthurB opened #3367 "Windows headless wrapper is outdated"
**Describe the bug**
A _lot_ of development has been made on `gama-headless.sh` (for Linux and MacOS systems), but the `gama-headless.bat` has been a bit abandoned (by my lack of knowledge). This may leave some troubles using GAMA Headless on Windows systems.

**Expected behavior**
Update `gama-headless.bat` to be more coherent with other system's wrapper.

[2022-05-04 18:34] RoiArthurB commented on #3350
I removed the old repo as it has been re-do inside GAMA in [ummisco.gama.product/extraresources/installer/windows](https://github.com/gama-platform/gama/tree/GAMA_1.8.2/ummisco.gama.product/extraresources/installer/windows) 😁

[2022-05-04 18:44] #3366 closed, assigned to AlexisDrogoul

[2022-05-05 01:28] lesquoyb opened #3368 "Opengl displays not working on linux with specific setup"
**Describe the bug**
On my specific configuration, a laptop with a gpu and a graphical chipset running ubuntu, I'm unable to run experiments using opengl displays, the output tab is completly black. If I run the experiment, appart from the display the steps run as expected. Sometimes running the experiment would cause a crash of the whole program.

**To Reproduce**
If I run:

[code]

I see this:
!

[2022-05-05 01:55] ptaillandier commented on #3345
The problem comes the fact that the grid is in WGS84 - GAMA has to project the grid in a projected CRS, which can lead to error in the coordinate of the cells (due to a string limitation in GAMA 1.8.2). With the current way of managing grids, we cannot fix  this issue in a "clean" way, so for the moment, I just added a warning. We can try to find a proper fix for GAMA 2.0.

[2022-05-05 02:25] benoitgaudou commented on #3356
Seems to have been  fixed by d4750ea

[2022-05-05 02:25] #3356 closed, assigned to nobody

[2022-05-05 02:43] lesquoyb commented on #3368
It turns out that it was due to my xorg configuration so nothing to do with gama

[2022-05-05 02:43] #3368 closed, assigned to nobody

[2022-05-05 04:35] #3355 closed

[2022-05-05 07:15] tnguyenh opened #3369 "Show parents operators in category operators in the documentation"
Currently, the documentation show only operators from the same level for the categories. For example, in "list operators", we can find list-related operators, but no container-related operators:

![image](https://user-images.githubusercontent.com/18676913/166877408-dfe1b6fd-1d79-4c0d-82b1-6974c4511053.png)

However, it might be interesting for users (more specifically beginners) to have somewhere

[2022-05-05 07:31] RoiArthurB opened #3370 "No default gama-workspace on first GAMA installation"
**Describe the bug**
I freshly installed GAMA w/ JDK on new computers and, while starting GAMA for the very first time it didn't propose any default folder for the workspace. This may be disturbing for newcomers as they probably won't know what it is for.

**To Reproduce**
Steps to reproduce the behavior:
1. Install GAMA
2. Start GAMA
3. See error

**Expected behavior**
See a default folder for ga

[2022-05-05 08:13] lesquoyb opened #3371 "Splash screen does not close on linux"
**Describe the bug**
On linux on the workspace selection dialog if I choose to click on cancel (to close gama instead of picking a workspace), the dialog closes, but not the splash screen.

**To Reproduce**
Steps to reproduce the behavior:
1. run gama
2. Wait for the workspace selection dialog to appear and click on 'cancel'
![image](https://user-images.githubusercontent.com/6374469/166884914-c3fc

[2022-05-05 08:49] agrignard opened #3372 "GAMA Web Thread"
**Is your request related to a problem? Please describe.**
This issue is meant to iterate with @hqnghi88 to document and have a user friendly GamaWeb version

Here is the current status of the work made by @hqnghi88 based on the @gnoubi headless

1. Launch a Headless SERVER

- Instantiate a headless server by running ````msi.gama.headless.id4_full````
-Note: Here is the current argument ````-os ${

[2022-05-05 09:16] agrignard commented on #3343
Trying to work on this

I might be wrong as far as I understand the code related to this might be here
ChartJFreeChartOutputPie.java

In this method

[code]

The doc is here
https://www.tabnine.com/code/java/methods/org.jfree.chart.ChartFactory/createPieChart

[2022-05-05 09:56] #3370 closed, assigned to nobody

[2022-05-05 09:59] AlexisDrogoul commented on #3361
The legacy TextRenderer used to use some texture rendering using Java2D, and should normally be able to display emojis (as per its doc in  https://github.com/sgothel/jogl/blob/master/src/jogl/classes/com/jogamp/opengl/util/awt/TextRenderer.java) but it does not work and  I dont know why. No hint whatsoever in the forums of Jogamp. And it will not (and I can say never) work using the new TextRender

[2022-05-05 10:06] benoitgaudou commented on #3361
Let's move this issue to GAMA 2.0 then :-)

[2022-05-05 10:21] benoitgaudou commented on #3364
The reason why  it does not exist is because + and - have not the classical arithmetic meaning on list, but it used to add / remove elements from a list:
[code]
Whereas on matrix, + : - is used in the arithmetic meaning:
[code]

[2022-05-05 11:16] RoiArthurB opened #3373 "No display on Wayland backend (like on Ubuntu 22.04)"
**Describe the bug**
The new release of Ubuntu (22.04) did switch default window manager from X11 to Wayland.

Unfortunatly, it completly change every low-level graphical logic and :
- Java2D displays don't work

![image](https://user-images.githubusercontent.com/16764085/166911444-bc02081b-d495-438c-9125-eae07f3a4d81.png)

- It have huge conflict with OpenGL making the full software to crash.

**

[2022-05-05 12:10] agrignard commented on #3342
I tested a bit so far in few models and in particular on the specific model I was working and it seems to work so far.

I guess we can let @AlexisDrogoul close this issue if he remembers what was the point of the 2 lines
[code]

[2022-05-05 12:46] agrignard commented on #2759
Spent some time on this, few thing have changed except that the flip now happens between 90 and 91 instead of 89 and 90 degrees...

[2022-05-05 12:55] #3371 closed, assigned to nobody

[2022-05-05 13:11] agrignard commented on #2761
This is how it looks with the rotaion:90 (as excepted the rotation is made around the z axis)
<img width="565" alt="Screenshot 2022-05-05 at 20 06 12" src="https://user-images.githubusercontent.com/3928502/166929124-dc71e0e6-e20f-4e4d-b3ff-2281d1a10fcd.png">

Indeed one solution is to add those "bloatet" facet (```axis``` and ```center```) at the layer level. But indeed the syntax starts to be wei

[2022-05-05 13:12] #3373 closed, assigned to RoiArthurB

[2022-05-05 14:22] LucasGrjs commented on #3367
Fixed the batch script to make it work again on Windows (must be run with the cmd as administrator in order to create the output directory and the log file if they are not already created)

[2022-05-05 14:22] #3367 closed, assigned to LucasGrjs

[2022-05-05 14:41] RoiArthurB commented on #3373
Unfortunatly, it doesn't seem to be possible to fix this from inside JAVA code (see here also : https://bugs.eclipse.org/bugs/show_bug.cgi?id=577515 ).

-> Should add Troubleshooting entry in wiki

[2022-05-05 15:16] RoiArthurB commented on #3350
For track : We won't add deb meta-data as we would need to use another utility ([AppStream](https://www.freedesktop.org/wiki/Distributions/AppStream/)) to package GAMA (cf. https://gitlab.gnome.org/GNOME/gnome-software/-/wikis/software-metadata )

[2022-05-05 16:12] agrignard commented on #3372
Thank you @hqnghi88 . The first proof of concept is working like a charm. (right now just displaying the agent at their location with a white circle)

<img width="1037" alt="Screenshot 2022-05-05 at 23 09 11" src="https://user-images.githubusercontent.com/3928502/166966136-0cc51433-36e8-45eb-907f-f2855602825f.png">

Next step is to get a specific attribute of the agent in order to set its color.

[2022-05-05 16:36] agrignard commented on #3372
Closing this issue as the 2 features are now ok. I'll start a discussion to see what are the best solution to make it more usable and generic

<img width="1008" alt="Screenshot 2022-05-05 at 23 35 16" src="https://user-images.githubusercontent.com/3928502/166970743-ac2d4d3e-5192-4d83-8108-2edad5020c8e.png">

[2022-05-05 16:36] #3372 closed, assigned to agrignard, hqnghi88

[2022-05-05 18:06] ptaillandier commented on #3343
It is already possible to not display the label of a pie chart using the facet: series_label_position: "none"

I added the possibility to define the label color: label_text_color: #red label_background_color: #lightgray axes: #red (axes already existed).

[2022-05-06 00:58] AlexisDrogoul commented on #3365
Please describe the combination of dark / light modes in the OS + GAMA, as well as whether it is obtained when running from Eclipse or from the release.

[2022-05-06 01:01] AlexisDrogoul commented on #3364
Just for the record, the workaround is of course to use collect so that `list2 <- list1 * 0.3` becomes:

[code]

[2022-05-06 01:01] #3364 closed, assigned to benoitgaudou

[2022-05-06 01:06] AlexisDrogoul commented on #3354
Please describe precisely in which context this happens, as it seems to be very specific to your configuration: graphics card used and graphics configuration (zoom, etc.). Also, does it happens with Java2D displays or is it specific to OpenGL ?

[2022-05-06 01:38] AlexisDrogoul commented on #3352
Can't reproduce it on Windows 11, dark mode (I assume it is your case), 250% of zoom.
![popup](https://user-images.githubusercontent.com/579256/167052680-5fb80fa1-5aef-467d-939c-6566fab15e58.jpg)

[2022-05-06 01:38] #3352 closed

[2022-05-06 03:41] agrignard commented on #3337
Doesn't seem to work.

Step to reproduce on a Desktop Computer (without an external screen)
1. Open this model ```Tutorials/Road Traffic/Model 01.gaml```
2. Change the existing experiment ```road_traffic``` by this one and I still cannot esc this mode
[code]
3. Lanch the experiment

On my configuration this is how looks my screen once the simulation is launch
<img width="1440" alt="Screenshot 2022

[2022-05-06 03:43] AlexisDrogoul commented on #3209
Closing in favour of more specific issues.

[2022-05-06 03:43] #3209 closed

[2022-05-06 03:59] agrignard commented on #3365
This is what I have with the last release (GAMA_1.8.2_MacOS_with_JDK_05.05.22_6f6d34dd) and from Eclipse when my OS is in Dark Mode

Dark Mode (following os theme)
<img width="1440" alt="Screenshot 2022-05-06 at 10 55 34" src="https://user-images.githubusercontent.com/3928502/167064562-3f4e570b-7b06-4c78-b1ad-c9c72693aeb3.png">

Light mode (os is in dark)
<img width="1440" alt="Screenshot 2022-05-

[2022-05-06 04:18] benoitgaudou commented on #3097
I updated the documentation  by:
- providing details about agent types :  https://gama-platform.org/wiki/next/DataTypes
- providing more  details about  csv file and  the  way to import date  files in https://gama-platform.org/wiki/next/FileTypes

```According to the documentation, CSV files are parsed by column and then a loop goes over the file record-by-record. What function do I use to determi

[2022-05-06 04:18] #3097 closed

[2022-05-06 05:10] agrignard commented on #3343
Tested! Ok for me!

[2022-05-06 05:10] #3343 closed

[2022-05-06 05:28] RoiArthurB commented on #2984
I reopen this issue as I have the exact same issue when I set cores for GAMA Headless in Batch mode :

[code]

**Desktop (please complete the following information):**
- OS: Linux
- GAMA version: git
- Java version: OpenJDK 17 LTS

[2022-05-06 08:59] lesquoyb opened #3374 "Generate the pdf version of the documentation for 1.9.0"
**Describe the improvement you'd like**
Once all the documentation issues fixed for Gama 1.8.2 we need to regenerate the pdf version of it and add it to the download page

[2022-05-06 09:44] agrignard opened #3375 "Unification of the method to get file from URL (and json handler)"
**Describe the bug**
Unification of the url/json handler.

This issue needs to be improved here are some note (with certainly some wrong naming and concept, don't hesitate to modify this post)

The concept is to compare what is done in  ```GamaFile (Webb)``` VS what is done in ```Network/Websocket```

 - Currently: In file we remove all the library and we call http request to get the file (using w

[2022-05-06 10:33] RoiArthurB commented on #2984
I did not pulled the commit fixing this, sorry 🙈🙈🙈

[2022-05-06 10:33] #2984 closed

[2022-05-06 10:38] RoiArthurB opened #3376 "Can't limit number of cores used in Batch Headless"
**Describe the bug**
The `-hpc` flag in headless batch to limit number of cores used (like in classical headless) isn't read by GAMA

**To Reproduce**
Steps to reproduce the behavior:
1. Launch a headless batch command like `$ bash gama-headless.sh -hpc 1 -batch Optimization ./Tutorials/Predator\ Prey/models/Model 13.gaml`
2. See max cores used anyway

**Expected behavior**
From the example, limit

[2022-05-06 11:24] tnguyenh commented on #3354
Windows 10
Nvidia RTX 4000

Seems to be fixed now...

[2022-05-06 11:24] #3354 closed

[2022-05-06 11:39] agrignard commented on #3358
Working!

[2022-05-06 11:39] #3358 closed, assigned to agrignard

[2022-05-06 11:39] agrignard commented on #3337
Working too!

[2022-05-06 11:39] #3337 closed

[2022-05-06 11:40] agrignard commented on #3341
Related to #3337 so we can also close it

[2022-05-06 11:44] tnguyenh commented on #3353
Seems to be fixed.

[2022-05-06 12:55] agrignard opened #3377 "Check the size of the release"
**Describe the bug**
Right now the Mac release is quiet big (dmg is 700Mb and then the Gama.app is close to 1Go)

Lots of .tmp file are here in Eclipse/plugins representing 400Mo

[2022-05-06 13:16] benoitgaudou commented on #3374
a veersion has  been generated and uupdated

[2022-05-06 18:34] agrignard opened #3378 "Side Control refactoring"
**Describe the bug**
<img width="250" alt="displays_opengl_sidebar" src="https://user-images.githubusercontent.com/3928502/167196827-bf6bd745-1a72-46b6-8987-703e3f165273.png">

Remove most of it to simplify the GUI

1. Keep Keystone as a clipboard
2. Move the camera copy facet in the toolbar
3. Move the layer display control to the top toolbar with aspect, transparency, visibility

[2022-05-07 02:33] #3353 closed

[2022-05-07 04:49] lesquoyb opened #3379 "Horizontal scrollbar hides last item in the models navigation view in ubuntu"
**Describe the bug**
On my laptop when I hover over the horizontal scrollbar, it appears over the content of the model navigation view and hides the last item even if I scroll vertically to the maximum. It can be annoying especially if you try to scroll horizontally just to read something in particular in the name of a file/directory.
![image](https://user-images.githubusercontent.com/6374469/1672

[2022-05-07 08:27] AlexisDrogoul commented on #3379
Workaround and comments here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=519728

Nothing we can really do in GAMA AFAIK for the moment...

[2022-05-07 08:29] AlexisDrogoul commented on #3378
Done in the latest commit (I forgot to mention it): https://github.com/gama-platform/gama/commit/cdb2394ebe7f1f58de71f5c5dc3dc80622d745b3

[2022-05-07 08:29] #3378 closed, assigned to nobody

[2022-05-07 08:32] AlexisDrogoul commented on #995
Closing it

[2022-05-07 08:32] #995 closed

[2022-05-07 08:36] AlexisDrogoul commented on #2754
Sorry I do not understand the issue -- what does "replace my camera by hand on each display" mean ?

[2022-05-07 08:40] AlexisDrogoul commented on #3348
Nothing can be done in that respect with the current grammar. XText does not provide access to the scope when a previous error occurs. Moving it to a "future" version.

[2022-05-07 08:47] #1367 closed

[2022-05-07 08:50] AlexisDrogoul commented on #2761
Please describe some enhancement specific to layers you would like in a separate issue -- I consider this one to be fixed as it was mentioning the displays.

[2022-05-07 08:50] #2761 closed

[2022-05-07 09:17] #3342 closed

[2022-05-07 09:20] DAVIEPHAM opened #3380 "Cannot run flood simulation experiment in Headless mode"
**Describe the bug**

I couldn't run Flood simulation in headless experiments, many times I set finalStep > 150, it doesn't work, but < 120 is fine. Sometime I get the same problem in user interface.
**Screenshots**
![image](https://user-images.githubusercontent.com/83625165/167247626-8f308262-0e1d-4ea7-94ba-99b108ff6ac4.png)

**Desktop (please complete the following information):**
 - OS: [Win10]

[2022-05-07 09:22] hqnghi88 commented on #3380
Hi,
Can you post the xml used for that headless running?

[2022-05-07 09:30] #3365 closed, assigned to nobody

[2022-05-07 09:30] lgten1 opened #3381 "A memory problem"
A memory problem.

The memory increased 100m+ each time,when i run the experiment using state machine and grid species.
Worse yet is, this memory cannot be collected by GC.

This happened in 1.8.1 and 1.8.2.

Here is the code(a simple experiment ):
![微信图片_20220507172211](https://user-images.githubusercontent.com/91418750/167248021-4013796c-828e-495f-be8a-dfdadbf3bb22.png)

Here is the memory usage

[2022-05-07 09:35] benoitgaudou opened #3382 "Bayesian Network model is broken"
**Describe the bug**
In the Bayesian network experimental  plugin, the example model is broken.

**To Reproduce**
Ruun the model of  the Bayesian network plugin, an error appears.

**Desktop (please complete the following information):**
 - OS: macOS
 - GAMA version: git

[2022-05-07 09:35] agrignard opened #3383 "Set the arrow movement and arcball rotation factor in the preferences"
**Is your request related to a problem? Please describe.**
In the same way we can set the factor of the zoom in the preference (in order to zoom slowly or quickly) what about having the same for the  arrow keys and the arcball rotation (cmd + arrow) ?

In my opinion it's pretty quick now for most of the model

Also it seems actually to depend on the model (so I guess on the size of the environment

[2022-05-07 09:51] AlexisDrogoul commented on #3381
Thank you for the example. I have tested it, but I can't reproduce the problem on my computer. Running the simulation several times does not increase the memory. To be thorough, I have launched it, closed it, then relaunched it, etc. several times. How did you proceed ? Same way or directly reloading the simulations ?

[2022-05-07 10:18] #3383 closed, assigned to nobody

[2022-05-07 10:19] ptaillandier commented on #3382
fixed

[2022-05-07 10:19] #3382 closed, assigned to ptaillandier

[2022-05-07 10:43] AlexisDrogoul commented on #2754
In any case, please open an issue specific to this "zoom" problem (which I still do not get).

[2022-05-07 10:43] #2754 closed

[2022-05-07 12:16] benoitgaudou opened #3384 "Websocket : add stepBack command support"
**Is your request related to a problem? Please describe.**
In  the websocket, all  the possible actions on simulations are  possible (start, step  ...) but stepBack.

See for example the following lines commented:
[code]
in `ManualExperimentJob.java`.

**Describe the improvement you'd like**
Suppport the stepBack action on simulations.

[2022-05-07 12:23] ptaillandier opened #3385 "Problem with the access to the doc from GAMA for some plugins"
**Describe the bug**
Sometimes, I cannot access to the documentation of some operators/attributes/skills

**To Reproduce**
Very random....
 in the interactive console: ?acc_bias, then ?lane_change_cooldown, then searching the same skill attribute in the gaml reference search engine of GAMA.... after some times, the documentation of the attribute is not accessible (not yet documented).

**Desktop (

[2022-05-07 12:50] AlexisDrogoul commented on #3385
I think I've found the culprit (compilation of models using this variable). Commit on the way.

[2022-05-07 12:51] #3385 closed, assigned to AlexisDrogoul

[2022-05-07 12:53] tnguyenh opened #3386 "Continuous charts do not work with built-in ODE models"
**Describe the bug**

It is not possible to draw continuous curves when using built-in ODE model such as the SIR model (experiments cannot be run). It works well if the ODE system is defined manually instead.

The model variables to be displayed are not recognized as list in the display.

**To Reproduce**

Use the following code:

[code]

It is then impossible to run an experiment. If the equation

[2022-05-07 12:59] tnguyenh opened #3387 "Equations can be defined several times within the same species"
**Describe the bug**
Equations can be defined several times (with the same name) within the same species. The code

[code]
does not provide any error or warning, and the simulation can be run even if I don't know which equation definition is used.

**Expected behavior**
It would be better if two equations with the same name could not be defined within the same species.

 - GAMA version: [1.8.2 ecl

[2022-05-07 13:11] tnguyenh opened #3388 "Permanent display with several simulations show the wrong data series when calling a function instead of directly accessing a variable"
**Describe the bug**

When using a permanent display with several simulations, drawing a chart using a function call instead of a direct access to a variable results in displaying the data of the wrong simulation.

In the following code, two simulations compute two data series (`S`).

[code]

They are displayed in a chart using two ways. The first one use a call to a function `val`, which eventual

[2022-05-07 13:24] #3387 closed, assigned to hqnghi88

[2022-05-07 13:37] #3386 closed, assigned to hqnghi88

[2022-05-07 14:56] lgten1 commented on #3381
I re-downloaded the code for 1.8.1 on a new pc , modified the memory settings ,as the figure shows. Just change Xms and Xmx
![image](https://user-images.githubusercontent.com/91418750/167258967-c726c97d-e214-4450-a562-93c223a36b4d.png)
Then, run gama, open the test code, run state experiment , wait for load complete, run several hundred cycles, then close the experiment.
![image](https://user-imag

[2022-05-07 17:22] AlexisDrogoul commented on #3381
Yes. Exactly the same here. With the result that the memory is 69Mb after five runs of approximately 500 steps (and only one manual GC necessary, at the end). All this on GAMA 1.8.2. Have you tried with the newest version ? (you seem to indicate that it is the case in your first post).

[2022-05-07 17:29] lgten1 commented on #3381
Yes, I have tried with the newest version(1.8.2), just like 1.8.1, memory increased.
If enough times, memory will be full and low memory prompts will always display.Worse is that I can t recycle memory by gc.

[2022-05-07 17:44] #3346 closed

[2022-05-07 18:05] tnguyenh opened #3389 "Wrong legend color in charts when using continuous charts"
**Describe the bug**
After the simulation initialization, the legend colors appear to be wrong. After one step, the color is updated and the right colors are displayed.

**To Reproduce**
Use the following model

[code]
This is the color I get:

![image](https://user-images.githubusercontent.com/18676913/167266411-efe105d0-06b1-462e-b24f-f470b1c82436.png)

and this is the color that I should get:

[2022-05-07 18:33] ptaillandier commented on #3380
It is due to the use of the parallel facet in some "ask". The use of this facet can lead to some error with the MersenneTwister random generator. I removed the parallel facet from the model. It should work now.

[2022-05-07 18:54] #3388 closed, assigned to hqnghi88

[2022-05-07 19:05] AlexisDrogoul commented on #3381
Can you attach the configuration of GAMA ("About GAMA" menu, then "Installation Details", then Configuration). And also the value of your preferences ? ("Preferences" menu, then "Export to GAML") ? Thanks.

[2022-05-07 19:47] #3389 closed, assigned to ptaillandier, pcaillou

[2022-05-08 02:54] lesquoyb opened #3390 "Testing all models packaged with gama"
**Describe the bug**
For every gaml model package with gama we must make sure that:

- It has no warning
- It compiles
- It runs without crashing
- It does what it's supposed to do

List of every model to test:

- [x] Physics Engine/models/Testing Steps.gaml
- [x] Physics Engine/models/Perfect Gas Chamber.gaml
- [x] Physics Engine/models/Eroding Vulcano.gaml
- [x] Physics Engine/models/Testing Res

[2022-05-08 03:06] DAVIEPHAM commented on #3380
It works now. Merci beaucoup à vous !!!

[2022-05-08 03:07] #3380 closed, assigned to ptaillandier

[2022-05-08 03:10] hqnghi88 commented on #3390
@DAVIEPHAM Quyen have tested some using headless mode, do we consider as it works normally in GUI?

[2022-05-08 03:44] AlexisDrogoul opened #3391 "Choice of native library in Physics models not respected"
**Describe the bug**
The choice of native libraries does not seem to be respected on some models (

**To Reproduce**
Launch "Eroding Vulcano" and change the first assignment of `use_native_library`.

**Expected behavior**
A very big difference in computation time.

**Desktop (please complete the following information):**
 - OS: macOS Monterey
 - PC Model: MBP M1
 - GAMA version: git

[2022-05-08 03:55] AlexisDrogoul opened #3392 "Objects not displayed when refresh:false is used in their layer and autorun: true in the experiment"
**Describe the bug**
When `refresh: false` is used on a layer which contains objects with a certain texture, the objects are not drawn correctly (i.e. no texture appears and the objects themselves are not drawn).
**To Reproduce**
Launch "Play Pool". The walls and the ground are now drawn.

<img width="714" alt="Newt Window 2022-05-08 10-53-01" src="https://user-images.githubusercontent.com/579256/

[2022-05-08 04:39] AlexisDrogoul commented on #3392
In other models, however, it is working flawlessly, with or without textures...

[2022-05-08 04:55] hqnghi88 opened #3393 "gama-headless.bat work only with release "with_JDK""
using the gama-headless.bat in  gama 1.8.2 alpha, i think it works only with the release "with_jdk" as in this important sentence:
call **..\jdk\bin\java** -cp !result! -Xms512m -Xmx%memory% -Djava.awt.headless=true org.eclipse.core.launcher.Main  -application msi.gama.headless.id4 -data "%workDir%" !param!
we dont have ..\jdk\bin\java for all the cases??

[2022-05-08 04:59] #3384 closed, assigned to hqnghi88

[2022-05-08 05:01] tnguyenh opened #3394 "simple_clustering_by_distance not working"
**Describe the bug**
In the model "Balls, Groups and Clouds.gaml", the code

[code]

is not working. group_creation_distance is 19, and free_balls is not empty...

[2022-05-08 05:10] hqnghi88 commented on #3376
in fact, i cannot launch headless (both eclipse and release) for this model to test. I wonder if it is the model or headless problem itself?

[2022-05-08 05:19] tnguyenh opened #3395 ""Reveal in OS" sometimes not working"
The contextual action "Reveal in OS" sometimes does not find the directory where the file is stored.

- Go to Library models>Modeling>Multi-level Usage
- try to do  "Reveal in OS" on the first file  "Balls, Groups and Clouds.gaml". The explorer opens on the root of the hard drive instead of the current directory.
- if you try the same with other files it works as intended.

**Desktop (please compl

[2022-05-08 05:32] tnguyenh opened #3396 "event mouse_move is not working when hovering in some places of the display"
**Describe the bug**
the event 'mouse_move' is not triggered while hover when it is too high or too low (on the y axis). Maybe it happens also for the x axis. It happens in opengl (but it works fine in java2d).

**To Reproduce**
- In Multi-level usage, open the model 'corridor.gaml'
- add a write inside the event mouse_move (write 'hello'; or 'write button_location distance_to #user_location');
-

[2022-05-08 05:50] tnguyenh commented on #3396
Actually the problem only occur in opengl and not java2d. When in opengl, the problem occurs also on macOS.

[2022-05-08 05:58] DAVIEPHAM opened #3397 "Balls, Groups and Clouds.gaml model doesn't work"
**Describe the bug**
I try to run experiments with Balls, Groups and Clouds.gaml model in Multi-Level Usage but it doesn't work in both of UI & Headless Mode.

**Screenshots**
![image](https://user-images.githubusercontent.com/83625165/167283840-bd100c76-ed49-4551-91c9-9f84d3a754b3.png)

[2022-05-08 05:59] AlexisDrogoul commented on #3396
Works for me on Java2D, but there are some glitches on OpenGL (wrong position of the mouse, mainly). I guess we need to open a more specific issue on this matter (differences between java2D and OpenGL in terms of mouse tracking). So I will close it now, putting java2D as the specific type of the display in the model.

OS : macOS Monterey

[2022-05-08 05:59] #3396 closed, assigned to nobody

[2022-05-08 06:00] hqnghi88 commented on #3397
Thanks, it reported by Tri in #3394.

[2022-05-08 06:09] DAVIEPHAM opened #3398 "Gama shutdown immediately all time I run Moving 3D Object model"
**Describe the bug**
Gama always shutdown when I run Moving 3D Object model (3D Visualization) and wrong output in headless mode.
I found the problem at line 34.
**Screenshots**
![image](https://user-images.githubusercontent.com/83625165/167284159-21a5fa4d-495e-410c-b6ba-6cd752113e9a.png)

[2022-05-08 06:26] #3377 closed, assigned to RoiArthurB

[2022-05-08 06:53] AlexisDrogoul commented on #3395
It works for me on macOS Monterey. Is it always the first file that fails, when you open GAMA ? There is nothing we can do unfortunately as it is entirely implemented by Eclipse.

[2022-05-08 06:57] AlexisDrogoul opened #3399 "Camera lock not displayed when launching a model"
**Describe the bug**
When the display opens, the camera lock is not displayed when a camera is defined as `dynamic: true` . When switching cameras back and forth, it is displayed correctly.

**Expected behavior**
That the camera lock is correctly set as soon as the display opens;

**Desktop (please complete the following information):**
 - OS: macOS Monterey
 - PC Model: MBP M1 16
 - GAMA version:

[2022-05-08 06:59] AlexisDrogoul commented on #3394
Duplicate as #3397 (which is actually more accurate in the description)

[2022-05-08 06:59] #3394 closed, assigned to hqnghi88

[2022-05-08 07:14] #3397 closed, assigned to AlexisDrogoul

[2022-05-08 07:14] #3391 closed, assigned to AlexisDrogoul

[2022-05-08 07:25] #3399 closed, assigned to AlexisDrogoul

[2022-05-08 07:29] ptaillandier commented on #3398
It is due to the GPU used (Radeon) which can have problems with opengl displays. It is not possible to fix this issue. The best solution is to specific the use of another GPU for GAMA (or to use a Java2D display). I added information about this bug in the [Troubleshouting](https://github.com/gama-platform/gama/wiki/Troubleshooting#problem-with-some-radeon-graphics-cards-and-opengl-display) section

[2022-05-08 07:29] #3398 closed, assigned to ptaillandier

[2022-05-08 07:33] tnguyenh commented on #3395
Yes, but it only happens in a few directories.

[2022-05-08 07:42] tnguyenh opened #3400 "Text block in the parameter window"
**Is your request related to a problem? Please describe.**
It would be a nice feature to be able to put a text block in the parameter window. It could be used as a text or help dialog box with the user. It might be useful to explain how some parameters work, or to provide informations to some users who won't look at the gaml file header.

Some models need a little bit of information for common use

[2022-05-08 07:43] AlexisDrogoul opened #3401 "Emit a warning instead of an error when the display technology is not available"
**Is your request related to a problem? Please describe.**
It is a bit awkward that we need to keep the "display plugins" around in the release just for the sake of not producing an error when compiling the models with GAMA headless -- which does not use them.

**Describe the improvement you'd like**
Instead of giving an error saying that the keyword is not recognized, it would be better to emit a

[2022-05-08 08:12] agrignard opened #3402 "Ants Adaptator texture mtl not loaded"
**Describe the bug**
- Open Ants adaptator
- run 3D view (which is an imported)

The MTL is not loaded so the ant are yellow (an error is thwron in Eclipse)
[code]

[2022-05-08 08:25] hqnghi88 commented on #3402
Which model exactly? anyway, adapter is not supposed to launch separately

[2022-05-08 08:26] lesquoyb commented on #3390
@hqnghi88 unfortunatly no, some bugs only happen in the gui, for example the bugs related to opengl

[2022-05-08 08:29] #3402 closed, assigned to hqnghi88

[2022-05-08 08:32] hqnghi88 commented on #3390
OK, thanks, he tested them in both mode.

[2022-05-08 08:41] benoitgaudou opened #3403 "Anisotropic Diffusion (Toroidal) : diffusion is not toroidal"
**Describe the bug**
Run the model  Diffusion Statement/models/Anisotropic Diffusion (Toroidal).gaml
(from the model  library).

**Expected behavior**
It is expected  that the diffusion is toroidal (so red  appears in the bottom right  of the environment), whereas it is limited to the  top left  quarter)

**Screenshots**
<img width="826" alt="Screenshot 2022-05-08 at 15 39 03" src="https://user-im

[2022-05-08 08:47] lesquoyb opened #3404 "Right click on display does not work with java2d on linux"
**Describe the bug**
When I try to right click on a java2d display nothing happens. If I change the display type to opengl it works as expected

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.4

**Additional context**
Tried on the `User command.gaml` model from `library models`

[2022-05-08 08:51] tnguyenh opened #3405 "Continuous curves for xy plots"
**Describe the improvement you'd like**
Currently, it is possible to display continuous curves with the default display 'series'. However it would be appreciable to be able to have continuous display in 'xy' display type, as phase portraits are very common in mathematics and physices.

A current 'xy' plot with differential equations looks like this:

![image](https://user-images.githubusercontent.

[2022-05-08 09:09] DAVIEPHAM opened #3406 "Synchronize problem on display"
**Describe the bug**
The experiment cannot run when synchronize is selected on display.
See model  : Palette  and  Gradients.gaml

**Screenshots**
![image](https://user-images.githubusercontent.com/83625165/167289276-1130e872-070e-46c6-8736-7ba6345dda24.png)

[2022-05-08 09:09] agrignard opened #3407 "Co Modeling Flood Evacuation Broken"
Cannot run the model with the simple experiment

[code]

[2022-05-08 09:12] #3404 closed, assigned to nobody

[2022-05-08 09:24] tnguyenh opened #3408 "Scaling radar plots (some library models need to be fixed)"
I'm currently testing library models that use radar charts. I'm wondering if it is possible to scale or change the value range, since some radar plots don't fit in the display, but I cannot figure out how to do this. Facets such as 'y_range' don't have any effect.

As an example, the model 'Ordinary Differential Equations/models/For Advanced Users/SIR (Simple with advanced charts).gaml'
 give the

[2022-05-08 09:49] hqnghi88 commented on #3393
<img width="883" alt="image" src="https://user-images.githubusercontent.com/6105384/167290796-8b00b499-2848-4ba9-8646-4991217a3091.png">
Sorry it still not work.

[2022-05-08 10:19] tnguyenh commented on #3405
Ok I made a mistake, it is already working. The syntax might be a bit tricky, I'll make a model library as an example.

[2022-05-08 10:19] #3405 closed, assigned to nobody

[2022-05-08 10:33] #3403 closed, assigned to benoitgaudou

[2022-05-08 10:42] #3407 closed, assigned to hqnghi88

[2022-05-08 10:47] ptaillandier commented on #3408
You can define it using the facet y_range: max_value

[2022-05-08 10:52] #3350 closed

[2022-05-08 11:16] LucasGrjs opened #3409 "Simple Traffic Model JTS bug"
model path : Toy Models\Comodels\Urban and Traffic\Urbanization And Traffic Comodel.gaml

3 occurrences in 3 agents at cycle 0: Java error: exception in JTS library
in location <- any_location_in(one_of(building));
TopologyException: side location conflict [ (-4866639.4697694145, -1.0714574630416477E7, 0.0) ]
org.locationtech.jts.geomgraph.EdgeEndStar.propagateSideLabels(EdgeEndStar.java:287)
org.

[2022-05-08 11:18] AlexisDrogoul commented on #3406
Seems to be a graphic card problem -- solved with some settings in Windows. Closing it.

[2022-05-08 11:18] #3406 closed, assigned to nobody

[2022-05-08 11:32] ptaillandier commented on #3409
I clean the building data.... I hope it is working better now.

[2022-05-08 11:35] hqnghi88 commented on #3409
It works very well! Thanks a lot.

[2022-05-08 11:35] #3409 closed, assigned to ptaillandier

[2022-05-08 11:35] AlexisDrogoul commented on #3401
Fixed in 927cacde1e475a42c858898aeb3851df9814ea78

[2022-05-08 11:35] #3401 closed, assigned to AlexisDrogoul, hqnghi88

[2022-05-08 11:50] tnguyenh opened #3410 "Redundant steps in time/value list computed by ODE solvers for continuous curves"
**Describe the bug**
In a species `ODE_model` with a `t`  attribute and a variable attribute (say `x`), the solver provides a list of intermediate values t[] and x[] that are very helpful for continuous display. However, there are redundant values that appear at the values corresponding to the cycles time (usually integer values t=0, 1, 2, etc).

It usually remains unnoticed since both t[] and x[]

[2022-05-08 12:00] lesquoyb commented on #3338
Reopening because it's not working on linux
![image](https://user-images.githubusercontent.com/6374469/167295160-aa36cd9b-7f4f-462d-b769-c34f7c07f77f.png)

[2022-05-08 12:20] #3408 closed, assigned to ptaillandier

[2022-05-08 13:02] #3400 closed, assigned to agrignard

[2022-05-08 13:06] tnguyenh commented on #3410
Same with this:

[code]

[2022-05-08 15:03] #3410 closed, assigned to hqnghi88, tnguyenh

[2022-05-08 16:22] #3379 closed, assigned to AlexisDrogoul

[2022-05-08 16:25] #3392 closed, assigned to AlexisDrogoul

[2022-05-08 19:05] #3376 closed, assigned to hqnghi88, RoiArthurB

[2022-05-08 19:33] benoitgaudou opened #3411 "Remove the Preferences : Path to JRI library"
**Describe the bug**
Remove  the Preferences : Path to JRI library, as it is not used anymore in the RJava plugin.
The documentation has been updated in accordance : interested modelers should manually  specify the page  in the GAMA.ini  file, due to change in Java.

**Desktop (please complete the following information):**
 - OS: macOS
 - GAMA version: git

[2022-05-09 00:28] lgten1 commented on #3381
*** Date: Monday, May 9, 2022 at 8:28:09 AM GMT+08:00

*** Platform Details:

*** System properties:
applicationXMI=org.eclipse.ui.workbench/LegacyIDE.e4xmi
awt.toolkit=sun.awt.windows.WToolkit
ds.delayed.keepInstances=true
ds.delayed.keepInstances.default=true
eclipse.commands=-launcher
G:\eclipse\eclipse.exe
-name
Eclipse
-showsplash
600
-product
msi.gama.application.runtime
-data
E:\Eclipse Gam

[2022-05-09 00:32] lgten1 commented on #3381
[Configuration And Preferences.zip](https://github.com/gama-platform/gama/files/8648096/Configuration.And.Preferences.zip)

[2022-05-09 01:09] #3411 closed, assigned to AlexisDrogoul

[2022-05-09 01:31] AlexisDrogoul commented on #3381
Hi,

Thanks. I've taken a look at your configuration.

First, I see you're running on 1.8.1 (and JDK 8). Would it be possible to send me your configuration under 1.8.2 ?
Second, the only preference I see that could maybe interfere, is the one called : `gama.pref_synchronize_quadtree <- true;`.
I suggest to turn it off and relaunch simulations to check if it has any influence. You can set it like t

[2022-05-09 01:34] AlexisDrogoul commented on #3398
The reason was a bad configuration of GAMA as well.

[2022-05-09 02:50] lesquoyb opened #3412 "Add complete model reference on every tutorial models"
See [the first step of prey predator](https://github.com/gama-platform/gama/wiki/PredatorPrey_step1) as an example of what to do

[2022-05-09 03:22] lesquoyb commented on #3412
done, thanks @LucasGrjs

[2022-05-09 03:22] #3412 closed, assigned to lesquoyb

[2022-05-09 03:42] DAVIEPHAM opened #3413 "Bug in System/preferences.gaml"
**Describe the bug**
There are some bugs in System/preferences model.

**Screenshots**
![image](https://user-images.githubusercontent.com/83625165/167336830-2e8da629-0ee9-4e7e-a9b2-d94ce1695127.png)

**Desktop (please complete the following information):**
 - OS: [e.g. macOS High Sierra]
 - PC Model: [if applicable, can be useful for displays, OpenGL problems)]
 - GAMA version: [e.g. git, 1.7.1, e

[2022-05-09 03:42] lgten1 commented on #3381
Sorry, I reconfirmed the 1.8.2 version and found that my local version was a bit old. I updated it and re-tested it. The memory problem did not appear again.
And the 1.8.1 setting you suggest to turn off does not solve this problem.

[2022-05-09 03:42] lgten1 commented on #3381
Sorry, I reconfirmed the 1.8.2 version and found that my local version was a bit old. I updated it and re-tested it. The memory problem did not appear again.
And the 1.8.1 setting you suggest to turn off does not solve this problem.

[2022-05-09 03:44] #3413 closed, assigned to nobody

[2022-05-09 04:03] AlexisDrogoul commented on #3381
Nice ! Happy to see it solved your problem. Have a nice model coding 😉

[2022-05-09 04:03] #3381 closed, assigned to AlexisDrogoul

[2022-05-09 04:08] AlexisDrogoul commented on #2208
Without more information, I'm closing this.

[2022-05-09 04:08] #2208 closed

[2022-05-09 05:35] hqnghi88 commented on #3398
With my experience of using insider windows (developer versions), there is a restricted rule somewhere of windows, which is prevent the activation/using of GPU or event switching from integrated card (intel Hd, radeon) to GPU (nvidia) so it crashed immediately when gama initialize opengl.
The workaround i did is declare explicitly that the applications (java, javaw, eclipse and gama) always use ex

[2022-05-09 06:40] lesquoyb commented on #3390
we can't test the last 3 extensively, but it's good enough for the release

[2022-05-09 06:40] #3390 closed, assigned to AlexisDrogoul, ptaillandier, benoitgaudou, agrignard, hqnghi88, lesquoyb, chapuisk, RoiArthurB, tnguyenh, LucasGrjs

[2022-05-09 07:33] AlexisDrogoul commented on #3338
It seems that the bug is widespread and not handled (for the moment) by SWT/Eclipse: https://bugs.eclipse.org/bugs/show_bug.cgi?id=570732 . So let's put it on stand-by for the moment, hoping the SWT team will come with a solution !

[2022-05-09 09:05] pbouille commented on #3111
Hello,
Thanks for this message, but can you give me the version number where backup works fine with bdi agents, please ?
(I'm using last "official" from website 1.8)
Best regards.
Philippe Bouillet

----- Le 4 Mai 22, à 13:37, Lucas Grosjean ***@***.***> a écrit :

[2022-05-09 16:18] AlexisDrogoul opened #3414 "Hidden synchronised OpenGL views block the simulation"
**Describe the bug**
Whenever an OpenGL display view that is synchronised is hidden behind others, i.e. its display surface is not visible in the UI, the simulation blocks.

**To Reproduce**
Open any model with an OpenGL display, run it. Click on the "Sync" button in the toolbar, and then minimise the view. The simulation should block. The same happens if two display views are stacked, and one is

[2022-05-10 03:43] LucasGrjs commented on #3111
Hello,
We are going to release the official 1.8.2 version of Gama in the next couple of weeks.
When it will be release I will send you a message here so you will be able to download it!

Best regards.
Lucas Grosjean

[2022-05-10 05:08] RoiArthurB opened #3415 "Reduce repository size"
**Is your request related to a problem? Please describe.**
Today's GAMA's github repository (after a fresh `clone` dated on commit 3422b50da) size 1.4 GiB, but most of it (1.1GiB) is only dedicated to git history !!
![image](https://user-images.githubusercontent.com/16764085/167544268-b64bdb77-c903-42f1-93a2-a44087c3af1f.png)

**Describe the improvement you'd like**
Maybe we could reduce size of t

[2022-05-10 06:04] benoitgaudou opened #3416 "Gama Control (web socket) : stop of the simulation"
**Is your request related to a problem? Please describe.**

in order to remotely control GAMA through web socket, it could be interesting to add the possibility to add a stop condition when we launch the simulation.

The second point is that we need a way for the client to know that a simulation / an experiment is finished

[2022-05-10 06:24] hqnghi88 commented on #3416
the stop condition is somehow in the model? as if we consider websocket as normal gui gama control , there is no textfield to enter the condition when we click play button?
The second point can be request by exp dead(simulation) or paused.
<img width="522" alt="image" src="https://user-images.githubusercontent.com/6105384/167561877-a36bfa6a-3767-4ae4-b890-b675ea5c98a5.png">

[2022-05-10 09:49] benoitgaudou commented on #3416
I had in mind an usage similar to the one that was aimed by gamar :
to be able to  run simulations from  R  or a  Jupyter Notebook,   get results and analyse them.
To  this purpose  (and  that  is  why it was added to the headless XML files),  we need to be  able to run simulations until a given  point (cycle or condition) ...

Otherwise in  the R/Pythonn/JS controller we will  need to  implement

[2022-05-10 10:11] hqnghi88 commented on #3416
currently, we have capability to control with these messages (i wrote the messages, must be in json):
first: launch with param
then: in a loop:
         call step (send json)
         call expression computation of the condition (send json and get the values from gama)
         break or stop if true

something like we programming gaml, but in js and json .
 of course, if you found that convenient

[2022-05-10 10:28] benoitgaudou commented on #3416
If  possible in a short time  and  without breaking  everything, I  think  it  could be  a great feature.

[2022-05-12 04:30] hqnghi88 commented on #3393
Sorry, still a typo, missing "bin"
it must be in bin directory
"%JAVA_HOME%\bin\java.exe"

[2022-05-12 07:16] RoiArthurB opened #3417 "Path with space aren't well encoded in Headless mode"
**Describe the bug**
When launching gama-headless pointing to a sub-folder with a path in it, this path is re-encoded under http protocol which isn't compatible with unix one.

**To Reproduce**
Steps to reproduce the behavior:
1. Go `Gama/headless` folder
2. Launch a command like this:
[code]
3. See in both commands error saying `./samples/predator%20prey/predatorPrey.gaml file does not exist`

**

[2022-05-12 09:55] LucasGrjs commented on #3393
I pushed a fix @hqnghi88, can you test it on your computer ?

[2022-05-12 09:57] hu1909 opened #3418 "The connection using tcp protocol that doesn't work"
**My bug**
I use the Android app to connect to GAMA model. I use GAMA model as a server and android app as a client. After successfully connecting via TCP protocol but I couldn't send out my data

**Some Screenshots**

<img src="https://user-images.githubusercontent.com/91870751/168041591-3aa93d33-27a2-4a60-b92e-3b9667bb4f4b.png" width="600" height="300">

As you can see in this picture, my functi

[2022-05-12 14:46] hqnghi88 commented on #3393
Thank you , it works well

[2022-05-12 14:46] #3393 closed, assigned to RoiArthurB, LucasGrjs

[2022-05-13 01:27] lgten1 opened #3419 "A goto problem with a small angle path"
BUG:
If goto on the path with a small angle,  it cannot reach the end point .It loops somewhere in the middle.

Here is my test code:

[code]

![1652404085125202251398581](https://user-images.githubusercontent.com/91418750/168191547-5559489c-959a-4300-95e4-c847a54b6cff.gif)

I alse test with a bigger angle:
![16524048029372022513920322](https://user-images.githubusercontent.com/91418750/168192747-

[2022-05-13 02:54] #3419 closed, assigned to nobody

[2022-05-13 02:59] ptaillandier commented on #3419
Hi,

The problem was due to the fact that the agent had a polygonal
geometry. When gama updates the location of a polygon, it is possible that
due to rounding problems this location is not exactly the same as the
supposed one. In the moving skill, if the location is not the one supposed,
GAMA recomputes the path.... and in a case like this one, recomputing the
path can lead to a change of path :)

[2022-05-15 04:06] agrignard opened #3420 "Windowing layout: Problem when moving displays position"
**Describe the bug**
Sorry for this sunday afternoon issue (which might be a replicate of another one but I couldn't find it)...

While working on the Bac Hung Hai Model to try to find a suitable layout for the position window I started to see some weird behavior in the positioning windowing.

I have tested it on a more simple model (Tutorial/Road Traffic/Model7) where it seems to happen pretty ea

[2022-05-15 05:04] AlexisDrogoul opened #3421 "Several problems with synchronised views and the new OpenGL architecture"
**Describe the bug**
The new OpenGL architecture, that relies on NEWT Windows (defined in JOGL), requires that the update of displays take place in the main thread (i.e. the SWT thread) and be synchronous. This creates several issues in the presence of displays synchronised with the simulation: blocking of threads, blocking of the simulation when one of the displays is not updating because it is n

[2022-05-15 05:21] AlexisDrogoul commented on #3421
This issue is opened for comment to all @gama-platform/committers and @gama-platform/core members.

[2022-05-15 06:41] agrignard commented on #3421
If it can  fix the issue indeed a synchronized at the experiment level  makes sense. I don't t see so far any drawback except the fact to specify a facet  related to an OpenGL display in an experiment (e.g this facet doesn't have any impact on a batch experiment nor  a java2d)

[2022-05-16 02:53] lesquoyb opened #3422 "Cannot modify gama.ini on Windows"
**Describe the bug**
After installing Gama-1.8.2-RC1 on Windows from the installer, it is not possible to modify the file gama.ini as a simple user (requires the admin rights)

[2022-05-16 03:06] LBIRE opened #3423 "Missing GAMA logo on application shortcut on windows"
**Is your request related to a problem? Please describe.**
When opening the shortcut interface on windows, the GAMA logo doesn't appear on the executable icon. However when launched, the logo appears normally on the spot bar.

**Describe the improvement you'd like**
I would like to see the GAMA logo appear on the windows shortcut panel.

**Describe alternatives you've considered**
None.

**Additio

[2022-05-16 04:10] lesquoyb opened #3424 "Gama package not found by Ubuntu software"
**Describe the bug**
After installing Gama-1.8.2-RC1 for ubuntu with the .deb, I am unable to find it in `Ubuntu software`
![image](https://user-images.githubusercontent.com/6374469/168518132-026f028a-21df-4b23-a61b-f320740ec293.png)
It is however found by the system and can be removed with apt-get
![image](https://user-images.githubusercontent.com/6374469/168518334-20105e54-2fd1-4060-a09b-f118096

[2022-05-16 07:04] LBIRE opened #3425 "GAMA crashes when displaying a chart with opengl on windows with a radeon graphic card setup"
**Describe the bug**
When running an experiment which displays a chart using opengl, GAMA crashes.

**To Reproduce**
Run the following code, which is `incremental model 2` from Library models with the display changed to `opengl`:
[code]

**Desktop (please complete the following information):**
 - OS: Windows 10
 - PC Model: Lenovo YOGA
 - GAMA version: 1.8.2
 - Graphics cards / Display system: **A

[2022-05-16 07:21] lesquoyb commented on #3425
To add more information: I tried the example on Ubuntu with an AMD RADEON and everything worked well

[2022-05-16 07:28] RoiArthurB commented on #3424
Hi,

As you did install the installer (`.deb` file) directly downloaded from Github Release and not from a package server (like PPA for Debian-based), the `Ubuntu Software` doesn't have any track of GAMA (as US rely on PPA/Snap repo).

In the same idea, if you did install Github Desktop from the `.deb`, you do not have it displayed in US :)

---

An idea could be to check if it's possible to do/pr

[2022-05-16 07:28] #3424 closed, assigned to RoiArthurB

[2022-05-16 08:01] hu1909 commented on #3418
@hqnghi88 thank you for helping to solve the issue. My Android app and GAMA model work well now

[2022-05-16 08:01] #3418 closed, assigned to nobody

[2022-05-16 09:24] hqnghi88 commented on #3418
Hi, It was the problem of messagebox in network skill, where a raw message without specific wrapping of gamamessage cannot be received.
But did you solve the problem of laggy communication we had, can you specify the solution if possible?
Thanks.

[2022-05-16 09:27] hqnghi88 commented on #3425
Hi,
I explain something in https://github.com/gama-platform/gama/issues/3398#issuecomment-1120661720 regard my experience on windows, some case of using GPU can cause crash. Hope it help.

[2022-05-16 09:30] hu1909 commented on #3418
Yes, I did .  Turn out, I did not put "\n\r\n" at the end of my message to close it so GAMA was waiting. That was the reason why my GAMA model could not print in console.

[2022-05-18 02:33] lesquoyb opened #3426 "Events not working on linux/macos in java2D displays"
**Describe the bug**
The events defined in a java2D display are not triggered when I'm running an experiment on Ubuntu.

**To Reproduce**
On linux try this model:
[code]
none of the events are triggered, change `java2D` to `opengl` and everything works fine.

**Additional context**
It works on Windows

[2022-05-19 10:52] agrignard opened #3427 "Creation of folder with the name of the port in headless mode"
**Describe the bug**
When using the headless mode to run Gama as a server I run the following command line
[code]
And I just notice that this will create an empty folder called ````8000````

see ```ls```will give this results
[code]

Not sure if this is something we want especially if the folder is empty

**Desktop (please complete the following information):**
 - GAMA 1.8.2 RC1

[2022-05-19 11:06] #3427 closed, assigned to hqnghi88

[2022-05-21 08:02] hqnghi88 opened #3428 "Move GamaBDIPlanConverter out of serialize plugin"
**Describe the bug**
I am trying to produce the minimal version of gama headless, here are the core plugin loaded.

Beside the core (core, gaml), the 2 plugins: network and serialize are somehow logically to be loaded for gama server. But i find a bit strange if simplebdi is. mandatory in this case (and it took the 44ms to be ready).
The cause come from the dependency in serialize , in  GamaBDIPla

[2022-05-21 11:00] benoitgaudou commented on #3428
Hi Nghi,

I wondering if it is necessary to lighten GAMA so much...
In  fact  it makes that many models working with the GAMA release will not  work anymore  with  the GAMA server...

benoit

[2022-05-21 11:10] hqnghi88 commented on #3428
dear Benoit.
yes of course the library will broken. but at least i found that the current serializer is a bit manual hard coded. it time to restructure and furthur, the light gama for LSP and also with a hoping new feature of installation of requires plugins on the fly.

[2022-05-21 12:14] AlexisDrogoul commented on #3428
Hi,

I agree with @hqnghi88 : serialisation should be distributed over the different plugins. One possible way to do this is to declare an annotation for GamaTypes, that would indicate the class responsible for serialising their instances. Or declare a new method in IType / GamaType to return the class. Both could be called by the serialiser.

[2022-05-23 05:57] AlexisDrogoul commented on #3420
This one is specific to macOS. The horizontal (and even vertical) moves when you have two windows do not generate any event on the SWT side. It's a bug. And it is not something we are going to fix ... Resizing the views after the move, however, works ...

[2022-05-23 09:05] #3420 closed, assigned to nobody

[2022-05-24 08:30] lesquoyb opened #3429 "Among operator does not work with a list of strings"
**Describe the bug**
The `among` operator doesn't work on every kind of lists. If you try to use it with a list of string you get a compilation error, but it works as expected with a list of int.

**To Reproduce**
Steps to reproduce the behavior:
Try to run:
[code]

![image](https://user-images.githubusercontent.com/6374469/169986241-a33f8b20-9fa1-460e-8927-81c397f55fad.png)

I'm almost certain it

[2022-05-24 08:54] lesquoyb commented on #3429
Oops, looks like I just misunderstood the use of this operator. Closing

[2022-05-24 08:54] #3429 closed, assigned to nobody

[2022-05-25 02:43] AlexisDrogoul commented on #3425
Can you try testing again with the new changes made to the display infrastructure in the 1.8.2 branch ? Thanks

[2022-05-25 02:47] AlexisDrogoul commented on #3421
`synchronized:` has been made a facet at `output` level (could be at `experiment` level, by the way). The specific bugs described here are fixed, so I close this issue.

[2022-05-25 02:47] #3421 closed, assigned to AlexisDrogoul

[2022-05-25 02:48] AlexisDrogoul commented on #3414
Problem has been fixed in the latest commits in 1.8.2 branch.

[2022-05-25 02:48] #3414 closed, assigned to AlexisDrogoul

[2022-05-25 02:49] lesquoyb opened #3430 "Get sender information when using Network skill with other application"
**Is your request related to a problem? Please describe.**
In the network skill, when we receive a message from another application than gama, the `sender` attribute's value is `undefined`. It could be usefull to get some basic information like the IP address to send a message back.

example with this simple server:
[code]
Right now the best way for me to send a message back to the client is to ha

[2022-05-25 02:58] lesquoyb commented on #3425
I tried on Windows+amd radeon and it's still crashing

[2022-05-25 04:51] hu1909 opened #3431 "Send and Receive message in GAMA through TCP protocol"
**Describe the bug**
I try to send message from my GAMA model to my Android App and I use this block of code to send a basic message

[code]

but when I receive from my Android App, I receive not exactly message that I want to receive

<img src="https://user-images.githubusercontent.com/91870751/170180841-765570c2-3bba-47ce-b6e6-7cd6255a2e69.png" />

This image is the message that I receive from G

[2022-05-25 05:15] lesquoyb opened #3432 "Cannot read received messages from a websocket"
**Describe the bug**
I tried to implement a communication between a gama agent and an external program using the network skill with the `websocket_server` protocol.
The server runs as expected and I can connect to it from the client, but when I try to send messages to gama nothing appears in the mailbox.

example:
[code]

However, I'm running the latest gama from git and I can see that the message

[2022-05-25 06:14] AlexisDrogoul commented on #3426
Same behaviour on macOS.

[2022-05-25 11:49] agrignard opened #3433 "Problem related to GAMA Client/Server where Points of LinearRing do not form a closed linestring"
**Describe the bug**
When making the link between GamaServer and a VCity (Javascript client) I notice an error thrown by GAMA related to JTS. This issue is also written here https://github.com/VCityTeam/UD_ReAgent_ABM/issues/11

**To Reproduce**
Steps to reproduce the behavior:
1. Run Gama in headless mode (from eclipse run ```msi.gama.headless.id4_full.launch```
2. Clone this repo https://github.

[2022-05-25 14:49] #3431 closed, assigned to nobody

[2022-05-25 14:50] hqnghi88 commented on #3431
You can use raw:true now to get pure message, please report back if its still occurs

[2022-05-27 03:49] lesquoyb opened #3434 "Displaying a warning when overriding a reflex/action"
**Is your request related to a problem? Please describe.**
To override a reflex or an action in gaml you simply have to create a new one with the same name.
I understand how it's useful for polymorphism but it is also a source of potential bugs: for example let's say you work on someone else's big model that you don't really master, you could be overriding important functions without knowing it ju

[2022-05-27 03:54] ptaillandier commented on #3434
It seems to be already the case, you have a warning for some built-in
action and a "information tag" when overwriting an existing action (see the
image).
[image: exemple.PNG]

Le ven. 27 mai 2022 à 10:49, Baptiste Lesquoy ***@***.***> a
écrit :

[2022-05-27 04:11] lesquoyb commented on #3434
Oh true, I didn't see the info !
![image](https://user-images.githubusercontent.com/6374469/170627633-793004de-1d0c-42fb-a993-b024a7d616c5.png)
It is not as visible in dark mode as in light mode, maybe we can do something to make it clearer ? Maybe juste make the info/warning/error icon column a little bit bigger ? Or just picking a bright colour for the dark mode ?

[2022-05-27 04:22] hqnghi88 commented on #3434
Well, it is the last thing that make me switch back to light mode, sometime, not only eclipse/gama but also vs code, sublime or vs studio. I dont think it possible to adjust that colors as theorically in any language: "error is red". The problem views/error view is where we should check beside the  editors marks.

[2022-05-27 07:00] hu1909 commented on #3431
Thank you @hqnghi88 , My GAMA and Android App work well now.

[2022-05-27 08:27] hqnghi88 commented on #3430
The generic structure used in network plugin for all protocol, is channel broadcast-likely. Even server or client, subscribe to a mailbox (by default, servers are in "server_group", clients are in "client_group", but you can mix them as "TV5", "CCTV"... with mixed of any servers, clients) by join_group statement. Any message then broadcast in the mailboxes, and the agents looking for has_more_mess

[2022-05-27 08:28] hqnghi88 commented on #3430
In your case, any external connection will register in client_group so if you want to send back:
		do send to: "client_group" contents: ("I am Server Leader " + name + ", I give order to client_group at " + cycle);
and the external parse the result.

[2022-05-27 10:05] #3426 closed, assigned to nobody

[2022-05-27 15:58] AlexisDrogoul commented on #3434
I've implemented a small fix for this, by using more vivid colours in dark mode for error and info markers, and enlarging a bit the annotation column.

Like this :

<img width="137" alt="Experiment and simulation gaml - Gama (runtime) 2022-05-27 22-55-53" src="https://user-images.githubusercontent.com/579256/170735739-786cbd9d-3e21-462e-9259-691bd3fccc91.png">
<img width="120" alt="Experiment and

[2022-05-27 15:59] #3434 closed, assigned to nobody

[2022-05-27 16:00] AlexisDrogoul commented on #3415
Just to mention that we are also running out of LFS space...

[2022-05-28 08:31] AlexisDrogoul commented on #3433
Probably a rounding error. I guess serialisation is involved ? I noticed something a bit fishy in the converters regarding `GamaPoint`: the "reducer" writes the `double` values directly as `String`s, which, depending on the client you're using, can be rounded differently. Could be interesting to see what is actually exchanged back and forth (i.e. the `double` values). Can you put it in a comment ?

[2022-05-28 10:04] RoiArthurB commented on #3415
Git LFS and Git history files are two things totally unrelated, first in practice, and second because `gama-platform/gama` repository doesn't use LFS :)

And the LFS GH's space should be resolved soon, it's a problem from one contributor on the experimental repository :)

[2022-05-29 03:11] hqnghi88 commented on #3430
I push the implementation that return the sender in received message from external application (raw:true). It return getInetAddress of current socket. Please test and report back.

[2022-05-29 19:30] hqnghi88 commented on #3430
I also reactivate the multi-threaded tcp server in network plugin (dont remember why it was disabled).  It means you can have multiple connection from 1 or more external application. To reply to the different client, use the sender
do send to: mess.sender contents: "hi"
<img width="816" alt="image" src="https://user-images.githubusercontent.com/6105384/170888303-e6ba3afa-654a-44b1-b93f-1b90edc86b7

[2022-05-30 03:16] lesquoyb commented on #3430
I tested the sender fix and it works like a charm, same for multiple clients at the same time !
But now is it still possible to send a message to a simple ip/port without having it connected first ?

[2022-05-30 03:26] hqnghi88 commented on #3430
Sorry, i dont really understand the question, or i dont know it is possible before. TCP must have handshake so it must connected first.

[2022-05-30 06:57] lesquoyb commented on #3430
Yes your are right, I wanted to still be able to use the raw IP and port to send messages, but as you said we need a connection to the server first, which means we will always have the `sender` object available as long as the client sends at least one message.
So issue closed, thanks again

[2022-05-30 06:57] #3430 closed, assigned to nobody

[2022-05-30 07:42] hqnghi88 commented on #3430
Just to complete, the raw IP can use in "connect" statement, then there is a generated port when server accept client handshake (you see in the sender object).

[2022-05-30 10:25] agrignard commented on #3433
Ok I see.

So by printing the recieved message I am pretty surprise by the size of what is being received.

So here the message I receive in gama.client after sending this cmd
[code]
when having only one agent (of species people instanciated). It feels like there is way to many value of coordinates (I would assume one value per iteration)
[code]

and here is what I receive from the VCity Client (t

[2022-05-30 14:57] AlexisDrogoul opened #3435 ""Colorize code sections" offset and size are completely off"
**Describe the bug**
When choosing "Colorise code sections" in the "Model" menu, the sections appear misaligned and wrongly sized.

**Screenshots**

<img width="506" alt="Experiment and simulation gaml - Gama (runtime) 2022-05-30 21-54-00" src="https://user-images.githubusercontent.com/579256/171018494-a2124909-ecd7-4129-8ec0-f46b0a284cc0.png">

**Desktop (please complete the following information

[2022-05-30 17:41] AlexisDrogoul commented on #3338
Given that we can probably wait a long time before seeing this bug solved, I have implemented a general workaround, which allows to collapse all buttons into a menu when their combined width exceeds the possible width of the toolbar. It is governed by two new preferences:

<img width="249" alt="Monosnap 2022-05-31 00-32-59" src="https://user-images.githubusercontent.com/579256/171038998-96569715-d

[2022-05-30 17:47] #3338 closed

[2022-06-02 03:27] lesquoyb opened #3436 "Syntax highlighting doesn't work in certain models"
**Describe the bug**
I am working on a project where all the models are coloured correctly in the Gama IDE, except for one that only highlights certain keywords and literals but not all :
![image](https://user-images.githubusercontent.com/6374469/171544726-fb7a20c8-c3a6-490f-a354-ed940d8a6621.png)

On the other hand I have files that works perfectly:
![image](https://user-images.githubusercontent.

[2022-06-03 07:42] lesquoyb opened #3437 "Strange behaviour in list concatenation"
**Describe the bug**
When running this code:
[code]
the output is `[[2],3]` which is unexpected given that the type of `l2` is `list<list<int>>` so the result should have been something like `[[2],[3]]` or `[[2,3]]`

[2022-06-03 08:13] benoitgaudou commented on #3437
My 2  cents:
The following one makes perfect sense to me (not that I do not specify the type of the list elements)
[code]

In the case of a list of list of  int, I have the feeling that the behavior should not be ddifferent, but with a  warning or an execution error to express that this concatenation is not really expected.

[2022-06-05 01:09] AlexisDrogoul opened #3438 "#fullscreen not taken into account in `camera` statements"
**Describe the bug**
Short description: It appears that the `#fullscreen` pseudo-constant, introduced recently, always returns false when evaluated within a `camera` statement.

[2022-06-06 01:15] AlexisDrogoul commented on #3339
Hi,

I reopen this issue as the fix might provoke unforeseen consequences, since now, populations share the hashcode of their species. This means, for instance, that all the population of a subspecies in different hosts will have the same hashcode... With potential problems at the horizon !

[2022-06-06 19:24] hana-gharred opened #3439 "min_value facet in diffuse in not identified"
**Description**
diffuse var: phero  on: cells matrix:mat_diff min_value:0.8;

min_value is not accepted and not recognized as facet.

 - OS: [Windows 11]
 - GAMA version: [1.8.2RC1]
 - Java version: [1.8]

[2022-06-08 08:55] agrignard commented on #3433
@AlexisDrogoul what do you mean by the 'reducer' ? If I want to make a test to send values as double and not as string, where should I change this in the code? Is it something I should do in ```SaveHelper.java```?

[2022-06-08 12:35] laatabix opened #3440 "all_indexes_of works only on integers"
**Describe the bug**
The method all_indexes_of does not work on lists of floats or strings.
The two other related methods (index_of, last_index_of) work perfectly.

**To Reproduce**

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - GAMA version: 1.8.1
 - Java version: 1.8

[2022-06-09 09:48] lesquoyb commented on #3439
Hello, the facet you are looking for is `min` though it should be mentioned in the documentation instead of `min_value`

[2022-06-09 10:20] lesquoyb commented on #3439
It seems like the facet changed from 1.8.1 to 1.8.2 and some bit of code was still using the `min_value` facet. I commited a fix but I need some of the plugin's experts (for example: @AlexisDrogoul , @benoitgaudou and @hqnghi88 ) to check if it's working as expected

[2022-06-13 06:16] lesquoyb commented on #3423
I added a few icons in the `icon.ico` file (for some reason it seems that 8 bit versions are also required) and it seems to work after compilation. To be tested with the next release

[2022-06-15 04:07] RoiArthurB opened #3441 "Displays get duplicated when reloading simulation"
**Describe the bug**
Everytime I reload a simulation, all _active displays_ are duplicated in empty ones

**To Reproduce**
Steps to reproduce the behavior:
1. Open any model
2. Launch an experiment
3. Reload the experiment
4. See each display duplicated

**Expected behavior**
No duplicate display

**Screenshots**
*Done with Predator Prey/Model 01.gaml*
Initial launch
![image](https://user-images.g

[2022-06-15 07:55] #3441 closed, assigned to nobody

[2022-06-15 08:02] RoiArthurB commented on #3441
Tried and works well in eclipse and built version :)

[2022-06-17 07:21] RoiArthurB opened #3442 "Java2D graph chart crashes if model runs too fast"
**Describe the bug**
Not sure of the source of this bug, but some charts crash after some time (not fixed) while the simulation goes too fast. It didn't been reproduced (yet?) with a Mac M1 laptop, but does on some lower-grade ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the step latest step (step 5) of the BDI tutorial
2. Start the simulation
3. See error as on screenshot belo

[2022-06-17 09:09] hqnghi88 commented on #3442
Hi,
Not only lower-grade (asus rog g14), i can have it with 3 simulations on that model
<img width="903" alt="image" src="https://user-images.githubusercontent.com/6105384/174266673-02ffd547-69a3-4bf9-8d11-58579f8d28ce.png">

[2022-06-17 15:22] AlexisDrogoul commented on #3442
I dont get it on MBP 16" M1. It's running fast, but w/o freezing. W/o errors, though, it is difficult to know what's happening.

[2022-06-19 17:02] #3432 closed, assigned to nobody

[2022-06-19 17:13] hqnghi88 commented on #3433
Hi, Did you try with the newest binrary or from eclipse ? I cant reproduce this issue (hopefully related with what Alexis have recently change on serialization of objects)

[2022-06-20 06:22] lesquoyb commented on #3435
As a complement of information: I tested on Windows with multiple scaling values and on Linux and couldn't reproduce it, so it's probably specific to macOS

[2022-06-20 06:26] lesquoyb opened #3443 "Missing check icons in Model menu on Windows"
**Describe the bug**
On windows, in the menu `Model` there is no check icon next to the options that are activated, while there are present on Linux
![image](https://user-images.githubusercontent.com/6374469/174538110-a15a3331-dde4-43d9-a0b1-8380af73c487.png)

[2022-06-20 08:26] lesquoyb commented on #3423
More infos: adding the 8 bit icons did fix the icon of the `gama.exe` file. However, for some reason the shortcut created in the installation process still has a blank icon.
If we create the shortcut manually by right clicking on the `gama.exe` file, then the shortcut has the correct icon.
What is even stranger is that the installer itself has the correct icon, and once installed, the `.gaml` file

[2022-06-20 14:00] hqnghi88 commented on #3423
Somewhere in the setup script i think. because when you go to properties of Gama shortcut on desktop, click on CHANGE ICON, it say cant find....
<img width="428" alt="image" src="https://user-images.githubusercontent.com/6105384/174618190-788f5ebd-f0a1-42f7-88d0-024aa5ec7216.png">
where a right path should point to the gama.exe . ie. for zalo, it point to right zalo.exe path
<img width="278" alt="

[2022-06-21 02:25] Beam291 opened #3444 "TCP Connection Server-Client"
**Is your request related to a problem? Please describe.**
I have a problem with the 14/6 update on GAMA, the TCP connection at the time of the new update requires the server must have a message sent from a client first, and then the server will send a message to the client. It will become a problem if a case needs the server to send the message first to the client without the need for the client

[2022-06-21 02:34] hqnghi88 commented on #3444
Hi,
For networking of Server-Client, there is no CLIENT if there is no request to connect from a specific client. So SERVER send to CLIENT first is no meaning.
What you describe is a common mailbox that server just put anonymous messages, then any other late coming, check that mailbox. It is broadcasting.

[2022-06-21 03:14] lesquoyb commented on #3444
I think what he meant is without a defined `to` facet, the sender should broadcast to all the connected clients. It was the case before but changed now that we can send messages to specific client with `tcp_server` protocol

[2022-06-21 03:20] hqnghi88 commented on #3444
Hi, in that case, i think (not test yet) the classical syntax still work, with subscribe, and send to group mailbox.
BUT it is a feature of gama, when you use with an external application, it's always TCP and it requires handshake. Anyway, the mqtt is there for the broadcasting with external application, as it has the mailbox itself.

[2022-06-21 04:35] lesquoyb commented on #3423
Great insight, I didn't notice, thanks. Last commit fixed the shortcut and the splash screen icon. It will be available in the next release

[2022-06-21 04:35] #3423 closed, assigned to nobody

[2022-06-21 05:05] RoiArthurB opened #3445 "Plugin models folder not automatically refresh after installing plugin"
**Is your request related to a problem? Please describe.**
When installing a plugin from GAMA's GUI, after restarting the software, the Plugin folder (orange one in explorer) ain't refreshed automatically and doesn't display new folder of the freshly installed plugin.

This can be fixed by manually refreshing the workspace after the restart.

**Describe the improvement you'd like**
It would be bet

[2022-06-21 05:22] lesquoyb opened #3446 "Strange resizing/artifacts in opengl display when rotating"
**Describe the bug**
When I try to manipulate (mostly rotating, translation seems to work fine) an opengl display I sometimes get strange resizings or artifacts.
It comes back to normal once I stop moving.

Here is an example with the `Ripples and Fishes` from the library models

![opengl_bug](https://user-images.githubusercontent.com/6374469/174721902-2d7d5feb-bb28-4c81-9ced-10820ba07131.gif)

[2022-06-21 07:11] lesquoyb opened #3447 "Texture facet makes gama crash in some Library Models file(s?)"
**Describe the bug**
I was running the model `PNG Icons.gaml` from Library Models and discovered that the `texture` facet of the draw statement for the `opengl` aspect made the whole application crash.

Here is a modified version that do not crash, unless you uncomment the `texture` facet. I re-enabled the java2D aspect to check that the problem didn't come from the access to the `icon` variable.

[2022-06-21 07:24] lesquoyb opened #3448 "Some models are only displayed in half"
**Describe the bug**
In some models the display of the simulation only has the left half visible when in tabs. If you go fullscreen and then go back to the tabs view everything goes back to normal.
Here is an example with the model `Comodel Example (Mixed Behaviors).gaml` from Library Models
![half_display_bug](https://user-images.githubusercontent.com/6374469/174739650-ff3086fd-14c9-4764-9cd9-388

[2022-06-21 07:25] AlexisDrogoul commented on #3447
Does setting this preference change something ?

<img width="249" alt="Monosnap 2022-06-21 14-22-59" src="https://user-images.githubusercontent.com/579256/174741005-22a36f34-b169-4d79-bb46-2f8e3146d05a.png">

[2022-06-21 08:08] lesquoyb commented on #3447
No difference

[2022-06-21 08:41] lesquoyb commented on #3447
I found the exact same bug in another model but this times it's not the `texture` facet's fault, but rather the obj file used to define the shape. It's in the `Moving 3D Object.gaml` file, if you replace `obj_file("../includes/boat/fishing-boat.obj", rotation_composition(r0,pitch,roll,yaw))` with let's say `circle(1)`, everything works fine. The message in the gama console is the same.

[2022-06-21 08:58] hqnghi88 commented on #3447
It seems to be the old thread, we have in coding camp. https://github.com/gama-platform/gama/issues/3398
Can you review it, and one more thing : install chipset driver + AMD software
<img width="240" alt="image" src="https://user-images.githubusercontent.com/6105384/174760409-86811642-17d0-4162-bfba-41572514fc4f.png">

[2022-06-21 09:06] hqnghi88 commented on #3448
OK (to avoid comodel related) here it is:
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/6105384/174761625-6aa19e68-ddb4-479f-8dc5-eabf9e9a1a15.png">
it is somehow layout display problem with Grid in java2D. and resize event the display also make it work, not only go in fullscreen mode.

[2022-06-21 09:06] lesquoyb opened #3449 "Disabling the tabs in certain layout hide the content of certain display"
**Describe the bug**
When using the layout statement, having the facet `tabs` set at false give some strange behaviours.
Here an example with the `heatmap.gaml` model from Library Models:
![image](https://user-images.githubusercontent.com/6374469/174759385-7af3152e-f83e-4612-8fbd-446ed3be884e.png)
If you run it as is, the first two displays do not show. Clicking on them makes them appear.

![image

[2022-06-21 09:18] agrignard commented on #3433
Ok I will try with the last version, I aa not sure I was any update form Alexis related to Serialization? Can you point me to them? Is it in the master branch?

[2022-06-21 09:46] lesquoyb commented on #3447
Installing amd software fixed some models for me, I'll wait to try a bit more and if nothing happens anymore I'll close the issue.

[2022-06-21 10:12] agrignard commented on #3433
Ok so I just tried with the last versionof eclipse and I still get this error:

[code]
Note that it is happenign very very rarely using gama.client .

Howver it happens very quickly using another client (I have really no idea what can be the difference between the way the client and server are communicating as they are both using the same WebSocket architecture and cmd)

If you want to have a look

[2022-06-21 10:23] hqnghi88 commented on #3433
Another client : you mean web browser?

[2022-06-21 10:32] agrignard commented on #3433
No same webbrowser but another client (the one developped intiallu for VCITY)
https://github.com/VCityTeam/UD_ReAgent_ABM/blob/master/UD-Viz-GCCV/src/bootstrap.js

I cannot figure out what are the difference between the gama/client (using mapbox) and VCity (using itowns) in terms of code to communciate with GAMA they are very similar. With VCity i get the error after very few iteration always with

[2022-06-22 05:03] lesquoyb opened #3450 "The new synchronize is drastically slower"
**Describe the bug**
Since the changes with the synchronize facet (now being a facet of the output instead of the display) I noticed that models using it are dramatically slower. Almost unusable for most of them.

Here is an example model which, on my computer (and tried with same behavior on another one) won't even run the first cycle in 5/10 minutes with gama git and the new synchronize, but if

[2022-06-22 06:26] AlexisDrogoul commented on #3450
Seems to be the monitors, no ?

[2022-06-22 07:43] #3450 closed, assigned to nobody

[2022-06-22 08:49] AlexisDrogoul commented on #3448
Can't reproduce it on macOS. What happens if you replace the `grid` layer by a `species` layer ? It seems that the dynamic construction of images (from the grid) might be the problem, but I'm not sure.

[2022-06-22 09:50] hqnghi88 commented on #3433
It took me one full day to play with game of chance. Sometimes it occurs immediately, and maybe after 30 mins. I totally don't understand what happened, as the code base is totally the same with save statement, but if we save geojson in gama, it doesn't have this error.

[2022-06-22 11:16] lesquoyb commented on #3447
It was just a driver's issue, thanks for the tips

[2022-06-22 11:16] #3447 closed, assigned to nobody

[2022-06-22 11:25] lesquoyb opened #3451 "User_location is wrong in opengl displays"
**Describe the bug**
Try this model with the latest gama from git:

[code]

The value of #user_location is based on the center of the opengl view while the (0,0,0) was the drawn axis (top-left corner) in the latest release

[2022-06-22 11:36] lesquoyb commented on #3448
@hqnghi88 Strange, on my computer that one displays normally

[2022-06-22 11:49] hqnghi88 commented on #3433
Even with precision 1, shape of square, it still happens
LINEARRING (166.5 181.2, 168.5 181.2, 168.5 179.2, 166.5 179.2, 166.5 181.2)

<img width="713" alt="image" src="https://user-images.githubusercontent.com/6105384/175022035-e0945af5-d54a-48d6-8086-069b0acffe22.png">

[2022-06-22 12:15] AlexisDrogoul commented on #3433
Very very strange. @ptaillandier .. what do you think of that ? How can it be with so simple geometries ?

[2022-06-22 16:53] hqnghi88 commented on #3448
@lesquoyb not the original, you must change the display to java2D.
@AlexisDrogoul the same with species in place of grid
<img width="1277" alt="image" src="https://user-images.githubusercontent.com/6105384/175094314-d575736a-d5af-4f3f-951b-e0dd71577df2.png">

[2022-06-22 17:03] hqnghi88 commented on #3448
I tried with different width height for grid. It seems the construction of grid affect the layout. The bigger size of grid, the easier this issue occurs.
<img width="619" alt="image" src="https://user-images.githubusercontent.com/6105384/175096082-b2eecfde-a3de-481f-b201-ac631d40ee3b.png">

[2022-06-23 16:26] #3416 closed, assigned to hqnghi88

[2022-06-23 16:30] hqnghi88 commented on #3416
I at last finish the implementation. You can check with the code in gama.client repository. here is an example result. Stop condition and finish callback from server.

[code]

[2022-06-24 01:07] AlexisDrogoul commented on #3443
Very strange. Does it mean you can't have icons + check mark at the same time on Windows ? Like this on macOS :
![image](https://user-images.githubusercontent.com/579256/175439686-0f426874-d037-45a1-a01e-1eb8396105cf.png)

[2022-06-24 02:15] hqnghi88 commented on #3443
No, i dont have that check mark, images are good but no checkmark.

[2022-06-24 03:41] AlexisDrogoul commented on #3443
That's it. You can't have both at the same time. At least in SWT. Really strange. I havent seen it mentioned anywhere. Here is the snapshot taken after removing the icons:

![image](https://user-images.githubusercontent.com/579256/175457613-5c61bc22-6f84-469b-aac1-86f3b7de5588.png)

So should we remove the icon or the check mark on Windows ? It's up to you to decide !

[2022-06-24 03:47] hqnghi88 commented on #3443
I prefer to have checked or non-checked as it is more informative than the static icons, but how about changing icons depends on state?

[2022-06-24 06:12] AlexisDrogoul commented on #3437
@benoitgaudou your example is correct, because you do not specify the contents type of the list. Otherwise, what should apply is the casting of the element into a list, as described by @lesquoyb . Moreover, we should have the same behaviour whether we use :
[code]

or

[code]

(note the warning in the first -- this is unfortunately extremely quite complicated to do for operators...).
I've committe

[2022-06-24 06:22] #3436 closed, assigned to AlexisDrogoul

[2022-06-24 09:29] rwwda opened #3452 "issue in saving a CSV file"
Hello,

I was writing a code in GAMA on the university's computer and I wanted to save some data in a CSV file and it worked but when I run the same exact code on my laptop Mac OS it stops at a certain cycle and an error appears.

![Screen Shot 2022-06-23 at 12 45 57 PM](https://user-images.githubusercontent.com/107697537/175505297-398bf60b-e041-458d-bc4b-002ae9d9ee52.png)

[log.zip](https://githu

[2022-06-24 16:39] AlexisDrogoul commented on #3452
Hi,

Can you share your model and the log that corresponds to your bug ? Because it seems that the error in different in the log and in the UI.

Thanks
Alexis

[2022-06-25 00:38] #3443 closed, assigned to nobody

[2022-06-25 00:58] AlexisDrogoul commented on #3449
When tabs are hidden, Eclipse considers views to be in a somewhat strange status. Somewhere between the normal status and the "detached" status. As a matter of fact, it is not considered a "correct" state. From my observation, on all OSes, it seems that a `hidden` event is (wrongly) sent to the last opened view whenever a new one is selected. Now, on macOS and Linux, this event is immediately foll

[2022-06-25 19:42] rwwda commented on #3452
Hi,

here is the model
[ninepatchesJune22 copy.gaml.zip](https://github.com/gama-platform/gama/files/8985366/ninepatchesJune22.copy.gaml.zip)

and here is the excel file i used for the patches,
[Matrix9P.csv](https://github.com/gama-platform/gama/files/8985384/Matrix9P.csv)

when i run the code, and then play the simulation, everything works fine, but it always stops at cycle 7371

About the log,

[2022-06-25 20:26] rwwda commented on #3452
Here's the error in output

`1 occurence in Simulation_ABM_EBM0 at cycle 7371: Java error: illegal argument
in save R0_local to: 'R0_local_11-4.csv' type: csv ;
IllegalArgumentException: Path must include project and resource name: /R0_local_11-4.csv
org.eclipse.core.runtime.Assert.isLegal(Assert.java:66)
org.eclipse.core.internal.resources.Workspace.newResource(Workspace.java:2145)
org.eclipse.co

[2022-06-25 20:29] rwwda commented on #3452
Here's the error in output,

1 occurence in Simulation_ABM_EBM0 at cycle 7371: Java error: illegal argument
in save R0_local to: 'R0_local_11-4.csv' type: csv ;
IllegalArgumentException: Path must include project and resource name: /R0_local_11-4.csv
org.eclipse.core.runtime.Assert.isLegal(Assert.java:66)
org.eclipse.core.internal.resources.Workspace.newResource(Workspace.java:2145)
org.eclipse.co

[2022-06-25 20:32] rwwda commented on #3452
Here's the error

1 occurence in Simulation_ABM_EBM0 at cycle 7371: Java error: illegal argument
in save R0_local to: 'R0_local_11-4.csv' type: csv ;
IllegalArgumentException: Path must include project and resource name: /R0_local_11-4.csv
org.eclipse.core.runtime.Assert.isLegal(Assert.java:66)
org.eclipse.core.internal.resources.Workspace.newResource(Workspace.java:2145)
org.eclipse.core.internal

[2022-06-27 02:59] lesquoyb commented on #3451
Fixed, tested on different models + rotations of the display

[2022-06-27 02:59] #3451 closed, assigned to AlexisDrogoul

[2022-06-27 03:48] lesquoyb opened #3453 "It is possible to create a user_command with the name of a species"
**Describe the bug**
In gaml it is possible to create a user_command with the same name as a species. This can lead to a lot of confusion, and some unexpected behavior in the gama editor.
For example:
[code]

In this model, if you try to go to the definition of `test_species` referenced in the create statement, the editor will bring you to the user_command.

I don't know if it can (or should) be c

[2022-06-27 03:51] hqnghi88 commented on #3453
Hi,
For me, it is wrong linked somewhere, it is not only for user_command, but aspects or actions have the same issue if you declare same identifier in a model.

[2022-06-27 03:58] lesquoyb opened #3454 "The "Open Declaration" feature of the gama IDE is broken"
**Describe the bug**
When you try to go to the declaration of a variable in the gama ide, it seems that the feature leads to the first declaration of an object with the same name, which is not always the good one.
For example in this model:
[code]
If you try to go to the declaration of `a`, in the `test` action, the editor will bring you to the declaration of `a` in the global species, which does

[2022-06-27 04:35] lesquoyb commented on #3453
Digging a little bit more the "go to definition" problem mentioned seem to be a different one (see #3454 ), but I still feel that a warning should be displayed to incentivize good coding practice even though their shouldn't be in practice any overlap between user_command, aspect, actions and species (for now)

[2022-06-27 05:04] lesquoyb opened #3455 "Charts do not plot data when in editor mode"
**Describe the bug**
If you run a model that plots data, and for some reason you still want to work on the code while it's running, you can click on the `open modelling perspective` button
![image](https://user-images.githubusercontent.com/6374469/175863265-8612c947-4699-4391-865c-aa4633ae1abc.png)
to go back to code, but then every update on the plot will be "lost".
For example with this model:
[

[2022-06-27 05:16] benoitgaudou commented on #3455
Hi Baptiste,

There is the  following preference, to choose whether you want to draw displays in Modeling perspective.

<img width="539" alt="Screenshot 2022-06-27 at 07 15 19" src="https://user-images.githubusercontent.com/1555274/175864917-6cdc925d-27e7-430d-9d2b-1e81660c5164.png">

Could you check it, and if it has the  expected behavior.

[2022-06-27 06:33] lesquoyb commented on #3455
Yes, it fixed the issue, is there a particular reason this setting is set to false by default ?

[2022-06-27 06:33] #3455 closed, assigned to nobody

[2022-06-27 06:39] RoiArthurB commented on #3455
Can you please add this information on the [Troubleshooting](https://github.com/gama-platform/gama/wiki/Troubleshooting) page? :)

[2022-06-27 07:09] benoitgaudou commented on #3455
I gues it is set to true for performance sake.
Benoit

Le lun. 27 juin 2022 à 08:33, Baptiste Lesquoy ***@***.***> a
écrit :

[2022-06-27 09:40] AlexisDrogoul commented on #3454
Closed as duplicate to gama-platform/gama2#46 : the scoping of variables / symbols cannot be done properly in the current state of the grammar.

[2022-06-27 09:40] #3454 closed, assigned to nobody

[2022-06-27 10:17] #3438 closed, assigned to AlexisDrogoul

[2022-06-30 15:19] AlexisDrogoul commented on #3453
I have decided to adopt the same rules as actions (which prohibit using species names).

[2022-06-30 15:20] #3453 closed, assigned to nobody

[2022-06-30 15:21] AlexisDrogoul commented on #3446
The issue can be safely closed as far as I know.

[2022-06-30 15:21] #3446 closed, assigned to AlexisDrogoul

[2022-06-30 15:33] AlexisDrogoul commented on #3339
I'm afraid I have to revert this fix, because the current implementation breaks the `hashCode()` contract (two populations in two different hosts share the same hashcode), leading to possibly very serious problems in some internal structures.
For fixing this, we have to figure out, though, how the hashcode is used in `at_distance` and `overlapping` . As a matter of fact, it should not affect the o

[2022-06-30 15:44] AlexisDrogoul commented on #3339
To be honest, with the fix reverted, I cannot reproduce the results you obtain, @benoitgaudou. Are you sure you do not have an option somewhere related to the parallelism of agents / simulations, which may explain your results ?

[2022-07-02 00:51] AlexisDrogoul commented on #3339
I confirm that I cannot reproduce the bug. Even with lots of repetitions, simulations keep on repeating the same patterns (either all 0-1 or all 1-0).

[2022-07-02 02:11] AlexisDrogoul opened #3457 "Online documentation using the internal browser crashes"
**Describe the bug**
When using the quick search box on the top right-end of GAMA and double-clicking on a result, the webpage invoked crashes with the following message :

**Screenshots**
<img width="544" alt="dddddd -  - Gama (runtime) 2022-07-02 09-08-42" src="https://user-images.githubusercontent.com/579256/176982861-079eac6e-1894-47ae-8ad1-da0fcaf077df.png">

**Desktop (please complete the fo

[2022-07-02 06:16] benoitgaudou commented on #3339
I just checkedd the 2 models:
- the example with `overlapping` works:  there is repetition of the same patterns.
- but for the example with `at_distance`, the results are still in different order (but with  the same agents in the lists).

[2022-07-02 06:37] AlexisDrogoul commented on #3339
Well. My results over the 4 simulations are exactly in the same order ...

[code]
...

[2022-07-03 02:57] RoiArthurB commented on #3457
Works for me 🤷🤷🤷

![image](https://user-images.githubusercontent.com/16764085/177022664-ebf71e87-6f81-4769-8518-5aa06c558408.png)

It may had been a short bug from the website hosting, or (if you still have that problem) comes from Eclipse M1's embedded browser :/

[2022-07-03 03:20] RoiArthurB commented on #3339
The `overlapping` model does bug as described sometimes (line oranges in log below)
![image](https://user-images.githubusercontent.com/16764085/177023049-177d3b5e-7b4f-4f78-9dcb-3e8b06498d7b.png)

I'm not sure about the second model (`at_distance`) but it seems to work(?)
![image](https://user-images.githubusercontent.com/16764085/177023135-2858d337-87bc-472a-917c-a528b5152fb2.png)

[2022-07-03 04:14] AlexisDrogoul opened #3458 "The access to doc.gama-platform.org impossible on macOS M1 from the welcome page"
**Describe the bug**
When clicking on the "Documentation" button from the welcome HTML page, the following error appears:

<img width="510" alt="dddddd -  - Gama (runtime) 2022-07-03 11-10-09" src="https://user-images.githubusercontent.com/579256/177024243-83495ebc-1522-413d-b958-18ae4ff060dd.png">

**Desktop (please complete the following information):**
 - OS: masOS Monterey
 - PC Model: MBP 16"

[2022-07-04 01:22] AlexisDrogoul commented on #3339
Two questions here:

(1) can we all verify that our preferences are the same regarding the parallel execution of agents/simulations ? Mine are  :

<img width="533" alt="Monosnap 2022-07-04 08-20-56" src="https://user-images.githubusercontent.com/579256/177065888-d23d2d6d-5507-4424-bc1f-7b6233de70eb.png">

(2) in the first model, even if the results are the same in all simulations in a repetition,

[2022-07-04 05:50] RoiArthurB commented on #3339
1. Same settings for me
![image](https://user-images.githubusercontent.com/16764085/177088877-8abe3749-8717-4888-8bdf-1f12406d9709.png)
(The batch parameter doesn't apply as we don't have parameters in this issue's batch)

2. I think that's the problem raised in this issue 😅😅😅

[2022-07-04 07:01] AlexisDrogoul commented on #3339
@RoiArthurB on the 2nd point, no, it is not (to my knowledge). The initial report was on the existence of different patterns within the same set of repetition. What I observe is that, at different cycles, we obtain different patterns between repetitions. And I wonder why.

[2022-07-04 07:08] ptaillandier commented on #3339
I had the same interpretation of the bug as Arthur: the list is always composed of the same elements, but the problem is the order of the elements in the list which should always be the same (for a given step).

[2022-07-04 07:21] AlexisDrogoul commented on #3339
as described by @benoitgaudou :

[code]

So, same elements, but a different order within the same repetition of 4 simulations was identified as the problem.

What I observe is a different pattern :

[code]

All the simulations provide the same order at the same cycle, but this order is different between cycles and I do not understand why.

[2022-07-04 07:35] ptaillandier commented on #3339
Ok, I better understand, you don't have the same problem as us.

On my computer (git version of GAMA - up to date - 4/7/2022 / Windows 10), I have the same result as Arthur (after 2 tries), the order for cycle 0 (and most of other cycles) are not similar for all the simulations:
[code]

[2022-07-04 07:36] AlexisDrogoul commented on #3339
.... 🤔 I'm a bit lost. How is it possible ?

[2022-07-04 07:45] ptaillandier commented on #3339
Different version of Java?

[2022-07-04 07:57] benoitgaudou commented on #3339
The initial issue was indeed an issue of reproductibility: to get the same results in different simulations launched with exact same parameters (including seed). I associated the fact that we get different order in the results between cycles was due to the use of a kind of Set in Java to store results.

Now I confirm that with my current setup (eclipse 03-22, Java 17 temurin, git up-to-date, new w

[2022-07-04 08:54] ptaillandier commented on #3339
I just tested with the M1 of the lab (after updating the code of GAMA and reverting the preference to the default one).
The first time I ran the model, I do not had the issue (1st model of Benoit), then, after closing the experiment, I re-launched the xp and I got the wrong result.

[2022-07-04 11:23] #3458 closed, assigned to RoiArthurB

[2022-07-04 16:34] AlexisDrogoul commented on #3339
I have replaced the QuadTree with another simpler structure (just a list of agents), then changed the parallel execution of simulations to false, but to no avail. I keep getting the second "wrong" result (but still not the original one).

[2022-07-04 17:08] hqnghi88 commented on #3339
I tested 1st model of Benoit with gama.pref_synchronize_quadtree=true
<img width="946" alt="image" src="https://user-images.githubusercontent.com/6105384/177196511-4baeb308-789d-494f-8ca9-5aaa2042ac55.png">
and with gama.pref_synchronize_quadtree=false
<img width="920" alt="image" src="https://user-images.githubusercontent.com/6105384/177196584-366c944f-9325-47a0-86ee-d63d819818f6.png">
Seems the

[2022-07-04 17:25] hqnghi88 commented on #3339
An implicitly always-parallel condition , i think, with that facet.
<img width="691" alt="image" src="https://user-images.githubusercontent.com/6105384/177198154-807b1823-af3c-4812-8586-67f93c80c296.png">

[2022-07-05 03:17] AlexisDrogoul commented on #3339
OK. @ptaillandier helped me understand this question of changes between sets of simulations, which is normal, since a shuffling is applied to the list of agents. So case closed on this one ! Thanks. But the mystery remains as to why I can't reproduce the bug.

[2022-07-05 06:45] AlexisDrogoul commented on #3339
Thanks to @hqnghi88, I think I have found the problem. I have committed a possible fix, can you try ?

[2022-07-05 06:50] AlexisDrogoul opened #3459 "Make preferences changes in models only temporary"
**Is your request related to a problem? Please describe.**
Some preferences may have an impact on the functioning of models (for instance their performances or reproducibility, see #3339). Changing them in one model can then have unforeseen (and difficult to discover) consequences on other models.

**Describe the improvement you'd like**
I would like that all changes made to the preferences in an

[2022-07-06 02:21] ptaillandier commented on #3339
Seems to work for me. I let Benoit test it (and you can close it).

[2022-07-06 11:16] benoitgaudou commented on #3339
It works for me too.
There  is still the fact that: "All the simulations provide the same order at the same cycle, but this order is different between cycles".
It was not part of my initial issue, an dI do  not know whether it needs to/can be fixed.

[2022-07-06 14:12] AlexisDrogoul commented on #3339
No. As I said earlier, we discussed this with @ptaillandier and this is normal as the two operators do a shuffle on the lists of agents. So it is not always the same order each cycle (but it is the same order for all simulations at the same cycle)

[2022-07-06 14:14] benoitgaudou commented on #3339
So it's a close  case !

[2022-07-07 06:14] AlexisDrogoul commented on #3442
Additional information : the problem doesn't occur with OpenGL displays.

[2022-07-08 02:52] lesquoyb commented on #3444
So if I understand correctly, we can broadcast a message to all the connected clients, but only if they are other gama agents, not  with external applications ?
I'm almost certain that it used to work with TCP before, is it a big development to make it work again now ?

[2022-07-08 03:39] hqnghi88 commented on #3444
Hi,
"I'm almost certain that it used to work with TCP before, is it a big development to make it work again now ?"
For what i discovered and fixed in the recent commit, the last 3 years version of TCP is single thread server socket, it can have only 1 connected client on network level (that what Patrick have discover so), So i am pretty SURE that you can not have ALL ( > 1 ) external client that r

[2022-07-08 04:50] lesquoyb commented on #3444
Ok thank you for the insight, I understand a lot better how/why it used to work now. I think we can manage that in pure gaml as long as the clients send at least one message we can maintain a list of all connected clients and just send to all of them the message we want to broadcast, or switch to mqtt as you suggested.
Closing it as there is no real need for that feature, it would just have been a

[2022-07-08 04:50] #3444 closed, assigned to nobody

[2022-07-08 05:01] hqnghi88 commented on #3444
Yes i agree that sending to all well-connected client is a need. I think the subscribe channel in gaml works well but i did not test with multi external app yet.

[2022-07-08 07:28] ptaillandier commented on #3433
I was not able to reproduce this bug (GAMA git version, windows 10, chrome).

[2022-07-08 12:04] agrignard commented on #3433
Using ```gama.client``` the error happens but after a long time (around 30min and it's hard to reproduce) I guess this is what you have tested.

The initial issue I have is when I use another client (the one developped in Lyon (VCity , the issue is raised here https://github.com/VCityTeam/UD_ReAgent_ABM/issues/11 but I will reexplain here how ot reproduce it)

So the way to launch gama server is t

[2022-07-08 13:41] AlexisDrogoul commented on #3457
Could be that Eclipse is using the legacy WebKit on macOS, where the IntersectionObserver API is turned off by default. https://stackoverflow.com/questions/59074487/reference-error-cant-find-variable-intersectionobserver . Some of the sites suggest a workaround (using `polyfill`), could it be possible to implement it ?

[2022-07-08 13:50] AlexisDrogoul commented on #3435
Tested on macOS, Windows and Linux -- seems to work well with the latest commits

[2022-07-08 13:50] #3435 closed, assigned to AlexisDrogoul

[2022-07-08 13:51] AlexisDrogoul commented on #3437
I added the warning to the operator as well and tested in many cases -- seems to work.

[2022-07-08 13:51] #3437 closed, assigned to AlexisDrogoul

[2022-07-08 13:53] AlexisDrogoul commented on #3442
Tested on macOS, Windows and Linux. The charts are much more stable, or so it seems. Case closed in my opinion.

[2022-07-08 13:53] #3442 closed, assigned to AlexisDrogoul

[2022-07-08 13:53] AlexisDrogoul commented on #3440
Tested and it works. We can close this safely.

[2022-07-08 13:53] #3440 closed, assigned to nobody

[2022-07-08 14:03] AlexisDrogoul commented on #3428
The addition of the `@converter` annotation (in the `serialize` plugin), allows to declare the converter as an annotation to the `IType`. The converters are then discovered and instantiated, based on the class wrapped by the `IType`, by the `Converters` class in the `serialize` plugin. This allows to solve the problem reported here and to easily add future converters for new types.

[2022-07-08 14:03] #3428 closed, assigned to AlexisDrogoul, benoitgaudou

[2022-07-08 14:04] AlexisDrogoul commented on #3300
Difficult to do more than documenting on this issue. I'm closing it now.

[2022-07-08 14:04] #3300 closed

[2022-07-08 14:05] AlexisDrogoul commented on #3439
Yes it is fixed and you were right: some internal was still using the old facet name.

[2022-07-08 14:05] #3439 closed, assigned to benoitgaudou, RoiArthurB

[2022-07-08 14:17] AlexisDrogoul commented on #3425
I did some changes in #3442 to the way charts are displayed and compute their images. Can you try if it changes anything ?

[2022-07-08 14:18] AlexisDrogoul commented on #3417
Can someone test this on Linux ? It works on macOS.

[2022-07-08 14:20] AlexisDrogoul commented on #3415
Has the LFS problem on `gama-platform/experimental` been solved ?

[2022-07-08 14:26] AlexisDrogoul commented on #3415
I think we should move to a solution like the one exposed here (using a `history` repository): https://andrewlock.net/reducing-the-size-of-a-git-repository-with-git-replace/

[2022-07-08 14:29] AlexisDrogoul commented on #3422
Works on Windows 11. I think we can close this issue now.

[2022-07-08 14:29] #3422 closed, assigned to nobody

[2022-07-08 14:30] AlexisDrogoul commented on #2038
Depends on #1164

[2022-07-08 14:31] AlexisDrogoul commented on #2537
Depends on #1164

[2022-07-08 14:38] AlexisDrogoul commented on #3058
Linked with #2788

[2022-07-09 04:23] AlexisDrogoul commented on #3452
Hi,

The fact that it stops at step 7371 is quite logical as there is a reflex called `endSim` that is triggered by `(cycle = dayInSim)`, where dayInSim equals 7371. This is the reflex that stops the simulation (actually kills it).

However, I can't reproduce your problem: on my computer (also on macOS), everything is saved fine in the respective `.csv` files. Same on Windows. Do you still get the

[2022-07-09 04:30] AlexisDrogoul commented on #762
Recent developments on the database plugin have made this issue a bit obsolete.

[2022-07-09 04:30] #762 closed

[2022-07-09 08:14] rwwda commented on #3452
Hi,

yes, I'm still getting the same exact error, I guess I have to install a certain plugin for it to work?
and if it's okay can you share the .csv files to check on them?

Rawdha

[2022-07-09 08:50] hqnghi88 commented on #3433
I tried to decrease the frequent of calculation by a thread-sleeping on both client server, but the message still occurs randomly.
I think it is a bug of geotools somewhere in caching or cloning object as it crash by CoordSeqCloneOp.
<img width="455" alt="image" src="https://user-images.githubusercontent.com/6105384/178098855-5ad5034d-316e-463d-ba0d-ac0f71160e8a.png">
However, the recall of comput

[2022-07-09 14:18] #3459 closed, assigned to AlexisDrogoul

[2022-07-11 02:47] lesquoyb commented on #3425
Tested again on Windows, it's still crashing. I tried with and without `AMD software: adrenalin edition` as it solved some problems related to my radeon before, but no difference.
In eclipse I get this error message:
[code]

And here is the log: [hs_err_pid1636.log](https://github.com/gama-platform/gama/files/9080547/hs_err_pid1636.log)

[2022-07-11 04:39] RoiArthurB commented on #3457
Fixed by https://github.com/gama-platform/gama-platform.github.io/commit/ce1122d746b1ec8043617c49c44986c13042fa5b - Have to wait for website rebuilding and publish :)

[2022-07-11 05:19] AlexisDrogoul opened #3460 "Inactive greyed icons incorrectly displayed on Linux"
### Steps to reproduce
1. Run any model

2. Observe the "step" icon (second from the left)

3. When the simulation is run, it becomes gray and blurry (as if its size is doubled).

![Capture d’écran du 2022-07-11 12-13-24](https://user-images.githubusercontent.com/579256/178193730-b6d4c5d4-4aaa-4def-843b-27ebf82f81b0.png)

It happens with other icons as well (back/forward icons in the editor when n

[2022-07-11 06:33] RoiArthurB commented on #3457
The issue seems to be linked to the embedded WebKit in Eclipse M1 and not the website (which confuses me even more as I did successfully make it run with my website's update...)

Reopening...

[2022-07-11 07:56] #3417 closed, assigned to RoiArthurB

[2022-07-11 11:22] benoitgaudou commented on #3457
I just tested on my MACOS Intel, and I do not have  the issue anymore.
(I had it a few weeks ago)

[2022-07-12 03:00] lesquoyb commented on #3448
Last commits fixed it for me, can you try it too on your models @hqnghi88 ?
Just to add more informations in case we have related problems: I noticed that the display is still split at the initialization, but then resized, here is what happens precisely when reloading the simulation: ![half_display_bugfix](https://user-images.githubusercontent.com/6374469/178399031-2edd4493-97e2-450f-8ffb-fd261964

[2022-07-12 09:34] hqnghi88 commented on #3448
It fixed on my side. Thanks

[2022-07-12 10:11] LeKumquat opened #3461 "Wrong distributions of simulations on cores"
**Describe the bug**
Wrong distribution of the simulations on my cores. I'm using 4 cores at the beginning, the 4 first simulations run well, but after, they are all launched at the same time, and they run all at the same time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Help -> Preferences -> Parallelism
2. Toggle "gama.pref_parallel_simulations_all" to true
3. Set the Max. number

[2022-07-12 10:31] #3448 closed, assigned to AlexisDrogoul

[2022-07-13 03:53] ptaillandier commented on #3461
I tried to fix this issue with my last commit. Could you test the fix?

[2022-07-13 07:28] LeKumquat commented on #3461
It works for me ! Thank you

![screen](https://user-images.githubusercontent.com/72857645/178676063-a9c1fbf5-af3d-434d-89b4-7fc0457c5e6c.png)
.

[2022-07-13 08:40] #3461 closed, assigned to ptaillandier, chapuisk

[2022-07-13 08:48] lesquoyb commented on #3460
Tried on my laptop: no problem as long as I keep a 100% scaling, if I change to any other value I get the same problem

[2022-07-14 04:10] AlexisDrogoul opened #3463 "Explicitly passing nil for the color in user_input_dialog(string, list, font, rgb) empties the dialog"
**Describe the bug**
Write ` map<string, unknown> params <- user_input_dialog("",[enter("A",true), choose("B", string, "a",["a","b","c"])], font("Helvetica",18, #bold), #red);` in any model, it should display this:
<img width="190" alt="Monosnap 2022-07-14 11-08-18" src="https://user-images.githubusercontent.com/579256/178896519-c6544626-15d9-4395-913b-954bcd0fa943.png">

now replace `#red` by `ni

[2022-07-14 04:41] #3463 closed, assigned to AlexisDrogoul

[2022-07-15 06:06] AlexisDrogoul commented on #3425
Things to test :
- Does it change the behaviour to be synchronised with the simulation ?
- Does it change the behaviour to refresh the display every X cycles ?
- If the first seconds correctly appear before crashing, is there an increase of memory used by GAMA ?

[2022-07-15 06:06] AlexisDrogoul commented on #3425
Things to test :
- Does it change the behaviour to be synchronised with the simulation ?
- Does it change the behaviour to refresh the display every X cycles ?
- If the first seconds correctly appear before crashing, is there an increase of memory used by GAMA ?

[2022-07-15 06:31] AlexisDrogoul opened #3465 "Monitor view: either include it in the layout or in/near the parameters view"
The view containing the monitors described in experiments behaves quite badly with the layout of display views and, even if it is moved, its position is not remembered from one session to another.

<img width="1028" alt="New Model gaml 2022-07-15 13-15-50" src="https://user-images.githubusercontent.com/579256/179163427-742919a6-cc85-4e3e-843c-a3af964a11da.png">

Its behaviour should be more in lin

[2022-07-15 07:02] hqnghi88 commented on #3465
Dear Alexis
I prefer to suppress it. And give more dynamic to the definition of “parameter view”, may be just a “View” in which modeler can decide it will be some combinations of inputs/outputs

[2022-07-15 08:18] lesquoyb commented on #3465
I prefer choice 3, choice 1 would be acceptable too, but I feel like monitors are deeply linked to simulation parameters so there really is no need to separate them. Maybe we can add a foldable section for monitors in the parameter view

[2022-07-15 08:34] lesquoyb commented on #3425
Here is a minimal (non-)working experiment:
[code]
The problem really seem to come from the chart + opengl as commenting the chart inside the display or switching to java2D solves the problem.

to sum up what was already tried:
* synchronize the output: no difference
* type of chart: no difference
* playing with the flags `use_old_animator` and `use_native_opengl_window`: no difference
* Installin

[2022-07-18 08:37] agrignard commented on #3433
Yes thank you @hqnghi88 I am testing this today and so far so good it seems pretty promising

I just see ones this message but it doesn't crash
```Points of LinearRing do not form a closed linestring```

Not sure if we can consider this issue as closest or if we keep it open until we have a closer look at the potential issue with geotools.

[2022-07-21 10:10] lesquoyb opened #3466 "Preparing RC2"
Not really an issue but it's easier to keep track of the progress.
To release 1.8.2-RC2 we need to:

# TODO **Before** release

- [x] Change the version number on all the installers, with and without jdk
  - [x] windows installer
  - [x] linux .deb installer
  - [x] macOS .dmg
- [x] Fix all the models in `Library models` and `Plugin models` that do not compile anymore or have warnings

# TODO **Af

[2022-07-25 06:25] #3466 closed, assigned to lesquoyb

[2022-07-26 02:39] lesquoyb opened #3467 "Accessing the circuit attribute of graphs throws NullPointerException"
**Describe the bug**
Using the `circuit` attribute of a graph raises a NullPointerException when running a model from Linux or macOS, the problem also happens in Windows but doesn't stop the model from running for some reason.

**To Reproduce**
Try to run this model:
[code]

[2022-07-26 08:48] lesquoyb commented on #3467
I commited some changes in the `getCircuit` method, it seems to fix the problem but I'm not well versed in the graph module so I'd like someone else to double check it to make sure it didn't break anything else.
Also that piece of code, as it was previously written, should have never worked, so there are maybe more bugs to dig in the graphs code

[2022-08-01 07:27] lesquoyb commented on #3457
@AlexisDrogoul You still had the problem if I remember correctly, I just tested on a macOS M1 and everything works fine, could you confirm that it is fixed for you too ?
There may be a cache issue in your case, as the bug fix comes from changes in the website code, so if you still have it maybe try to reload the page without the cache, or test with a fresh gama installation

[2022-08-01 15:30] AlexisDrogoul commented on #3457
It's working just great now ! Thanks guys !

[2022-08-02 02:08] #3457 closed, assigned to RoiArthurB

[2022-08-05 08:55] hqnghi88 opened #3468 "Meta-data for required plugin (or invisible pragma) of GAML syntax"
**Is your request related to a problem? Please describe.**
Trying to have dynamic installation plugins/features , i have problem with finding the right plugin that provide the extensions of GAML syntax

**Describe the improvement you'd like**
For example, with a standard GAMA , when we edit the model that use extensions syntax (R, netcdf, Gaming, launchpad....) , an error syntax occurs ("xxx was n

[2022-08-07 03:23] #3465 closed, assigned to AlexisDrogoul

[2022-08-07 03:38] AlexisDrogoul commented on #3468
There was once an implementation that allowed that (emitting errors when the required plugins were not present), but it was heavily relying on the metadata in the workspace, something that will probably not be useful in your case as you rely on textual files. So the only practical solution I see is :

1. At compilation time, establish the list of plugins necessary for the compilation of the model.

[2022-08-07 09:41] hqnghi88 commented on #3468
Dear Alexis,
Yes, i agree that it is heavy with an addition to each element everywhere. So yes, in the first time, if we can have somewhere, invisible pragma or even a config file, it could be great.
Thank you.

[2022-08-07 12:20] AlexisDrogoul commented on #3468
To be clearer, the pragma will be visible in the text file, probably like this :

![Image 2022-08-07 19-17-18](https://user-images.githubusercontent.com/579256/183290204-334aeecc-2ddf-4470-b26a-00a35ae9fc35.png)

or

<img width="411" alt="New Model1 gaml - Gama (runtime) 2022-08-07 19-20-42" src="https://user-images.githubusercontent.com/579256/183290272-50e4e266-fa10-4364-8a5d-b9cc9eafbcb3.png">

[2022-08-07 12:58] hqnghi88 commented on #3468
In fact, the command to install take the name of feature (group of plugins), ie, instead of msi.gama.core it should know to install ummisco.gama.feature.core . So i wonder if eclipse can provide this information from your 2 proposal or not? however it is something developers must specify if there is no way to findout in bundles manager.

[2022-08-08 02:42] lesquoyb commented on #3425
A few updates on that issue: there seem to have been a windows update that makes things a bit better (maybe also helped by the changes in the code), in my particular case most models work now at the exception of displaying an empty chart (adding data fixes it) and zooming.
I conducted a few different test on my computer and @LBIRE's and the issue seems to be related to performances, as it's still

[2022-08-08 03:01] lesquoyb commented on #3460
I tried the new bug fix, nothing changed on my computer.
In case it can help: I noticed that the icon size is smaller with a scaling of 200%:
![image](https://user-images.githubusercontent.com/6374469/183329833-e232610c-5498-4fdc-a34d-50d86aec67ca.png)
than with a scaling of 125%:
![image](https://user-images.githubusercontent.com/6374469/183329882-c1f23e11-593e-43d1-abd5-76d16c82bc82.png)
 which

[2022-08-08 10:20] AlexisDrogoul commented on #3460
The last commit effectively does not solve the issues in the global toolbar, which is described in the plugin.xml (see the screenshot) and not programmatically -- so all the changes are managed by SWT directly.

![Image 2022-08-08 17-02-32](https://user-images.githubusercontent.com/579256/183393219-682c1a0c-0bd3-4ca0-bb4f-ccd46d5e8200.png)

This issue is maybe related to this : https://bugs.eclips

[2022-08-09 08:54] lesquoyb opened #3470 "Die in global species doesn't end simulation"
**Describe the bug**
When trying to stop (not pause) a simulation with a `do die;` in the global species it doesn't kill everything anymore, and the simulation somehow continue running. Also, if I try to call the global species' die action from another species, I'll get the same behaviour + in eclipse's console some java errors raised: `reportAndThrowIfNeeded : Agents stack is empty`

**To Reprodu

[2022-08-09 09:19] hqnghi88 commented on #3470
The simulation is dead, you can check in interactive console:

<img width="204" alt="image" src="https://user-images.githubusercontent.com/6105384/183612522-eb427395-74a8-46f0-a69b-d83c8eb52a05.png">

If you want it to stop (same as click on Red button), you should kill the experiment
<img width="322" alt="image" src="https://user-images.githubusercontent.com/6105384/183612948-5094337f-9d3c-4dc3-b

[2022-08-09 09:39] lesquoyb commented on #3470
Ho I see, I'll update the documentation to make it clearer then.
But what about the errors in java when die is called from another species ? It doesn't seem like normal behaviour to me (I actually stumbled upon those errors while using the "stop" command of gama-server btw)

[2022-08-09 11:47] hqnghi88 commented on #3470
I agree that the error message is something not good. It come from the ask statement that insde you kill the simulation then everything will lost after that. But i cant figure out how to solve, may be a condition or restrucutre of ExecutionScope
<img width="349" alt="image" src="https://user-images.githubusercontent.com/6105384/183639512-76f29ad7-b57c-4246-826e-f96c03e48d57.png">
@AlexisDrogoul an

[2022-08-09 15:22] AlexisDrogoul commented on #3470
Well. Actually there should be nothing to worry about really. Just a scope ending up in a weird state while its top-level agent is begin killed. It is normally harmless.

[2022-08-10 02:14] #3470 closed, assigned to nobody

[2022-08-10 04:30] minhduc0711 opened #3472 "Add a `continue` statement"
**Describe the improvement you'd like**
Many programming languages support the keyword `continue`, which is used in a loop to skip the rest of the code and move to the next iteration immediately. I personally find this keyword very useful when the branching logic inside the looped code gets a bit complicated.

**Describe alternatives you've considered**
I don't think that such a statement exists i

[2022-08-10 08:59] AlexisDrogoul commented on #3468
I have a proof of concept working well with the plugins (not really with the features, though, but I keep digging, as I might retrieve this information from the Equinox Platform); only concern is that hiding the pragma in the editor is really complicated...

[2022-08-10 09:09] hqnghi88 commented on #3468
Should we hiding them? I think it is not very important to hide as it is a accepted syntax like other pragma or include statement?
or Folded block by default is possible?

[2022-08-11 03:23] AlexisDrogoul commented on #3468
OK. I obtain something like this (automatically added and updated every time you compile a model, which means every time you edit it):

<img width="378" alt="Statistic Operators gaml - Gama (runtime) 2022-08-11 10-21-28" src="https://user-images.githubusercontent.com/579256/184059809-9e61f556-239f-4a4f-b8d6-90ee69e442c9.png">

We might want to eliminate the "core" plugins (those distributed by def

[2022-08-11 03:36] hqnghi88 commented on #3468
the msi.gama.core, yes, but for me , if this metadata exists, i think we can base on the minimum gama (no core.extensions installed by default), they can be install when needed also from gama p2 repository?

[2022-08-11 03:37] hqnghi88 commented on #3468
And "every time edit" you mean any typing in or just when we save model? It should only when we save the modifications, yes?

[2022-08-11 04:14] AlexisDrogoul commented on #3468
Models are compiled continuously. The overhead added is negligible (just browsing through the AST to get information). So every time you type something, the information is updated

![screencast 2022-08-11 11-13-07](https://user-images.githubusercontent.com/579256/184063738-f1deca44-b17b-4009-bb3d-aabd75f37619.gif)

[2022-08-11 17:41] AlexisDrogoul opened #3473 "Features tab in "Installation details..." is empty"
**Describe the bug**
When invoking "Installation details..." in the dialog that pops up when choosing the "About Gama" menu, the tab that should list the features is empty.

![Gama (runtime) Installation Details 2022-08-12 00-34-33](https://user-images.githubusercontent.com/579256/184197457-f09c35c5-7f31-4654-9171-f3144d13ad9d.png)

When clicking on "Plugins", however, everything is there

![Gama

[2022-08-11 17:53] AlexisDrogoul commented on #3473
OK. By following https://www.java-forum.org/thema/installation-details-feature-tab-empty.94919/, and installing the "configurator" plugin mentioned in it, I was able to have some of the features listed (but not all):

![Gama (runtime) Installation Details 2022-08-12 00-51-27](https://user-images.githubusercontent.com/579256/184201789-760d23e3-d192-4dad-a31c-d33393c07068.png)

Especially, all the G

[2022-08-12 02:28] AlexisDrogoul commented on #3473
The question is why only the Xtext-related features show up ? @RoiArthurB @hqnghi88 any idea ?

[2022-08-12 02:38] RoiArthurB commented on #3473
I'll give it a deeper look next week if not solved, but at first, I thought that while compiling we're overriding features by modules (then the feature are somewhat lost from the feature category).

But your last screenshot seems to come from Eclipse's runtime where some features are explicitly called... (`ummisco.gama.product/gama.runtime.product`, l.273-281)
[code]

So I don't really know... Did

[2022-08-12 19:27] hqnghi88 commented on #3473
https://www.eclipse.org/forums/index.php/t/94265/
It seems to be the naming convention problem. By adding update.configurator and change the name (ie ummisco.gama.feature.dependencies to msi.gama.ext , because the feature must contains a plugin with the same name)
i can get the feature "msi.gama.ext" (which was in fact ummisco.gama.feature.dependencies )
<img width="860" alt="image" src="https://u

[2022-08-13 01:11] AlexisDrogoul commented on #3473
Ah right... It's probably that. A bit of a hassle, but it seems to be the only way to have features show up in the "Features" tab but also to gather the features in order to identify which one contains a given plug-in (see #3468).

My concern is also that its contradicts the purpose of designating the "branding plug-in" in a feature -- which is supposed to represent the plugin that contains `about

[2022-08-13 09:43] hqnghi88 commented on #3473
Yes, you are right, branding plugin is the linkage can be use instead of naming convention
<img width="369" alt="image" src="https://user-images.githubusercontent.com/6105384/184478398-e5c2181c-be98-423a-b23d-0ef3a5ad9b5d.png">

<img width="653" alt="image" src="https://user-images.githubusercontent.com/6105384/184478357-a75ea92b-3e3f-4516-8adb-95712558c22b.png">

[2022-08-19 02:08] AlexisDrogoul commented on #3468
So -- time to make a decision now. Should we install this feature or no (i.e. both adding the metadata / pragma to the files and verifying the presence of plugins at compile time) ? As a matter of fact, it can also be controlled by a preference, but allowing it to be turned off a little bit defeats the purpose ...

[2022-08-19 02:10] AlexisDrogoul commented on #3473
This doesn't work for me. I have a branding plugin but the about.ini and other information are not read... Wonder why ?

[2022-08-19 02:13] hqnghi88 commented on #3468
Dear Alexis,
I prefer to implement it in 1.8.2, and with the pref off by default, we will have time to decide and find solution to the non-computer scientist after that.

[2022-08-19 04:37] AlexisDrogoul commented on #3468
One possible issue about this: display extensions are also included in the requirements (as regular plugins), which means we would get an error if running in a headless environment. Should we simply emit a warning in that case ?

EDIT: but how do we know a missing plugin is a "display" plugin if we do not load it ? 🤔

[2022-08-19 08:36] lesquoyb opened #3474 "Add a command to run gama-headless on all platform"
**Is your request related to a problem? Please describe.**
Currently on linux, if you installed gama through the `.deb` file or `aur` you can start an instance of gama headless with the `gama-headless` command. I find this possibility very convenient as it's typically the way you would start any kind of server (instead of going to the installation folder, headless subfolder and run a script). The

[2022-08-19 09:22] hqnghi88 commented on #3473
I commit the change in all main feature in the product, the release show them in Feature Tab. I did not try about.ini, but have you the branding in Feature Tab yet?

[2022-08-19 09:32] AlexisDrogoul commented on #3473
Well. Doesn't work for me. Wirth `org.eclipse.update.configurator` installed, I can see (some?) Eclipse features, but none of the GAMA ones. Strange.

[2022-08-19 09:44] AlexisDrogoul commented on #3473
When I launch GAMA, I make sure the features are installed by using `p2` (a rather complicated way, but I havent found better):

[code]

This gives me:

[code]

But when I invoke "About GAMA" and "Installation details", the list I obtain is :

<img width="382" alt="Gama (runtime) Installation Details 2022-08-19 16-43-51" src="https://user-images.githubusercontent.com/579256/185592223-98b861db-a6fa

[2022-08-19 11:39] hqnghi88 commented on #3473
I will try soon on M1. But you are always in eclipse launch? The same for the release?

[2022-08-19 12:02] AlexisDrogoul commented on #3473
Funny. The latest release shows this :

<img width="382" alt="Gama Installation Details 2022-08-19 18-59-05" src="https://user-images.githubusercontent.com/579256/185613908-01d1c8fb-cf34-410f-9945-4efc884e15e5.png">

So now I see some of the GAMA features (probably the ones you changed ?), but none of Eclipse :)
I'm curious to see if adding the about.ini with an icon works

[2022-08-19 12:47] hqnghi88 commented on #3473
Yes same here. No eclipse’s ones. But it is relate with product? All these shown are explicitly in gama product. It is not all thing in plugin folder

[2022-08-19 13:44] AlexisDrogoul commented on #3472
I implemented it. I use this occasion to refresh a bit the `break` statement too. I need to make a bit more tests, but it should be committed soon

[2022-08-21 05:43] AlexisDrogoul opened #3476 "Break down large / long methods into smaller pieces to enable online compilation"
In most of the reports or papers related to performances in Java, the same advice is provided: that of breaking down long methods found in the classes when it is possible.

Not only does it improve readability (by providing explicit names to chunks of code in sub-methods), but also reusability (when methods share similar sub-methods) and, most importantly, the possibility for the JDK to use compil

[2022-08-21 09:24] AlexisDrogoul opened #3477 "Continuous integration breaking: presence of illegal characters in commit name ?"
**Describe the bug**
One of the latest commit (https://github.com/gama-platform/gama/commit/fdacafd3e3cb45bf6c9bc893f05a4e008535a80b)  has made the continuous integration break (https://github.com/gama-platform/gama/runs/7937699639?check_suite_focus=true) but it doesn't seem to be because of Java / compilation / test problems, as the action breaks on :

![Image 2022-08-21 16-23-00](https://user-im

[2022-08-21 09:34] AlexisDrogoul commented on #3477
To be sure, I've added three new files to a new commit (https://github.com/gama-platform/gama/commit/9627a6d96358b86aa206485de3a45211683ed78d), where I did not use the `[` nor `]` characters. Everything went fine.

[2022-08-21 10:00] AlexisDrogoul commented on #3460
Should be tested with the new version of Eclipse (either 2022-06  - https://www.eclipse.org/downloads/packages/release/2022-06/r/eclipse-ide-java-and-dsl-developers - or the upcoming 2022-09 - https://download.eclipse.org/eclipse/downloads/drops4/S-4.25M3-202208171800/ -)

[2022-08-21 10:03] RoiArthurB commented on #3477
Hi, the problem comes from the double quote `"` not the brackets, I'll push a fix for it quickly :)

[2022-08-22 09:53] RoiArthurB commented on #3477
Fixed with b97bfcd2afe2c1446e274867b4d02788944e325d :)

Feel free to reopen if bug re-occurs

[2022-08-22 09:53] #3477 closed, assigned to AlexisDrogoul, hqnghi88, RoiArthurB

[2022-08-22 10:20] RoiArthurB commented on #3460
@AlexisDrogoul I'm building some GAMA with Eclipse 2022-06, I let you try to see if it fix the issue and doesn't create any new ones : https://github.com/RoiArthurB/GAMA-182-test-builder/actions/runs/2903093404

PS: On my Linux I never saw this issue and can't reproduce it :/

[2022-08-26 03:17] lesquoyb opened #3478 "Have GamaServer's answers follow a clear format"
**Is your request related to a problem? Please describe.**
Currently the answers to commands sent to gama-server do not follow a clear pattern and sometimes lack informations. From a client's point of view, it would be easier to have a well defined format that applies to all answers.

**Additional context**
Instead of building one ourselves we could probably reuse the HttpResponse class

[2022-08-26 03:32] lesquoyb opened #3479 "Add output redirection to GamaServer"
**Is your request related to a problem? Please describe.**
Currently all the outputs of the models running on gama-server are displayed in the gama-server console, but the client never gets it.

**Describe the improvement you'd like**
The client should be able to ask for a connection to have the output redirected to it or not, maybe via a parameter in the "launch" or "play" (and reload) commands.

[2022-08-26 03:36] lesquoyb opened #3480 "In GamaServer add a parameter to set the number of steps to execute in the step command"
**Is your request related to a problem? Please describe.**
The `step` (and `stepBack`) command only executes one step of the simulation, adding a parameter to execute a different number of steps could be convenient for the clients.

[2022-08-29 09:53] lesquoyb commented on #3425
After further investigations the bug really seems to be rooted in the code of the gpu driver, so not much we can do on our side.  And other softwares having the same issue all just recommend the user to play with the computer settings (energy settings, switch to an other gpu etc.) to try and make the software more stable, but none seem to have solved it.
The good news is that last week AMD release

[2022-08-29 10:28] AlexisDrogoul commented on #3425
@lesquoyb that would be a fantastic good news !

[2022-08-31 07:12] chapuisk commented on #3474
Hey @lesquoyb ,
The bash script to launch Gama headless instances is totally functional on MacOS, either M1 or Intel. I see no specific limitations to windows based platform running this script either. Can you be more precise on your request?
Best

[2022-08-31 08:20] lesquoyb commented on #3474
Hello @chapuisk
Yes the scripts are working well, my idea was just to add an alias to those scripts in the user's terminal while doing the installation process. Then the user could run gama in headless mode as if it was a separate program/command, so no bug or anything to fix, just a small improvement in the way to call it for the end-user.

Also you are right, we must distinguish better those two

[2022-08-31 08:40] Quittqick opened #3482 "Headless hpc memory leaks"
**Describe the bug**
I'm trying to run COMOKIT model headless using xml files to run several experiments on a server. I need to use -hpc options to decrease the computing time. However when i use -hpc options the memory used increases much more than intended
I could reproduce the bug using the evacuation model of Gama.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Memory_test

[2022-08-31 15:06] Quittqick commented on #3482
### Update:

I'm sorry, I noticed i made a mistake in my previous post. I mistyped the allocated memory with the -m conducing to give more memory than available that's why it wasn't working for the Evacuation model. Knowing that, I didn't manage to reproduce the bug using the Evacuation model. The actual result for the Evacuation model are in screenshots 1 and 2.

Then I'll update my post to repro

[2022-09-06 09:11] chapuisk opened #3483 "[Feature request] Inspector or visualization of the scheduler"
**Is your request related to a problem? Please describe.**
When you have few agents, each having reflexes, it can be difficult to get the big scheduling picture, i.e. what is the scheduling order of agents, what are the reflexes triggered over which conditions...

**Describe the improvement you'd like**
Having a display or a specific inspector of the scheduler, to help understand scheduling of the

[2022-09-06 15:08] chapuisk opened #3484 "[Feature request] When using a grid with even neighbors, having access to both Von Neumann and Moore neighborhoods"
**Is your request related to a problem? Please describe.**
When using grid modelers often assume free to define neighborhoods. It is possible to define neighbors cells at a certain distance, but always using predefined neighbors size.

**Describe the improvement you'd like**
I think it would improve usability to be able to dynamically access to 4 or 8 neighbors on the fly (like in netlogo)

**Desc

[2022-09-09 02:41] AlexisDrogoul commented on #3460
Problem has been fixed on the SWT side (https://github.com/eclipse-platform/eclipse.platform.swt/pull/327), but it won't be out for 4.25 (Eclipse 2022-09). Should we wait til December ?

[2022-09-09 03:06] lesquoyb commented on #3460
I don't think waiting to try with the next release would be an issue considering that there will still be some work going on until at least October (and the release could be out before December like it was the case for the September release)

[2022-09-09 03:08] AlexisDrogoul commented on #3482
Hi,

I am not completely sure that I understand what the real issue is here. Is it the fact that headless COMOKIT experiments take too much memory compared to their counterparts in UI GAMA ? Or the fact that headless operations do not release the memory between two runs of experiments ?

Alexis

[2022-09-09 05:27] AlexisDrogoul opened #3485 "When running GAMA using Eclipse 4.24 (2022-06) projects are marked with a warning"
**Describe the bug**
All the projects in the navigator are marked with a warning sign, but there are no warnings emanating from GAML (see screenshot)

**Reason**
The platform committers have changed in 4.24 the behaviour of workspace encodings here (https://bugs.eclipse.org/bugs/show_bug.cgi?id=479451) and a warning is now emitted when no explicit encoding is set on a project. However, the GAMA wo

[2022-09-09 07:14] AlexisDrogoul commented on #3485
A temp fix has been committed. It will need to be removed at some point after GAMA moves to Eclipse 4.25, as the preference for not emitting the warning should exist in this version.

[2022-09-09 07:14] #3485 closed, assigned to AlexisDrogoul

[2022-09-09 07:17] AlexisDrogoul commented on #3483
Can you provide a sketch of what you'd like to see ? And/or what you'd like to access besides what you can already do with the `schedules: ` facet (https://github.com/gama-platform/gama/tree/GAMA_1.8.2/msi.gama.models/models/GAML%20Syntax/Scheduler) ?

[2022-09-09 07:36] AlexisDrogoul commented on #3468
Since I fixed #3485 , I realised that we have the possibility to save some metadata inside the projects. Not as efficient as putting it in the files, but it could maybe host a folder where we would have a file per plugin, with some information on the plugin (update site, etc.) + the list of model files inside this project that require it. And we could also save some information like whether it is

[2022-09-09 10:41] AlexisDrogoul commented on #3473
I am in the process of adding "branding plugins" to the features, so that (1) we do not have to denaturate regular plugins to serve this role; (2) we can add icons + small explanation text to the features.

Besides adding them to the features, is there anything else I should do @hqnghi88 @RoiArthurB ?

<img width="187" alt="Eclipse Workspace for GAMA 1 8 2022-09-09 17-40-38" src="https://user-imag

[2022-09-12 13:16] chapuisk commented on #3483
Here is a quick sketch of an hypothetical model with species A and B and a grid. The idea is mainly graphical, following any activity diagram, and because it is always sequential, should be quite linear (except for reflexes with conditions, but no need to depict them)

<img width="834" alt="Screen Shot 2022-09-12 at 15 09 27" src="https://user-images.githubusercontent.com/13599506/189662164-c195dd

[2022-09-13 11:10] AlexisDrogoul commented on #3473
OK. Following the commits (and some other changes), it seems to be working. The features are correctly listed in the latest release. Tested on macOS M1, does it work on Windows / Linux as well so that we can close this issue ?

<img width="382" alt="Gama Installation Details 2022-09-13 18-08-44" src="https://user-images.githubusercontent.com/579256/189886343-5d5d250d-e9d0-4b34-86d9-bfaea9b8f509.pn

[2022-09-13 14:27] chapuisk opened #3486 "[Batch] batch experiment from tutorial Predator Prey runs silently into errors"
**Describe the bug**
When dealing with batch experiment on a model of the library, i.e. predator prey ``model 13.gaml``, the execution slow drastically at some random number of replicates (optimization method). But there is no error message, but simulations get very slow and experiment never ends. I tried with git version and got an error from eclipse (which is not a Gama error) but I cannot find

[2022-09-13 14:56] AlexisDrogoul commented on #3486
I cannot reproduce it in the git version (between 110 and 144 simulations in ~30s each time). What error do you get ?

[2022-09-13 15:01] AlexisDrogoul opened #3487 "Parameters sets do not display correctly in the batch summary panel"
**Describe the bug**
Launch any batch experiment (like for instance the one mentioned in #3486 ) and look at the summary panel.
The parameters sets are displayed using the default Java toString() method, which makes this display useless

**Expected behavior**
That the parameters sets are displayed in a way which allows to see parameters names and values.

**Screenshots**
<img width="585" alt="Mode

[2022-09-13 15:16] hqnghi88 commented on #3473
It works on windows 11.
<img width="700" alt="image" src="https://user-images.githubusercontent.com/6105384/189940227-4e6287ef-b07b-4df6-aa1e-f4236ad0fc03.png">

[2022-09-13 19:24] #3452 closed, assigned to ptaillandier

[2022-09-13 19:24] #3395 closed, assigned to nobody

[2022-09-13 19:26] AlexisDrogoul commented on #3473
Unless it wouldn't work (for mysterious reasons) on Linux, I consider this to be fixed.

[2022-09-13 19:26] #3473 closed, assigned to AlexisDrogoul, hqnghi88

[2022-09-14 12:44] chapuisk commented on #3486
Here is the stack trace of the error launch in eclipse (not in Gama).

![Screen Shot 2022-09-14 at 14 22 41 (2)](https://user-images.githubusercontent.com/13599506/190153155-1250192a-5564-4b06-bdec-d5353d1108fb.png)

By the way, I have been able to reproduce it in 1.8.2 RC1 and RC2, and with the git version (from which I took the capture of eclipse )

[2022-09-14 12:55] chapuisk commented on #3486
Ok @AlexisDrogoul, I may have misunderstood what's going on. It seems that simulations are running, but Gama is glitching (parameter windows blinks and the display of simulations running update every n simulations or show nothing). It may not impair the experiments and simulation but outputs are broken, and eclipse have an error.

[2022-09-14 14:15] AlexisDrogoul commented on #3486
I do not get this error. Can you show me your preferences related to `Execution` ?

[2022-09-15 00:21] AlexisDrogoul commented on #3487
Tested for different combinations of batch parameters on the latest release. Please reopen if some obscure combination does not display well.

[2022-09-15 00:21] #3487 closed, assigned to AlexisDrogoul

[2022-09-15 04:02] AlexisDrogoul commented on #3472
We can safely consider this issue as "solved". Reopen if it is not the case.

[2022-09-15 04:02] #3472 closed, assigned to AlexisDrogoul